<div>
    <table *ngIf="relResCoinsPollings" class="relResCoinsPollingsTbl">
        <tr>
            <th class="">#</th>
            <th class="">Polling Info</th>
            <th class="">Vote it/your vote</th>
        </tr>
    </table>
    <div style="max-height: 500px; overflow-y: scroll;">
        <table *ngIf="relResCoinsPollings" class="relResCoinsPollingsTbl">

            <tr *ngFor="let aReqRelRes of relResCoinsPollings; index as i; even as isEven" [class.isEven]="isEven">
                <td title="polling ({{ gUtils.hash6c(aReqRelRes.pll_hash) }})">{{ i+1 }}</td>

                <td>
                    <div class="prCol prf4">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Requester: </div>
                                </td>
                                <td>
                                    <div class="hashRefCol2" [style.background-color]="aReqRelRes.creatorColor"
                                        title="{{ aReqRelRes.creatorColor }}">
                                        {{ gUtils.shortBech16(aReqRelRes.creatorColor) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Title: </div>
                                </td>
                                <td>{{ aReqRelRes.pollingTitle}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Eye Block: </div>
                                </td>
                                <td>{{ aReqRelRes.eyeBlock }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Ref: </div>
                                </td>
                                <td>{{ aReqRelRes.pll_ref }}</td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td>
                    <div class="prCol pollChron">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Status: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.pllStatus }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Start Date: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.pll_start_date }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (Yes/No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.pllEndDateYes }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.pll_longevity }} Hours</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.pllEndDateAbstainOrNo }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ (aReqRelRes.pll_longevity*1.5) }} Hours</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td>
                    <div class="prCol pollInf">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Profile: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.ppr_name }}</div>
                                </td>
                                <td>
                                    <div class="vLeft" title=""
                                        [style.background-color]="((aReqRelRes.pll_y_value-aReqRelRes.pll_n_value)>=0 ? 'green':'red')">
                                        {{ ((aReqRelRes.pll_y_value-aReqRelRes.pll_n_value)>=0 ? 'Win':'Missed') }}
                                        {{ gUtils.sepNum(aReqRelRes.pll_y_value-aReqRelRes.pll_n_value) }} score
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Perform Type: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.ppr_perform_type }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Vote Counting Method: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aReqRelRes.ppr_votes_counting_method }}</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="prCol pollInf">
                        <div style="text-align: center;">Ballots</div>
                        <table>
                            <tr>
                                <td>
                                    <div class="vResHd">&nbsp; </div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 91px;">Voters</div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 137px;">Voters Shares</div>
                                </td>
                                <td>
                                    <div class="vResHd">Effective Vote</div>
                                </td>
                                <td>
                                    <div class="vResHd">Votes Value</div>
                                </td>
                                <td>
                                    <div class="vResHd">Your Vote Coefficient</div>
                                    <div class="yGDtl">(Based on your shares & time passed of polling start)</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Yes: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_y_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_y_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_y_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_y_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aReqRelRes.yourGainY }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Abstain: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_a_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_a_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_a_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_a_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aReqRelRes.yourGainA }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">No: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_n_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_n_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_n_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aReqRelRes.pll_n_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aReqRelRes.yourGainN }} %</div>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="prCol pollInf rPol3">
                        <button mat-raised-button (click)="refreshPollingStatus(aReqRelRes.pll_hash)"
                            style="background-color:rgb(117, 247, 84)" title="{{ aReqRelRes.pll_hash }}">
                            Refresh status
                        </button>
                        <button mat-raised-button (click)="reviewBallotAndComments(aReqRelRes.pll_hash, 1)"
                            style="background-color:rgb(243, 214, 135)">
                            See Ballots & Comments
                        </button>
                    </div>
                </td>


                <td *ngIf="(aReqRelRes.machineBallot==null) && (aReqRelRes.pllStatus=='Open') " class="yVoColTd">
                    <div class="yVoCol">
                        Comment & Vote:
                        <textarea [(ngModel)]="voteComment" class=""> </textarea>
                        <mat-form-field>
                            <mat-select [(ngModel)]="voteValue">
                                <mat-option *ngFor="let vOpt of voteOptions" [value]="vOpt[0]">
                                    {{ vOpt[1] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button (click)="voteReleaseReseve(aReqRelRes.pll_hash, 'ToBuffer')"
                            style="background-color:rgb(117, 247, 84)">
                            Vote
                        </button>
                        <button mat-raised-button (click)="voteReleaseReseve(aReqRelRes.pll_hash, 'ToNetwork')"
                            style="background-color:rgb(111, 182, 93)">
                            Vote & Broadcast
                        </button>
                    </div>
                </td>

                <td *ngIf="aReqRelRes.machineBallot!=null" class="yVoCol">
                    Your Vote: {{aReqRelRes.machineBallot.lbtVote}}
                    <br>
                    Your Sahres: {{aReqRelRes.machineBallot.lbtVoterShares}}
                    <br>
                    Your Percent: {{aReqRelRes.machineBallot.lbtVoterPercent}}
                </td>


            </tr>
        </table>
    </div>
</div>