<table>
    <tr>
        <td>
            <div class="cntHdOut">
                <div class="cntHdIn">
                    fair effort, fair gain, win win win
                </div>
            </div>
        </td>
    </tr>


    <tr>
        <td>

            <div style="width: 100%;">
                <recorded-proposals [recordedProposals]="recordedProposals" [pdErrMsgLv]="pdErrMsgLv"
                    (voteProposalParent)="voteProposal($event)"
                    (reviewBallotAndCommentsParent)="reviewBallotAndComments($event)"
                    (refreshPollingStatusParent)="refreshPollingStatus($event)">
                </recorded-proposals>
            </div>
        </td>
    </tr>



    <tr>
        <td>
            <recorded-adm-pollings> </recorded-adm-pollings>
        </td>
    </tr>



    <tr>
        <td>

            <div class="draftFrmCntnrOut" style="width:100%">
                <div class="draftFrmCntnrIn">
                    <div class="notifyCntnr">
                        {{ pdErrMsg1 }}
                    </div>
                    <table>
                        <tr>
                            <td colspan="2">
                                <b>
                                    1. Create a Draft Proposal
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>title:</td>
                            <td><input [(ngModel)]="pdTitle" class=""></td>
                        </tr>
                        <tr>
                            <td>desacription:</td>
                            <td><input [(ngModel)]="pdDescription" class=""></td>
                        </tr>
                        <tr>
                            <td>tags:</td>
                            <td>
                                <input [(ngModel)]="pdTags" class="">
                                <br>Comma seperated (e.g. graphic, translate, consultant, testing, code review,
                                promoting,
                                bug report, documenting, audit, transcript, guide & educating stuff...)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Contribute usefulness:</mat-label>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="pdHelpLevel" (selectionChange)="calcAllGrowthRates()">
                                        <mat-option *ngFor="let level of levels" [value]="level">
                                            {{ level }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Contribute Hours:</mat-label>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="pdHelpHours" (selectionChange)="calcAllGrowthRates()">
                                        <mat-option *ngFor="let hour of hours" [value]="hour">
                                            {{ hour }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Proposal Cost:</mat-label>
                            </td>
                            <td style="text-align: right;">
                                {{ this.gUtils.microPAIToPAI(proposalCost) }} PAIs
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-label>Proposal Potentially Incomes:</mat-label>
                            </td>
                            <td style="text-align: right;" title="">
                            </td>
                        </tr>

                        <tr>
                            <td>Contribute incomes goes to account:</td>
                            <td>
                                <input [(ngModel)]="pdCotributerAccount" class="BechAddr">
                                <br>If you are going to get loan to apply your proposal insert an <b>Strict</b> address
                                of yours. by default it is an Strict Address and belongs to your machine default
                                Profile.
                                <br>You can also donate your contribute to others (charity, fundations, individuals...)
                            </td>
                        </tr>

                        <tr>
                            <td>Polling Longevity:</td>
                            <td>
                                <input [(ngModel)]="pdVotingLongevity" class=""> Hours
                                <br>The longness of period in which community can upvote (approval or YES vote) proposal
                                <br>The election longness can not be less than 24 hours
                            </td>
                        </tr>

                        <tr>
                            <td>Polling Profile:</td>
                            <td>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="pdPollingProfile" [(value)]="selected"
                                        (selectionChange)="fillPollProfDtl()">
                                        <mat-option *ngFor="let aPrf of pollingProfiles" [value]="aPrf.ppName"
                                            [disabled]="aPrf.pprActivated=='N'">
                                            {{ aPrf.ppName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="plPrClH">Polling Perform Type</div>
                                        </td>
                                        <td>
                                            <div class="plPrClH">Ballots Counting Method</div>
                                        </td>
                                        <td>
                                            <div class="plPrClH">Version</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="plPrClT">{{pollPerformType}}</div>
                                        </td>
                                        <td>
                                            <div class="plPrClT">{{votesCountingMethod}}</div>
                                        </td>
                                        <td>
                                            <div class="plPrClT">{{pollingVersion}}</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right;">
                                <button mat-raised-button (click)="prepareDraftProposal()"
                                    style="background-color:#F7A441">
                                    Prepare Proposal
                                </button>
                            </td>
                            <td>
                            </td>
                        </tr>

                    </table>

                </div>

                <div class="dftCntnr">
                    <div class="notifyCntnr">
                        {{ mDPNotiMsg }}
                    </div>
                    <div>
                        <b>
                            2. my draft proposals:
                        </b>
                    </div>
                    <table *ngIf="myDrafts" class="myDraftsTbl">
                        <tr>
                            <td class="monthHd">Date</td>
                            <td class="monthHd">Title</td>
                            <td class="monthHd">Contribute Hours</td>
                            <td class="monthHd">Contribute Usefulness Level</td>
                            <td class="monthHd">Description</td>
                            <td class="monthHd">Tags</td>
                            <td class="monthHd">Your Account
                                <br>use this account if you want apply for a proposal-loan
                            </td>
                            <td class="monthHd">Voting Longevity
                            </td>
                            <td class="monthHd" style="width: 660px;">Request a Loan or Apply directly</td>
                        </tr>
                        <tr *ngFor="let aDraft of myDrafts;">

                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol" style="margin-top: 20px;">{{ aDraft.pd_creation_date }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol">{{ aDraft.pd_title }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol">{{ aDraft.pd_help_hours }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol">{{ aDraft.pd_help_level }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol">{{ aDraft.pd_description }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="mintCol">{{ aDraft.pd_tags }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='proposal'"
                                title="use this account if you want apply for a proposal-loan">
                                <div class="topLine">&nbsp;</div>
                                <div class="hashRefCol1">{{ aDraft.pd_cotributer_account }}</div>
                                The address already has {{ gUtils.sepNum(aDraft.currentShares) }} Shares from Total
                                {{ gUtils.sepNum(aDraft.sumShares) }} Shares
                            </td>
                            <td *ngIf="aDraft.type=='proposal'"
                                title="use this hash {{ aDraft.pd_id }} as a reference in proposal payment transaction">
                                <div class="topLine">&nbsp;</div>
                                {{ aDraft.pd_voting_longevity }} Hours {{ aDraft.pd_vote_counting_method }}
                            </td>
                            <td *ngIf="aDraft.type=='proposal'">
                                <div class="topLine">&nbsp;</div>
                                <div class="draftBody">
                                    <button mat-raised-button (click)="fillLoanRequestForm(aDraft.pd_id)"
                                        style="background-color:rgb(176, 92, 255)">
                                        Prepare Loan Request
                                    </button>
                                    <br>
                                    <button mat-raised-button
                                        (click)="signAndPayProposalCosts({pdId:aDraft.pd_id, dTarget:'ToBuffer'})"
                                        style="background-color:rgb(117, 247, 84)">
                                        Sign and pay Costs & push to Block buffer
                                    </button>
                                    <br>
                                    <button mat-raised-button
                                        (click)="signAndPayProposalCosts({pdId:aDraft.pd_id, dTarget:'ToNetwork'})"
                                        style="background-color:rgb(117, 247, 84)">
                                        Sign and pay Costs & push to Network Immediately
                                    </button>
                                    <br>
                                    <button mat-raised-button (click)="deleteDraftProposal(aDraft.pd_id)"
                                        style="background-color:rgb(255, 160, 131)">
                                        Delete
                                    </button>

                                </div>
                            </td>


                            <td *ngIf="aDraft.type=='pledgeReq'" class="">
                                {{ aDraft.dplId }}
                            </td>
                            <td *ngIf="aDraft.type=='pledgeReq'" class="plgDrft">
                                <div class="mintCol"><b>Principal:
                                    </b>{{ gUtils.microPAIToPAI(aDraft.dplBody.redeemTerms.principal) }}</div>
                            </td>
                            <td *ngIf="aDraft.type=='pledgeReq'" class="plgDrft">
                                <div class="mintCol"
                                    title="{{ aDraft.dplBody.redeemTerms.repaymentSchedule }} time payment in year">
                                    <b>Annual Interest: </b>{{ aDraft.dplBody.redeemTerms.annualInterest }}
                                </div>
                            </td>
                            <td *ngIf="aDraft.type=='pledgeReq'" class="plgDrft">
                                <div class="mintCol"
                                    title="{{ aDraft.dplBody.redeemTerms.repaymentsNumber }} payments in total">
                                    <b>Repayment Amount:
                                    </b>{{ gUtils.microPAIToPAI(aDraft.dplBody.redeemTerms.repaymentAmount) }}
                                </div>
                            </td>
                            <td *ngIf="aDraft.type=='pledgeReq'" colspan="5" class="plgDrft">
                                <div class="hashRefCol2">
                                    <span [style.background-color]="aDraft.dplPledgeeColor">
                                        <b>Pledged to: </b></span> <span
                                        style="font-size:85%">{{ aDraft.dplPledgee }}</span>
                                </div>
                                <button mat-raised-button (click)="deleteDraftPledgeReq(aDraft.dplId)"
                                    style="background-color:rgb(255, 160, 131)">
                                    Delete
                                </button>
                                <div>
                                    <table>
                                        <tr>
                                            <td>
                                                <button mat-raised-button (click)="sendLoanRequest(aDraft.dplId)"
                                                    style="background-color:rgb(255, 201, 136)">
                                                    Send Loan Request via email
                                                </button>
                                            </td>
                                            <td>
                                                <input [(ngModel)]="lrPledgeeEmails[aDraft.dplId]" class="BechAddr">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <br><button mat-raised-button
                                                    (click)="sendLReqToAgora(aDraft.dplId, 'normal', 'ToNetwork')"
                                                    style="background-color:rgb(255, 201, 136)">
                                                    Send Loan Request to Developers/Proposal Agora by normal payment
                                                </button>
                                                <br><button mat-raised-button
                                                    (click)="sendLReqToAgora(aDraft.dplId, 'byPoW', 'ToNetwork')"
                                                    style="background-color:rgb(176, 92, 255)">
                                                    Send Loan Request to Developers/Proposal Agora by PoW
                                                </button>
                                                Visit room <span class="gToAg"
                                                    (click)="gUtils.redirectToPage('imagine/demos/Pre Proposals and Discussions')">Pre
                                                    Proposals and Discussions's Agora</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                            </td>
                        </tr>
                    </table>
                </div>


                <div *ngIf="lrPrincipal" class="loanRqCntnr">
                    <table>
                        <tr>
                            <td colspan="2">
                                <div class="notifyCntnr">
                                    {{ lrErrMsg }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>3. Request loan & apply for Polling</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div>
                                    <b>
                                        Request <span
                                            title="{{ gUtils.sepNum(lrPrincipal) }} &micro;PAIs">{{ gUtils.microPAIToPAI(lrPrincipal) }}</span>
                                        PAIs loan
                                    </b> Total payback will be <span
                                        title="{{ gUtils.sepNum(lrTotalRePaymentAmount) }} &micro;PAIs">{{ gUtils.microPAIToPAI(lrTotalRePaymentAmount) }}</span>
                                    PAIs
                                    <br>Because of proposal <span title="{{lrRef}}">{{ gUtils.hash6c(lrRef) }}...</span>
                                    ({{ lrHelpHours }} Hours * {{ lrHelpLevel }})
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{lrTitle}}</td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td>{{lrTags}}</td>
                        </tr>
                        <tr>
                            <td>Desacriptions:</td>
                            <td>{{ lrDescription }}</td>
                        </tr>
                        <tr class="loanClauses">
                            <td>The Pledgee:</td>
                            <td>
                                <input [(ngModel)]="lrPledgee" class="BechAddr">
                                <br>Insert the account of hte person who will give you loan.
                            </td>
                        </tr>
                        <tr class="loanClauses">
                            <td>The Arbiter(s):</td>
                            <td>
                                <input [(ngModel)]="lrArbiter" class="BechAddr">
                                <br>Optional
                            </td>
                        </tr>
                        <tr class="loanClauses">
                            <td>Annual Interest:</td>
                            <td>
                                <input [(ngModel)]="lrAnnualInterest" (keyup)="reCalcRepaymentInfo()">
                            </td>
                        </tr>
                        <tr class="loanClauses">
                            <td>Repayments Number:</td>
                            <td>
                                In order to payback entire Loan <b>{{ gUtils.sepNum(lrRepaymentsNumber) }}
                                    Repayments</b> should be
                                done. every 12 hours one repayments is setteled.
                                so full repayments takes <b>{{ gUtils.sepNum((lrRepaymentsNumber/2)+1) }} Days</b>
                            </td>
                        </tr>
                        <tr class="loanClauses">
                            <td>Repayment Amount(Every 12 hour Cycle):</td>
                            <td>
                                <input [(ngModel)]="lrRepaymentAmount" (keyup)="reCalcRepaymentInfo()" class="">
                                you can payback up to {{ gUtils.microPAIToPAI(lrOneCycleIncome) }} PAIs as is your
                                income for each
                                12 hour cycle.
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <button mat-raised-button (click)="bindProposalLoanPledge()"
                                    style="background-color:rgb(245, 220, 190)">
                                    Sign Request
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="lrPrincipal" class="loanRpyDtlOut">
                    <b>4. Loan Repayment Details</b>
                    <div class="dtlRow">
                        <div class="dtlInx" style="text-align: center;">number</div>
                        <div class="dtlDept" style="text-align: center;">Dept</div>
                        <div class="dtlRep" style="text-align: center;">Repayment Amount</div>
                        <div class="dtlInt" style="text-align: center;">Paid Interest</div>
                        <div class="dtlPrinc" style="text-align: center;">Paid Principal</div>
                    </div>
                    <div class="loanRpyDtlIn">
                        <div *ngFor="let aRep of lrRepaymentDetails;" class="dtlRow">
                            <div class="dtlInx">{{ aRep.repaymentNumber }}</div>
                            <div class="dtlDept" title="{{ aRep.balance }}">{{ gUtils.microPAIToPAI(aRep.balance) }}
                            </div>
                            <div class="dtlRep" title="{{ aRep.repaymentAmount }}">
                                {{ gUtils.microPAIToPAI(aRep.repaymentAmount) }}
                            </div>
                            <div class="dtlInt" title="{{ aRep.paidInterest }}">
                                {{ gUtils.microPAIToPAI(aRep.paidInterest) }}
                            </div>
                            <div class="dtlPrinc" title="remained {{ gUtils.microPAIToPAI(aRep.newBalance) }} ">
                                {{ gUtils.microPAIToPAI(aRep.paidPrincipal) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </td>
    </tr>



    <tr>
        <td>
            <div class="sharesCntnrOut">
                <div style="text-align: center;"> <b> Current contributor's shares </b> </div>
                <div>
                    <table *ngIf="holdersOrderByShares" class="shrsDtlTbl">
                        <tr>
                            <td class="shDtHd"></td>
                            <td class="shDtHd">Account</td>
                            <td class="shDtHd">Shares</td>
                            <td class="shDtHd">Percentage</td>
                        </tr>
                        <tr *ngFor="let aHolder of holdersOrderByShares; index as i">

                            <td>
                                <div class="">{{i}}</div>
                            </td>
                            <td>
                                <div class="mintCol">{{ aHolder.account }}</div>
                            </td>
                            <td>
                                <div class="mintCol" style="text-align: right; padding-right: 20px;">
                                    {{ gUtils.sepNum(aHolder.shares) }}</div>
                            </td>
                            <td>
                                <div class="mintCol">{{ (aHolder.shares/sumShares)*100 }}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>



    <tr>
        <td>
            <div style="text-align: center;">
                <button mat-raised-button (click)="calcAllGrowthRates()" style="background-color:rgb(255, 201, 136)">
                    Display Contribute Growth Rates Graphs
                </button>
            </div>
        </td>
    </tr>



    <tr>
        <td>
            <div style="width:100%">
                <a-growth *ngFor="let coinsInfo of coinsInfoArr;" [coinsInfo]="coinsInfo">
                </a-growth>
            </div>
        </td>
    </tr>



    <tr>
        <td>

        </td>
    </tr>



    <tr>
        <td>

        </td>
    </tr>


</table>