.cntHdOut {
    width: 100%;
    text-align: center;
}

.cntHdIn {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
    padding: 20px;
    margin:10px ;
    margin-bottom: 40px;
}

.hashRefCol1 {
    background-color: rgb(183, 223, 41);
    word-break: break-all;
    width: 200px;
}

.hashRefCol2 {
    background-color: rgb(236, 73, 236);
    word-break: break-all;
    width: 450px;
}

.dftCntnr {
    margin-left: 10px;
    float: left;
    width: 1200px;
    background-color: rgb(121, 141, 255);
}

.loanRqCntnr {
    float: left;
    width: 900px;
    background-color: rgb(163, 255, 186);
    margin: 0px 10px 10px 10px;
}

.loanRpyDtlOut {
    float: left;
    width: 520px;
    background-color: rgb(178, 210, 211);
    margin: 0px 10px 10px 10px;
    max-height: 400px;
}

.dtlRow {
    width: 520px;
    float: none;
}

.loanRpyDtlIn {
    width: 520px;
    background-color: rgb(178, 210, 211);
    margin: 0px 10px 10px 10px;
    max-height: 350px;
    overflow: scroll;
}

.dtlInx {
    padding: 3px;
    width: 25px;
    float: left;
    text-align: right;
}

.dtlDept {
    padding: 3px;
    width: 155px;
    float: left;
    text-align: right;
}

.dtlRep {
    padding: 3px;
    width: 95px;
    float: left;
    text-align: right;
}

.dtlInt {
    padding: 3px;
    width: 95px;
    float: left;
    text-align: right;
}

.dtlPrinc {
    padding: 3px;
    width: 95px;
    float: left;
    text-align: right;
}

.rDtlTd {
    padding: 2px;
    text-align: right;
}

.draftBody {
    word-break: break-all;
    margin: 5px;
}

.loanClauses {
    background-color: rgb(119, 197, 112);
    padding: 5px;
}

.loanClauses td {
    padding: 7px;
}

.draftFrmCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
}

.draftFrmCntnrIn {
    background-color: rgb(219, 219, 219);
    width: 800px;
    float: left;
}

.BechAddr {
    width: 430px;
    font-size: 80%;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 248, 157);
    color: darkmagenta;
    text-align: center;
}

.plgDrft {
    background-color: rgb(123, 190, 221);
}

.myDraftsTbl td {
    vertical-align: top;
    ;
}

.topLine {
    background-color: #F7A441;
    height: 2px;
    margin-top: 11px;
}

.plPrClH {
    background-color: rgb(201, 240, 253);
    padding: 2px;
}

.plPrClT {
    background-color: lightblue;
    padding: 2px;
}

.sharesCntnrOut {
    float: left;
    background-color: rgb(255, 243, 175);
    margin: 50px;
    width: 1200px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}

.shDtHd {
    font-weight: bold;
}
.gToAg{
    cursor: pointer;
    color: chocolate;
    font-style: italic;
}