<div>
    <div class="cPCntnrOut" style="width:100%">
        <div class="draftFrmCntnrIn">
            <div class="bPGPNotiCntnr">
                {{ cPNotiMsg }}
            </div>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="bndr15">
                            Post to your Wiki
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Page URI:</td>
                    <td>
                        <mat-form-field>
                            <mat-select [(ngModel)]="nbINameHash" [(value)]="selected">
                                <mat-option *ngFor="let anIName of userINames" [value]="anIName.imn_hash">
                                    {{ anIName.imn_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>iPGP key Label:</div>
                        <div class="pgL5"></div>
                    </td>
                    <td><input [(ngModel)]="iPLabel" class=""></td>
                </tr>
                <tr>
                    <td>desacription:</td>
                    <td><input [(ngModel)]="iPComment" class=""></td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <button mat-raised-button (click)="createAndBindIPGP('ToBuffer')"
                            style="background-color:#F7A441">
                            Create
                        </button>
                        <button mat-raised-button (click)="createAndBindIPGP('ToNetwork')"
                            style="background-color:#F7A441">
                            Create & Broadcast
                        </button>
                    </td>
                    <td>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>


<div>
    <div class="cPMCntnrOut" style="width:100%">
        <div class="draftFrmCntnrIn">
            <div class="bPGPNotiCntnr">
                {{ cPMediaNotiMsg }}
            </div>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="bndr15">
                            Record a Media on Chain
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Chose File:</div>
                    </td>
                    <td>
                        <input type="file" (change)="onFileChanged($event)">
                        <button (click)="onUpload('cFileToBuffer')" style="background-color:#F7A441">Upload to Block Buffer!</button>
                        <button (click)="onUpload('cFileToNetwork')" style="background-color:rgb(235, 222, 39)">Upload to Network!</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>File Label:</div>
                    </td>
                    <td><input [(ngModel)]="cPFileLabel" class=""></td>
                </tr>
            </table>

        </div>
    </div>
</div>