
.cPCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
    background-color: #9afada;
}
.bndr15{
    font-size: 110%;
    text-align: center;
}


.cPMCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
    background-color: #ad81be;
}
.ddd{
    
}