.filesList {
    line-height: 8px;
    font-size: 14px;
    margin-top: 11px !important;
    padding: 1px;
    margin-bottom: 2px !important;
    margin-block-start: 2px;
    height: 15px;
    vertical-align: top;
    display: block;
}

.filesList div {
    line-height: 8px;
    font-size: 14px;
    margin: 1px;
    padding: 1px;
    margin-bottom: 2px !important;
    margin-block-start: 2px;
    height: 15px;
    vertical-align: top;
    display: block;
}
