<div class="inH1">
    <h1 class="title">
        <p>Secure & Private messaging via imagine's blockchain</p>
    </h1>

</div>


<table>
    <tr>
        <td>
            <div>
                <div>Registered iNames</div>
                <div>
                    <div *ngFor="let anIName of recordedINames">
                        <div class="inTtl5">
                            
                            <a class='nav-link' (click)="gUtils.redirectToPage(anIName.iName)">{{ anIName.iName }}</a>
                        </div>
                        <div *ngIf="bindingDict[anIName.inHash]">
                            <div *ngFor="let anIPGP of bindingDict[anIName.inHash]['IPGP']" class="inBinded2">
                                <div class="sndMsgC4" (click)="openMsgConsole(anIPGP.iPGPHandle)"
                                    title="Send Private Message">{{ anIPGP.nbTitle }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </td>
        <td style="vertical-align: top;">
            <div class='msgCnt4'>
                <inner-messenger [iPGPHandle]="iPGPHandle" 
                [iPGPHandleShort]="iPGPHandleShort" 
                [iPGPHandleMap]="iPGPHandleMap" 
                ></inner-messenger>
            </div>
        </td>
    </tr>
</table>