.inH1 {
    text-align: center;
    color: lightgreen;
    background-color: rgb(143, 143, 84);
    padding: 50px;
}

.inTtl5 {
    background-color: #efeff5;
}

.inBinded2 {
    margin-left: 10px;
    background-color: rgb(255, 254, 247);
}

.sndMsgC4 {
    cursor: pointer;
}
.msgCnt4{
    width: 700px;
}