<div>
    <table>
        <tr>
            <td>
                <div style="min-height: 1200px; background-color: azure;">

                    <!-- <div title="{{ machineInfo.totalUtxosHint ? machineInfo.totalUtxosHint : '' }}">UTXOs: {{ machineInfo.totalUtxosSum ? gUtils.microPAIToPAI(machineInfo.totalUtxosSum) : 0 }} ({{ machineInfo.totalUtxosCount ? machineInfo.totalUtxosCount : 0 }})
            </div> -->
                    <div id="dagDtlId"></div>
                </div>
            </td>

        <!-- <td style="background-color: rgb(242, 248, 210); padding: 0px; margin:0px;">
            <div class="histBlk">
                {{ machineInfo.histBlocks ? machineInfo.histBlocks.length : 0}}
            </div>
            <div *ngIf="machineInfo.histBlocks">
                <div class="histBlk" *ngFor="let b of machineInfo.histBlocks"
                    [style.margin-bottom]="(b.hash==equalIn5DagsHash)?'21px':'0px'"
                    title="{{ b.date + ' ' + b.type }}">
                    <div class="histHash" [style.background-color]="gUtils.getBGColorByType(b.type)">
                        {{ b.hash.substr(1, 6) }}</div>
                    <div class="histLbl" [style.background-color]="b.hash">&nbsp;</div>
                </div>
            </div>
        </td> -->
        </tr>
    </table>
</div>