<div>
    <table class="resetTbl">
        <tr>
            <td>
                <div style="width:100%">
                    <table class="resetTbl">
                        <tr>
                            <td colspan="7" style="font-size: 21px">Machine time:
                                {{imgInfo ? imgInfo.machineTimeNormal: '0000-00-00 00:'}}<b>{{imgInfo ?  imgInfo.machineTimeBold: '00:00'}}</b>
                            </td>
                        </tr>
                        <tr>
                            <!-- <td><button (click)="refreshAndAnalyze()">Reresh & Analyze</button></td> -->
                            <td><button (click)="refreshDAG()">Reresh</button></td>
                            <td><button (click)="toggleDAGReq()">{{ recursiveRefreshIcon }}</button></td>
                            <td><b>{{imgInfo ?  imgInfo.cycleNumber: ''}}</b></td>
                            <td> From:
                                {{imgInfo ? imgInfo.cycleFromNormal: ''}}<b>{{imgInfo ?  imgInfo.cycleFromBold: '00:00'}}</b>
                            </td>
                            
                            <td></td>
                            <td><button (click)="equalnessDAG()">DAG Equalness {{ equalIn5DagsInx+1 }}
                                    {{ equalIn5DagsDate }}
                                </button> ({{ equalIn5DagsHash }}) </td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%">
                    <a-node *ngFor="let machineInfo of machinesInfoArr; index as i;" [machineInfo]="machineInfo"
                        [equalIn5DagsHash]="equalIn5DagsHash" (getMachineInfoParent)="getMachineInfo(i)"
                        (makeTrxParent)="makeTrx(i, $event)" (detailedDagParent)="detailedDag(i)"
                        (invokeBlockParent)="invokeBlock($event, i)"
                        (invokeAllMissedParent)="invokeAllMissed($event, i)"
                        (refreshMissedBlockParent)="refreshMissedBlock(i)" (wRaiseSharesParent)="wRaiseShares(i)"
                        (pushCoinbaseParent)="pushCoinbase(i)" (wBroadcastBlockParent)="wBroadcastBlock(i, $event)"
                        (pushP4PParent)="pushP4P(i)" (definitPushP4PParent)="definitPushP4P(i, $event)"
                        (sendClonedTrxParent)="sendClonedTrx(i)" (machineBalanceChkParent)="machineBalanceChk(i)"
                        (alterBalanceLockParent)="alterBalanceLock(i)" (blockGenReportParent)="blockGenReport(i)"
                        (dlTrxListParent)="dlTrxList(i)" 
                        (notInHistoryParent)="notInHistory(i, $event)"
                        (getWAncestorsParent)="getWAncestors(i, $event)"
                        >
                    </a-node>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <button (click)="refreshDAG()">Reresh</button>
                <button (click)="machinesBalanceChk()">Machines Balances</button>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:100%; min-width:800px">
                    <watcher-detailed></watcher-detailed>
                </div>
            </td>
        </tr>
    </table>


</div>