<form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input
            formControlName="username"
            id="username"
            type="text"
            class="form-control">

      pending:{{ username.pending }}<br>
      touched:{{ username.touched }}<br>
      canNotContainSpace:{{ username.errors.canNotContainSpace }}<br>
      shouldBeUniq:{{ username.errors.shouldBeUniq }}<br>
      invalid:{{ username.invalid }}<br>

        <div *ngIf="username.pending" class="alert alert-danger">waiting for server</div>
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">user needed</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">password needed</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
