<div style="background-color:rgb(124, 175, 177); padding: 10px;">
    <div>Wallet Addresses ({{ addressesChild.length }} UTXOs)</div>
    <table class="balTable table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Address</th>
                <th scope="col">Cash (spendable PAIs)</th>
                <th scope="col">Waiting PAIs</th>
                <th scope="col">detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let anAddr of addressesChild; index as i; even as isEven" [class.isEven]="isEven">
                <th scope="row" title="">{{ i+1 }}</th>
                <td>{{ anAddr.waTitle }}</td>
                <td class="monSF" >{{ anAddr.waAddress }}</td>
                <td title="{{ anAddr.matCount }} UTXOs" style="text-align: right">
                    {{ gUtils.microPAIToPAI6Seg(anAddr.matSum)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(anAddr.matSum)[1] }}</span>
                </td>
                <td title="{{ anAddr.unmatCount }} UTXOs" style="text-align: right">
                    {{ gUtils.microPAIToPAI6Seg(anAddr.unmatSum)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(anAddr.unmatSum)[1] }}</span>
                <td></td>
            </tr>

            <tr>
                <th scope="row" title="Sum"></th>
                <td>Sum</td>
                <td>Sum</td>
                <td title="{{ this.totalMatCount }} UTXOs" style="text-align: right">
                    {{ gUtils.microPAIToPAI6Seg(this.totalMatSum)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(this.totalMatSum)[1] }}</span>
                </td>
                <td title="{{ this.totalUnmatCount }} UTXOs" style="text-align: right">
                    {{ gUtils.microPAIToPAI6Seg(this.totalUnmatSum)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(this.totalUnmatSum)[1] }}</span></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row" title="Sum"></th>
                <td>Wallet</td>
                <td>Welth</td>
                <td title="{{ this.totalMatCount+this.totalUnmatCount }} UTXOs" style="text-align: right">
                    {{ gUtils.microPAIToPAI6Seg(this.totalMatSum+this.totalUnmatSum)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(this.totalMatSum+this.totalUnmatSum)[1] }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <button mat-raised-button (click)="createNewAddress('Basic', '1/1')" class="" [class.active]="isActive"
        color="accent" style="margin-left: 10px;">Create a (1 of 1) Address</button>

    <button mat-raised-button (click)="createNewAddress('Basic', '2/3')" class="" [class.active]="isActive"
        color="accent" style="margin-left: 10px;">Create a (2 of 3) Address</button>

    <button mat-raised-button (click)="createNewAddress('Strict', '2/3')" class="" [class.active]="isActive"
        style="background-color:rgb(245, 220, 190); margin-left: 10px;">Create a (2 of 3) Strict Address</button>

    <button mat-raised-button (click)="createNewAddress('Bitcoin', '1/1')" class="" [class.active]="isActive"
        color="accent" style="margin-left: 10px;" disabled>Create a classic sha256(Bitcoin like) Address</button>

    <button mat-raised-button (click)="createNewAddress('Bitcoinish', '1/1')" class="" [class.active]="isActive"
        color="accent" style="margin-left: 10px;" disabled>Create a 1 of 1 Simple Bitcoinish Address</button>

    <div>
        <br>
        <button mat-raised-button (click)="createNewAddress('Basic', 'complex')" class="" [class.active]="isActive"
            color="accent" style="margin-left: 10px;">Create a (Complex) Address</button>
        <input [(ngModel)]="customBechUnlocker" class="btnMe">
        <div> do not send PAI to Complex Addresses unless you were sure about what you are doing</div>
    </div>
</div>
<div class="mofnCntnr">
    <div>
        <b>Create new address</b>
    </div>
    <mat-form-field>
        <mat-label>Account Type</mat-label>
        <mat-select (selectionChange)="setSignType($event)">
            <mat-option *ngFor="let sign of signatureModes" [value]="sign.value" disabled="{{sign.disabled}}">
                {{sign.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="signFrm">

        <div class="signerName">Signer Name (or Alias Name)</div>
        <div class="signerPubKey">Signer's Public Key</div>
        <div class="signerRedeem">Redeem Time
            <br>means: how long after signing the coins can be witdrow.
            times is based on minutes.
        </div>
        <div *ngFor="let signer of totalSignCounts">
            <div class="signerName">{{signer.name}}</div>
            <div class="signerPubKey">{{signer.pubKey}}</div>
            <div class="signerRedeem">{{signer.redeemTime}}</div>
        </div>
    </div>


</div>
