.mofnCntnr {
    background-color: antiquewhite;
    padding: 5px;
    overflow: visible;
    min-height: 400px;
    display: none;
}

.signFrm {
    width: 450px;
}

.signerName {
    float: left;
    width: 110px;
}

.signerRedeem {
    float: left;
    width: 110px;
}

.signerPubKey {
    float: left;
    width: 210px;
}

.monSF {
    font-family: monospace;
}

.mili6PAI {
    font-size: 93%;
}
