<table class="rr56">
    <tr>
        <td>
            <div class="agBd19">
                <table>
                    <tr>
                        <td colspan="2">
                            <div class="ntX3"><span (click)=closeForm()>X</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="nBt3">{{notiMsgCntnr}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Page Language:
                        </td>
                        <td>
                            <div>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="mpSelectedLang" [(value)]="selected">
                                        <mat-option *ngFor="let aLng of gUtils.languagesList" [value]="aLng.iso">
                                            {{ aLng.enName }} ({{ aLng.lName }})
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Missed your language?
                            <a class='nav-link' routerLinkActive='active' href="/imagine/wiki/support languages"> see
                                here </a></td>
                    </tr>

                    <tr>
                        <td>Page Title: </td>
                        <td>
                            <input [(ngModel)]="wkTitle" type="text">
                        </td>
                    </tr>

                    <tr>
                        <td>Content: </td>
                        <td>
                            <div>
                                <textarea [(ngModel)]="wkContent" class="msBd23" rows="50" cols="170"> </textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="msBtns">
                                <button mat-raised-button (click)="createNewWikiPage('ToBuffer')"
                                    style="background-color:rgb(117, 247, 84)" class="msBtn1">
                                    Create Page And Push To Block Buffer
                                </button>
                                <button mat-raised-button (click)="createNewWikiPage('ToNetwork')"
                                    style="background-color:rgb(117, 247, 84)" class="msBtn1">
                                    Create Page And Broadcast Immediately
                                </button>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </td>
        <td>
            <div class="mFBd19">
                <div>Media / Files</div>
                <div *ngIf="theFiles">
                    <div *ngFor="let aFile of theFiles">
                        <img [src]="aFile.url" class="im6">
                        {{aFile.mpf_name}}
                    </div>
                </div>
            </div>


            <div>
                <div class="cPMCntnrOut" >
                    <div class="draftFrmCntnrIn">
                        <div *ngIf="gUtils.uploadRes.msg" class="bPGPNotiCntnr">
                            {{ gUtils.uploadRes.msg }}
                        </div>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="bndr15">
                                        Record a Media on Chain
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>Chose File:</div>
                                </td>
                                <td>
                                    <input type="file" (change)="gUtils.onFileChanged($event)">
                                    <br>
                                    <button (click)="gUtils.onUpload('ToBuffer')" style="background-color:#F7A441">Upload to Block Buffer!</button>
                                    <br>
                                    <button (click)="gUtils.onUpload('ToNetwork')" style="background-color:rgb(235, 222, 39)">Upload to Network!</button>
                                </td>
                            </tr>
            
                            <tr>
                                <td>
                                    <div>File Label:</div>
                                </td>
                                <td><input [(ngModel)]="gUtils.cPFileLabel" class=""></td>
                            </tr>
                        </table>
            
                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>