.agBd19 {
    margin: 10px;
    padding: 10px;
    background-color: rgb(202, 235, 255);
    min-width: 600px;
    min-height: 600px;
}

.rr56 td {
    vertical-align: top;
}

.ntX3 {
    text-align: right;
}

.ntX3 span {
    cursor: pointer;
    font-weight: bold;
}

.mFBd19 {
    margin: 10px;
    padding: 10px;
    background-color: rgb(202, 235, 255);
    width: 140px;
}

.im6 {
    width: 50px;
}

.cPMCntnrOut {
    float: none;
    margin: 30px;
    background-color: #ad81be;
}