<div style="background-color: rgb(227, 241, 92); padding: 10px;">
    <div>Buffered Transactions ({{ bufferedChild.length }})</div>
    <table class="balTable table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Transaction</th>
                <th scope="col">Inputs</th>
                <th scope="col">Date</th>
                <th scope="col">Size</th>
                <th scope="col">Backer Fee</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aBuff of bufferedChild; index as i; even as isEven" [class.isEven]="isEven" >
                <th scope="row" >{{ i+1 }}</th>
                <td title="{{ aBuff.type }}" >{{ aBuff.hash }}</td>
                <td>{{ aBuff.inputCounts }}</td>
                <td>{{ aBuff.insert_date }}</td>
                <td>{{ aBuff.length }}</td>
                <td title="{{ aBuff.pureBackerfee ?gUtils.microPAIToPAI(aBuff.pureBackerfee):'' }} + {{ aBuff.imagineFee ?gUtils.microPAIToPAI(aBuff.imagineFee):'' }} = 
                {{ aBuff.dp_cost ? gUtils.microPAIToPAI(aBuff.dp_cost):'' }}">{{ aBuff.pureBackerfee ?gUtils.microPAIToPAI(aBuff.pureBackerfee):'' }}</td>
                <td style="color:red; font:bold;" title="{{ aBuff.outsHint }}"> X</td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button (click)="refreshBuffered()" class="" [class.active]="isActive" color="accent" style="margin-left: 10px;">Refresh Buffer List</button>
    <button mat-raised-button (click)="pushTransactionsToNetwork()" class="" [class.active]="isActive" color="accent" style="margin-left: 10px;">Push To Network</button>
    <div style="color: red; font: bold; margin-top: 10px; margin-bottom: 40px;">{{ sendBlockErr }}</div>
</div>
