.wkTq6y {
    text-align: center;
    color: maroon;
    font-size: 107%;
    padding: 20px;
}

.sOtC4 {
    color: rgb(177, 47, 47);
    padding: 25px;
    margin: 10px 15px 15px 15px;
    width: 999px;
    text-align: left;
    background-color: rgb(219, 241, 255);
    color: rgb(34, 34, 34);
    direction: ltr;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22.4px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
}

.edBtR {
    text-align: right;
    margin: 5px;
}

.edBtR span {
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    color: sienna;
}