
<div class="agBd9">
    <div *ngIf="showWelcome" class="showWelcome">
        welcome to Wimagine's distributed wiki.
        it is truly distributed and you can have one for your needs under your registered iName
    </div>
    <div *ngIf="wkpInfo" class="wkTq6y">
        "{{ wkpIName }}/wiki/{{ wkpTitle }}" Page({{ wkpInfo.wkp_unique_hash | slice:0:8 }})
    </div>
    <div *ngIf="wkpInfo" class="sOtC4">
        <div [innerHTML]="wkpInfo.content"></div>
        <div class="edBtR"><span (click)="dspPageEditForm(wkpInfo.wkp_unique_hash)">Edit</span></div>
    </div>
</div>
