<div *ngIf="coinsInfo" class="dGrowCntnr">
    <div class="grwTbl">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;"><b>{{coinsInfo.cAGrowth}}%</b> Annualy Contribute Growth
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    7 Years incomes for <b>{{coinsInfo.pdHelpHours}}</b> hour contribute in level <b>{{coinsInfo.pdHelpLevel}}</b>
                </td>
            </tr>
            <tr>
                <td>Definite Incomes: </td>
                <td>
                    <div class="mintCol">
                        {{formatIt(coinsInfo.definiteIncomes)}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Reserve Incomes: </td>
                <td>
                    <div class="mintCol">
                        {{formatIt(coinsInfo.reserveIncomes)}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Treasury Incomes: </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.treasuryIncomes)}} Approximately
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total Incomes:</td>
                <td>
                    <div class="mintCol">
                        <b>{{formatIt(coinsInfo.definiteIncomes+coinsInfo.reserveIncomes+coinsInfo.treasuryIncomes)}}
                            PAIs </b>
                    </div>
                </td>
                <td> => </td>
                <td>Change Rate: </td>
                <td>
                    <div class="mintCol">
                        1 PAI &#x2243;
                        {{(1000000*gUtils.GLOBAL_SALARY_PER_HOUR*coinsInfo.pdHelpHours)/(coinsInfo.definiteIncomes/(gUtils.CONTRIBUTION_APPRECIATING_PERIOD*12))}} $
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Proposal Cost: </b></td>
                <td>
                    <div class="mintCol">
                        <b>{{formatIt(coinsInfo.proposalCost)}} PAIs </b>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td></td>
                <td>Date</td>
                <td class="monthHd">1</td>
                <td class="monthHd">2</td>
                <td class="monthHd">3</td>
                <td class="monthHd">4</td>
                <td class="monthHd">5</td>
                <td class="monthHd">6</td>
                <td class="monthHd">7</td>
                <td class="monthHd">8</td>
                <td class="monthHd">9</td>
                <td class="monthHd">10</td>
                <td class="monthHd">11</td>
                <td class="monthHd">12</td>
                <td>Issued/Max</td>
            </tr>
            <tr *ngFor="let aYear of years">
                <td>{{ aYear+1 }}</td>

                <td>{{coinsInfo.monthlyIncomes[aYear*12].due}}</td>

                <td title="">
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7].incomePerMonth)}}</div>
                    <!-- <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7].sumShares)}}</div> -->
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+1].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+2].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+3].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+4].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+5].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+6].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+7].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+8].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+9].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+10].incomePerMonth)}}</div>
                </td>
                <td>
                    <div class="mintCol">{{formatIt(coinsInfo.monthlyIncomes[aYear*7+11].incomePerMonth)}}</div>
                </td>

                <td>
                    <div class="mintCol">
                        Issued {{ formatIt(coinsInfo.monthlyIncomes[aYear*7].oneCycleIssued)}}
                        <br>
                        <!-- of Max {{ formatIt(coinsInfo.monthlyIncomes[aYear*7].oneCycleMaxCoins)}} -->
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div class="grwGraph">
        <div id="myPAIsIn7Years{{coinsInfo.cAGrowth}}" style="width: 1100px !important;"></div>
    </div>
</div>