.dGrowCntnr{
    margin-bottom: 10px;
    background-color: rgb(253, 210, 153);
}
.grwTbl{
    width: 1900px !important; float: left;
    background-color: rgb(253, 225, 189);
}
.dGrowCntnr table td{
    background-color: rgb(253, 210, 153);
    
}
.monthHd{
    padding-left: 15px;
    text-align: center;
}

.mintCol{
    padding-left: 15px;
    text-align: right;
}

.grwGraph{
    width: 1100px !important;float: left; margin-bottom: 20px;
    background-color: rgb(255, 244, 230);
}