<div *ngIf="wBlock" class="sBlCnt6">
    <div class="bHsh5"> {{ wBlock.bType }}: {{ wBlock.bHash }} Length {{wBlock.bBody.blockLength}} Character</div>
    <div>
        Creation Date: {{ wBlock.bBody.creationDate }}
        <br>Backer: {{wBlock.bBody.backer}}
    </div>

    <div class="blCn9">

        <div *ngFor="let aDoc of wBlock.bBody.docs; index as i; even as isEven" [class.isEven]="isEven" class="aDR8">

            <div class="aDocContainer">
                <div>
                    <span class="docInxC">{{ i+1 }}.</span> Document Type: {{aDoc.dType}} Document Version:
                    {{aDoc.dVer}}
                    <br>Document Hash: {{aDoc.hash}} <span
                        *ngIf="wBlock.trxStatusDict[aDoc.hash]"><b>{{ wBlock.trxStatusDict[aDoc.hash] }}</b>
                    </span>
                </div>


                <div *ngIf="aDoc.dType=='DPCostPay'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">dType / dClass</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">Descriptions</div>
                            </td>
                            <td>
                                <div class="dInp3 dHd13">&nbsp;</div>
                            </td>
                            <td>
                                <div class="dOut4 dHd13">Outputs</div>
                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7">{{aDoc.dType}} / {{aDoc.dClass}}</div>
                            </td>
                            <td>
                                <div class="dDec2">{{aDoc.description}}</div>
                            </td>
                            <td>
                                <div class="dInp3">&nbsp;</div>
                            </td>
                            <td>
                                <div class="dOut4">
                                    <table class="tdAlTop">
                                        <tr>
                                            <td>Treasury: </td>
                                            <td>{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[0][1])[0] }}.<span
                                                    class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[0][1])[1] }}</span>
                                                PAIs</td>
                                        </tr>
                                        <tr>
                                            <td title="{{aDoc.outputs[1][0]}}"> Backer Fee(<span
                                                    class="monSF">{{gUtils.shortBech6(aDoc.outputs[1][0])}}</span>) net
                                                incomes: </td>
                                            <td>{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[1][1])[0] }}.<span
                                                    class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[1][1])[1] }}</span>
                                                PAIs</td>
                                        </tr>
                                        <tr>
                                            <td title="total"> Sum DPCosts: </td>
                                            <td>{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[0][1]+aDoc.outputs[1][1])[0] }}.<span
                                                    class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(aDoc.outputs[0][1]+aDoc.outputs[1][1])[1] }}</span>
                                                PAIs</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div *ngIf="aDoc.dType=='Coinbase'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">dType / dClass</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">Descriptions</div>
                            </td>
                            <td>
                                <div class="dInp3 dHd13">&nbsp;</div>
                            </td>
                            <td>
                                <div class="dOut4 dHd13">Fresh Coins</div>
                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7">{{aDoc.dType}} / {{aDoc.dClass}}</div>
                            </td>
                            <td>
                                <div class="dDec2" style="text-align: right;">
                                    <table>
                                        <tr>
                                            <td>Minted: </td>
                                            <td>{{gUtils.microPAIToPAI6(aDoc.mintedCoins)}} PAIs </td>
                                        </tr>
                                        <tr>
                                            <td>Treasury Incomes: </td>
                                            <td>{{gUtils.microPAIToPAI6(aDoc.treasuryIncomes)}} PAIs </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="dInp3">&nbsp;</div>
                            </td>
                            <td>
                                <div class="dOuz4">
                                    <table class="tdAlTop dOuz4">
                                        <tr>
                                            <td>Coin Reference</td>
                                            <td>New Owner Address</td>
                                            <td>Coin Value (in PAIs)</td>
                                        </tr>
                                        <tr *ngFor="let anOut of aDoc.outputs;index as i;">
                                            <td title="{{aDoc.hash}}:{{i}}">{{gUtils.hash6c(aDoc.hash)}}:{{i}}</td>
                                            <td title="{{anOut[0]}}" class="monSF">{{gUtils.shortBech6(anOut[0])}}</td>
                                            <td>{{ gUtils.microPAIToPAI6(anOut[1]) }} </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div *ngIf="aDoc.dType=='BasicTx'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">dType / dClass</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">Descriptions</div>
                            </td>
                            <td>
                                <div class="dInp3 dHd13">Used Coins</div>
                            </td>
                            <td>
                                <div class="dOut4 dHd13"
                                    style="text-align: center; background-color: rgb(241, 231, 217);">New Coins</div>
                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7">{{aDoc.dType}} / {{aDoc.dClass}}</div>
                            </td>
                            <td>
                                <div class="dDec2">
                                    {{aDoc.description!=''?aDoc.description:'Normal Trx'}}
                                    <div>Ref: {{aDoc.ref!=''?aDoc.ref:''}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="dInp3">
                                    <table class="tdAlTop">
                                        <tr *ngFor="let anInp of aDoc.inputs"
                                            [class.isRej]="wBlock.rejCoins.includes([anInp[0],anInp[1]].join(':'))?'Rejected':''">
                                            <td title="{{anInp[0]}}:{{anInp[1]}}" class="monSF" style="cursor: pointer;"
                                                (dblclick)="siblTraceCoinInfo([anInp[0],anInp[1]].join(':'))">
                                                {{gUtils.hash6c(anInp[0])}}:{{anInp[1]}}
                                                {{ wBlock.rejCoins.includes([anInp[0],anInp[1]].join(':'))?'Rejected':'' }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="dOut4 dOuz4">
                                    <table class="tdAlTop dOuz4">
                                        <tr>
                                            <td>Coin Reference</td>
                                            <td>New Owner Address</td>
                                            <td>Coin Value (in PAIs)</td>
                                        </tr>
                                        <tr *ngFor="let anOut of aDoc.outputs;index as i;">
                                            <td title="{{aDoc.hash}}:{{i}}" class="monSF" style="min-width: 151px;"
                                                style="cursor: pointer;"
                                                (dblclick)="siblTraceCoinInfo([aDoc.hash,i].join(':'))">
                                                {{aDoc.dPIs.includes(i)?'(DPCost)':''}}
                                                {{gUtils.hash6c(aDoc.hash)}}:{{i}}
                                            </td>
                                            <td title="{{anOut[0]}}" class="monSF">{{gUtils.shortBech6(anOut[0])}}</td>
                                            <td>{{ gUtils.microPAIToPAI6Seg(anOut[1])[0] }}.<span
                                                    class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(anOut[1])[1] }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="aDoc.dType=='DNAProposal'" class="DPCnt8">
                    <table class="tdAlTop" style="margin-left:100px">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">Project: </div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.projectHash}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">title</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.title}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">descriptions</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.descriptions}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">tags</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.tags}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">Hours Details</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.helpHours}} Hours of level {{aDoc.helpLevel}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">Contributor: </div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.shareholder}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dT7 dHd13">Polling Longevity: </div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">{{aDoc.votingLongevity}}</div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div *ngIf="aDoc.dType=='INameReg'" class="DPCnt8">
                    <div class="dT7 ">
                        <table class="tdAlTop">
                            <tr>
                                <td>
                                    <div class=" ">Register iName "{{aDoc.iName}}" class({{aDoc.dClass}})</div>
                                    <div class=" ">Owner: {{aDoc.iNOwner}} </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div *ngIf="aDoc.dType=='INameBind'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div *ngIf="aDoc.nbType=='IPGP'">
                                    <div class="dT7 ">Bind a Pub/Priv key pair to iName "{{aDoc.nbInfo.iPNHash}}"
                                        Label({{aDoc.nbInfo.iPLabel}})</div>
                                    <div class="dT7 ">Owner: {{aDoc.nbInfo.iPNOwner}} </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="aDoc.dType=='Polling'" class="DPCnt8">
                    <div class="dT7 ">{{aDoc.dComment}}</div>
                    <div class="dT7 ">Creator: {{aDoc.creator}} </div>
                    <div class="dT7 ">refType: {{aDoc.refType}} </div>
                    <div class="dT7 ">votingLongevity: {{aDoc.votingLongevity}} Hours </div>
                </div>

                <div *ngIf="aDoc.dType=='AdmPolling'" class="DPCnt8">
                    <div class="dT7 ">{{aDoc.dComment}}</div>
                    <div class="dT7 ">Creator: {{aDoc.creator}} </div>
                    <div class="dT7 ">Values: {{aDoc.pValues}} </div>
                </div>


                <div *ngIf="aDoc.dType=='RpDoc'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">dType / dClass</div>
                            </td>
                            <td>
                                <div class="dDec2 dHd13">Descriptions</div>
                            </td>
                            <td>
                                <div class="dInp3 dHd13">Used Coin(s)</div>
                            </td>
                            <td>
                                <div class="dOut4 dHd13">Created Coins</div>
                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7">{{aDoc.dType}} / {{aDoc.dClass}}</div>
                            </td>
                            <td>
                                <div class="dDec2">{{aDoc.description!=''?aDoc.description:'Normal Trx'}}</div>
                            </td>
                            <td>
                                <div class="dInp3">
                                    <table class="tdAlTop">
                                        <tr *ngFor="let anInp of aDoc.inputs">
                                            <td>{{gUtils.hash6c(anInp[0])}}:{{anInp[1]}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="dOut4">
                                    <table class="tdAlTop">
                                        <tr>
                                            <td>Coin Reference</td>
                                            <td>New Owner Address</td>
                                            <td>Coin Value (in PAIs)</td>
                                        </tr>
                                        <tr *ngFor="let anOut of aDoc.outputs;index as i;">
                                            <td title="{{aDoc.hash}}:{{i}}">{{gUtils.hash6c(aDoc.hash)}}:{{i}}</td>
                                            <td title="{{anOut[0]}}" class="monSF">{{gUtils.shortBech6(anOut[0])}}</td>
                                            <td>{{ gUtils.microPAIToPAI6(anOut[1]) }} </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>


                <div *ngIf="aDoc.dType=='Ballot'" class="DPCnt8">
                    <table class="tdAlTop">
                        <tr>
                            <td>
                                <div class="dT7 dHd13">dType / dClass / Version</div>
                            </td>
                            <td>
                                <div class="dT7">{{aDoc.dType}} / {{aDoc.dClass}} / {{aDoc.dVer}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7 dHd13">dComment: </div>
                            </td>
                            <td>
                                <div class="dT7">{{aDoc.dComment}} ({{aDoc.vote}} %)</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dDec2 dHd13">voter</div>
                            </td>
                            <td>
                                <div class="dInp3 dHd13">{{aDoc.voter}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="dT7 dHd13">Ref: </div>
                            </td>
                            <td>
                                <div class="dT7">{{aDoc.ref}}</div>
                            </td>
                        </tr>


                    </table>

                </div>

            </div>
        </div>

    </div>

    <div *ngIf="wBlock.bBody.bType=='FSign'" class="DPCnt8">
        <table class="tdAlTop">
            <tr>
                <td>
                    <div class="dT7 dHd13">Title</div>
                </td>
                <td>
                    <div class="dDec2 dHd13">Descriptions</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dT7 dHd13">Confidence</div>
                </td>
                <td>
                    <div class="dDec2 dHd13">{{wBlock.bBody.confidence}}</div>
                </td>
            </tr>
        </table>

    </div>


    <div *ngIf="wBlock.bBody.bType=='Genesis'" class="DPCnt8">
        <table class="tdAlTop">
            <tr>
                <td>
                    <div class="dDec2 dHd13">{{wBlock.bBody.docs[0].title}}</div>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="wBlock.bBody.bType=='FVote'" class="DPCnt8">
        <div class="bHsh5"> Voter: {{ wBlock.bBody.backer }} </div>
        <div class="bHsh5"> {{ wBlock.bBody.bType }} (bCat: {{ wBlock.bBody.bCat }})
            confidence({{ wBlock.bBody.confidence }}) </div>
        <div *ngIf="wBlock.voterShares" class="bHsh5"> shares({{ wBlock.voterShares.shares }}),
            percentage({{ wBlock.voterShares.percentage }}%)</div>
        <div [innerHTML]="wBlock.bBody.voteData"></div>
    </div>



    <div *ngIf="wBlock.importLogs" class="DPCnt8">
        <div *ngFor="let aLog of gUtils.objKeys(wBlock.importLogs)">
            <div class="b1Hsh5" (click)="alterLogDsp(wBlock.importLogs[aLog].li_title)">
                {{ wBlock.importLogs[aLog].li_title }}</div>
            <div [innerHTML]="wBlock.importLogs[aLog].li_report"
                [class.doHide]="!dspDic[wBlock.importLogs[aLog].li_title]"></div>
        </div>
    </div>



</div>
