pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.isRej {
    background-color: red;
}

.aDocContainer {
    margin-top: 10px;
    border: 1px solid rgb(241, 226, 226);
    padding: 5px;
    min-height: 50px;
}

.sBlCnt6 {
    background-color: #8a6affb6;
    padding: 10px;
}

.bHsh5 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.b1Hsh5 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(255, 225, 225);
    margin: 5px;
}

.doHide {
    display: none;
}

.blCn9 {
    margin-top: 20px;
    min-width: 700px;
}

.tdAlTop td {
    vertical-align: top;
    padding-left: 5px;
}

.aDR8 {
    margin-top: 10px;
    min-width: 700px;
}

.isEven {
    background-color: beige;
}

.docInxC {
    min-width: 25px;
    font-weight: bold;
}

.dT7 {
    min-width: 170px;
}

.dHd13 {
    font-weight: bold;
}

.DPCnt8 {
    min-width: 500px;
    padding: 7px;
}

.dDec2 {
    min-width: 300px;
}

.dInp3 {
    min-width: 100px;
}

.dOut4 {
    min-width: 400px;
    text-align: right;
}

.dOuz4 {
    min-width: 400px;
    text-align: right;
    background-color: rgb(241, 231, 217);
    padding: 3px;
}

.dOuz4 td {
    background-color: rgb(241, 231, 217);
}

.monSF {
    font-family: monospace;
}

.mili6PAI {
    font-size: 93%;
}
