<div class="rlsCNt5">
    <table class="cntr0">
        <tr>
            <td>
                <div>
                    PAI Monetary policy
                    <br>
                    Annual Contribute Growth:
                    <mat-form-field>
                        <mat-select [(ngModel)]="cAGrowth" (selectionChange)="calcWholeIssuance()">
                            <mat-option *ngFor="let cAGrowth of oHoursLevelGrowth" [value]="cAGrowth">
                                {{ cAGrowth }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <table>
                    <tr>
                        <th class="mintCol"></th>
                        <th class="mintCol">Date</th>
                        <th class="mintCol">Total Shares:</th>
                        <th class="mintCol">Coins</th>
                    </tr>
                    <tr *ngFor="let aStep of completeReleaseInfo; index as i; even as isEven" [class.isEven]="isEven"
                        class="mintRow">
                        <td>
                            <div class="mintCol">{{ i }}</div>
                        </td>
                        <td>
                            <div class="mintCol">{{ aStep.due }}</div>
                        </td>
                        <td>
                            <div class="mintCol">{{ gUtils.sepNum(aStep.sumShares) }}</div>
                        </td>
                        <td>
                            <div class="mintCol" title="{{ formatIt(aStep.oneCycleMaxCoins) }}">
                                {{ formatIt(aStep.oneCycleIssued) }}</div>
                        </td>
                    </tr>
                </table>
            </td>


            <td>
                <div class="rsvCnt6">
                    <div class="hd5">Reserved Coins</div>
                    <table *ngIf="reservesDetails" class="tblRsvDtl">
                        <tr>
                            <th class="mintCol"></th>
                            <th class="mintCol crD4">Main Block <br>Creation Date</th>
                            <th class="mintCol">
                                <div style="width:170px;">Minted Coins</div>
                            </th>
                            <th class="smlTtl">First Reserve <br> releasable by consent of <br>80% of shareholders
                                <br>After Date
                            </th>
                            <th class="smlTtl">Second Reserve <br> releasable by consent of <br>60% of shareholders
                                <br>After Date
                            </th>
                            <th class="smlTtl">THird Reserve <br> releasable by consent of <br>40% of shareholders
                                <br>After Date
                            </th>
                            <th class="smlTtl">Forth Reserve <br> releasable by consent of <br>20% of shareholders
                                <br>After Date
                            </th>
                            <th class="mintCol">Shareholders</th>
                        </tr>

                        <tr *ngFor="let aBlockHash of reservesDetails.orderedBlockHashes; index as i; even as isEven"
                            [class.isEven]="isEven" class="mintRow">
                            <td>
                                <div class="reDt8">{{ i + 1}}</div>
                            </td>
                            <td>
                                <div class="crD4 reDt8" title="{{ aBlockHash }}">
                                    {{ reservesDetails.reserves[aBlockHash].eyeCreationDate }}
                                </div>
                            </td>
                            <td>
                                <div class="reDt8"
                                    title="{{ gUtils.sepNum(reservesDetails.reserves[aBlockHash].releasableCoins) }} &micro;PAIs">
                                    {{ gUtils.microPAIToPAI6(reservesDetails.reserves[aBlockHash].releasableCoins) }}
                                    PAIs
                                </div>
                            </td>
                            <td>
                                <div class="reDt8" title="">

                                    {{ reservesDetails.reserves[aBlockHash].reservesInfo[1].releasableDate }}
                                    <div>
                                        <button mat-raised-button (click)="reqForRelRes(aBlockHash, 1)"
                                            style="background-color:rgb(117, 247, 84)" title=""
                                            [disabled]="reservesDetails.reserves[aBlockHash].reservesInfo[1].isReleasable!='Y'">
                                            Request For Release
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reDt8" title="">
                                    {{ reservesDetails.reserves[aBlockHash].reservesInfo[2].releasableDate }}
                                    <div>
                                        <button mat-raised-button (click)="reqForRelRes(aBlockHash, 2)"
                                            style="background-color:rgb(117, 247, 84)" title=""
                                            [disabled]="reservesDetails.reserves[aBlockHash].reservesInfo[2].isReleasable!='Y'">
                                            Request For Release
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reDt8" title="">
                                    {{ reservesDetails.reserves[aBlockHash].reservesInfo[3].releasableDate }}
                                    <div>
                                        <button mat-raised-button (click)="reqForRelRes(aBlockHash, 3)"
                                            style="background-color:rgb(117, 247, 84)" title=""
                                            [disabled]="reservesDetails.reserves[aBlockHash].reservesInfo[3].isReleasable!='Y'">
                                            Request For Release
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reDt8" title="">
                                    {{ reservesDetails.reserves[aBlockHash].reservesInfo[4].releasableDate }}
                                    <div>
                                        <button mat-raised-button (click)="reqForRelRes(aBlockHash, 4)"
                                            style="background-color:rgb(117, 247, 84)" title=""
                                            [disabled]="reservesDetails.reserves[aBlockHash].reservesInfo[4].isReleasable!='Y'">
                                            Request For Release
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <table class="dhH4">
                                    <tr *ngFor="let holder of reservesDetails.reserves[aBlockHash].holders">
                                        <td title="{{ holder.holder }}">
                                            <span [style.background-color]="holder.holderColor">
                                                {{ gUtils.shortBech16(holder.holder) }}
                                            </span>
                                        </td>
                                        <td title="{{ gUtils.microPAIToPAI6(holder.value) }} PAIs " class="sHPr4">
                                            {{ holder.percentage }} %
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>


                    </table>
                </div>
            </td>


            <td style="background-color: aliceblue; padding:10px">
                <div class="rgNmTTl">registered iNames</div>
                <table class="tblINm">
                    <tr>
                        <th class="mintCol"></th>
                        <th class="mintCol">iName</th>
                        <th class="">Register Date</th>
                        <th class="mintCol">Owner</th>
                    </tr>
                    <tr *ngFor="let aName of registeredINames; index as i; even as isEven" [class.isEven]="isEven"
                        class="mintRow">
                        <td>
                            <div class="mintCol">{{ i + 1}}</div>
                        </td>
                        <td>
                            <div class="iNmCol">
                                <a href="/{{ aName.iName }}">{{ aName.iName }}</a>

                            </div>
                        </td>
                        <td>
                            <div class="rgDtCl7" title="">
                                {{ aName.inRegisterDate }}</div>
                        </td>
                        <td>
                            <div class="mintCol" title="{{ aName.inOwner }}">
                                <span [style.background-color]="aName.ownerColor">
                                    {{ gUtils.shortBech16(aName.inOwner) }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="regINameCntnr">
                    <div>
                        the iNames are super flexible concept in imagine, they are using to make a personal website,
                        sending/receiving messages,
                        participating in pollings, send/receiving coins(either imagine PAIs or Bitcoin ...)
                        you can register your own iName here. in order to register an iName you should have atleast 30
                        hours
                        of contribute.
                        the iNames can not contain dot "." unless beeing a valid email.
                        for now iNames are case insensitive and accept ONLY ASCII characters.
                        in future upgrades will be add unicode supports too.
                    </div>
                    <div class="notifyCntnr">
                        {{ fnNotiMsg }}
                    </div>

                    <div>
                        iName: <input [(ngModel)]="iName" class="">
                    </div>
                    <div>
                        <button mat-raised-button (click)="registreIName('estimate')" style="background-color:#F7A441">
                            &nbsp; Estimate Register Cost &nbsp;
                        </button>
                        &nbsp;
                        <button mat-raised-button (click)="registreIName('register', 'ToBuffer')"
                            style="background-color:#F7A441">
                            &nbsp; Register iName and push to Block Buffer &nbsp;
                        </button>
                        &nbsp;
                        <button mat-raised-button (click)="registreIName('register', 'ToNetwork')"
                            style="background-color:#F74a41">
                            &nbsp; Register & Push to Network &nbsp;
                        </button>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="doesAcceptResponsibility" [checked]="doesAcceptResponsibility">
                        </mat-checkbox>
                        I am responsible for the iName itself and it's content
                    </div>
                </div>

            </td>

        </tr>


        <tr>
            <td>
                <div>
                    <administrator-pollings></administrator-pollings>
                </div>
            </td>
        </tr>

        <tr *ngIf="appCloneId==1">
            <td>
                <div>
                    oooooooo o o o o o o oooooooo o o o o o o oooooooo o o o o o o oooooooo o o o o o o
                </div>

                <div>
                    <table>
                        <tr>
                            <td><div class="tCDb6">1. </div></td>
                            <td>
                                <div class="tCDb6" (click)="generateTestData('prepareDataset1')" >
                                    Generate First Data set of double-spending cases
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    oooooooo o o o o o o oooooooo o o o o o o oooooooo o o o o o o oooooooo o o o o o o
                </div>
            </td>
        </tr>
    </table>
</div>
