.rlsCNt5 {
    margin: 10px;
}

.cntr0 td {
    vertical-align: top;
    ;
}

.mintRow {
    width: 100%;
}

.rsvCnt6 {
    margin: 10px;
    max-height: 700px;
    overflow-y: scroll;
}

.hd5 {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.mintCol {
    padding-left: 15px;
    text-align: right;
}

.crD4 {
    width: 155px;
}

.PAIPerDay1 {
    background-color: #dbac47;
}

.PAIPerYear1 {
    background-color: #e7c477;
}

.PAIPerDay2 {
    background-color: #e7e077;
}

.PAIPerYear2 {
    background-color: #e0dc9d;
}

.PAIPerDay3 {
    background-color: #d2e777;
}

.PAIPerYear3 {
    background-color: #cce09d;
}

.PAIPerDay4 {
    background-color: #a4e777;
}

.PAIPerYear4 {
    background-color: #aae09d;
}

.PAIPerDay5 {
    background-color: #77e7a2;
}

.PAIPerYear5 {
    background-color: #9de0b3;
}

.isEven {
    background-color: beige;
}

.rgDtCl7 {
    width: 170px;
    padding: 0px 5px 0px 5px;
}

.rgNmTTl {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.regINameCntnr {
    background-color: #77e7a2;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}

.tblINm {
    width: 400px;
}

.smlTtl {
    font-size: 90%;
}

.iNmCol {
    font-weight: bold;
    text-align: left;
    min-width: 200px;
}

.tblRsvDtl {
    vertical-align: top;
}

.tblRsvDtl td {
    vertical-align: top;
}

.iNmColbkCrDt {
    font-weight: bold;
    text-align: left;
    width: 100px;
}

.reDt8 {
    padding-top: 5px;
    ;
}

.sHPr4 {
    text-align: right;
}

.dhH4 {
    margin-bottom: 10px;
}
.tCDb6{
    cursor: pointer;
    font-style: italic;
    padding: 2px;
    margin: 2px;
}
