<div class="leftColWk" >
    search:
    <br>
    <div *ngIf="wkPages">
        <div *ngFor="let aWkPage of wkPages">
            <div (click)="gUtils.redirectToPage(aWkPage.url)" class="wkTTl5">{{aWkPage.wkp_title}}</div>

        </div>
    </div>
    
    <div class="rg347" (click)="alterDspPageEditForm()">+Create a new page</div>

    <br>
    language dropdown
    <br>
    some usefull links
    <br>
</div>