.leftColWk {
    vertical-align: top;
    width: 352px;
    background-color: lemonchiffon;
}
.wkTTl5 {
    cursor: pointer;
    padding: 7px 5px 9px 5px;
    background-color: rgb(157, 217, 255);
    margin: 0px 5px 0px 5px;
    border-top: 1px solid rgb(149, 214, 255);
}
.rg347 {
    margin-top: 20px;
    text-align: center;
    font-size: 101%;
    font-style: italic;
    color: rgb(51, 97, 4);
    cursor: pointer;
}
