.leftColAg {
    vertical-align: top;
    width: 352px;
    background-color: lemonchiffon;
}

.rg45 {
    margin-top: 20px;
    ;
}

.rg47 {
    margin-top: 20px;
    text-align: center;
    font-size: 101%;
    font-style: italic;
    color: rgb(51, 97, 4);
    cursor: pointer;
}

.indent0 {
    cursor: pointer;
    padding: 15px 5px 10px 5px;
    background-color: rgb(133, 202, 245);
    margin: 0px 5px 0px 5px;
}

.indent1 {
    cursor: pointer;
    padding: 5px 5px 5px 25px;
    background-color: rgb(157, 217, 255);
    margin: 0px 5px 0px 5px;
}

.indent2 {
    cursor: pointer;
    padding: 5px 5px 5px 45px;
    background-color: rgb(190, 230, 255);
    margin: 0px 5px 0px 5px;
}

.indent3 {
    cursor: pointer;
    padding: 5px 5px 5px 65px;
    background-color: rgb(219, 241, 255);
    margin: 0px 5px 0px 5px;
}
.indent4 {
    cursor: pointer;
    padding: 5px 5px 5px 85px;
    background-color: rgb(233, 246, 255);
    margin: 0px 5px 0px 5px;
}
.indent5 {
    cursor: pointer;
    padding: 5px 5px 5px 105px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}
.indent6 {
    cursor: pointer;
    padding: 5px 5px 5px 125px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}
.indent7 {
    cursor: pointer;
    padding: 5px 5px 5px 145px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}
.indent8 {
    cursor: pointer;
    padding: 5px 5px 5px 165px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}
.indent9 {
    cursor: pointer;
    padding: 5px 5px 5px 185px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}
.indent10 {
    cursor: pointer;
    padding: 5px 5px 5px 205px;
    background-color: rgb(245, 251, 255);
    margin: 0px 5px 0px 5px;
}