<table>
  <tr>
    <td class="leftColAg">

      <div>
        <h1>
          <img [src]="logoUrl" title="imagine logo">
        </h1>
      </div>

      <div>
        <div class="rg45"
          title="The agora (/ˈæɡərə/; Ancient Greek: ἀγορά agorá) was a central public space in ancient Greek city-states. It is the best representation of city form’s response to accommodate the social and political order of the polis. The literal meaning of the word is `gathering place` or `assembly`. The agora was the center of the athletic, artistic, spiritual and political life in the city. (more on wikipedia)">
          Agoras
        </div>

        <div *ngIf="indentedAgoras">
          <div *ngFor="let anAg of indentedAgoras">
            <div (click)="gUtils.redirectToPage(anAg.url)" [class]="anAg.class">{{anAg.ag_title}}</div>

          </div>
        </div>

        <div class="rg47" (click)="dspNewAgoraForm()">+Build a new Agora</div>

      </div>

    </td>
    <td style="vertical-align: top;">

      <div *ngIf="dspAgoraForm==true">
        <build-agora-form [indentedAgoras]="indentedAgoras"></build-agora-form>
      </div>

      <im-agora (dspReplyParent)="dspReply($event)"></im-agora>

      <div *ngIf="showPostForm==true">
        <ima-send-post [replyArgs]="replyArgs"></ima-send-post>
      </div>
    </td>
  </tr>
</table>