.balTable {
    background-color: bisque;
}

.balTable tr td {
    padding-left: 8px;
    padding-right: 4px;
}

.isEven {
    background-color: beige;
}

.fndLst5 {
    max-height: 500px;
    overflow-y: scroll;
}

.monSF {
    font-family: monospace;
}

.mili6PAI {
    font-size: 93%;
}
