<div class="fndLst5">
    <div>Balance ({{ balanceChild.length }} UTXOs)</div>
    <table class="balTable table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Address</th>
                <th scope="col">Spendable</th>
                <th scope="col">value (PAI)</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fund of balanceChild; index as i; even as isEven" [class.isEven]="isEven">
                <th scope="row"
                    title="block({{this.gUtils.hash6c(fund.wfBlockHash)}}) {{fund.wfTrxType}}({{this.gUtils.hash6c(fund.wfTrxHash)}}) output({{fund.wfOIndex}}) address: {{fund.wfAddress}} ">
                    {{ i+1 }}</th>
                <td
                    title="block({{this.gUtils.hash6c(fund.wfBlockHash)}}) {{fund.wfTrxType}}({{this.gUtils.hash6c(fund.wfTrxHash)}}) output({{fund.wfOIndex}}) address: {{fund.wfAddress}} "
                    class="monSF" >
                    {{ gUtils.shortBech16(fund.wfAddress) }}</td>
                <td title=" created on {{fund.wfCreationDate}}">{{ fund?.wfMatureDate }}</td>
                <td style="text-align: right" title="{{ gUtils.sepNum(fund.wfOValue) }} &micro; PAI">
                    {{ gUtils.microPAIToPAI6Seg(fund.wfOValue)[0] }}.<span class="mili6PAI">{{ gUtils.microPAIToPAI6Seg(fund.wfOValue)[1] }}</span>
                </td>
                <td>
                    <div *ngIf="fund.isSpendable; else notSpendable">
                        <imw-select-utxo [is-spendable]="fund.isSpendable" [is-selected]="fund.isSelected"
                            [value-by-pai]="fund.value" (utxo-sel-deselcted)="onUtxoSelect(i)">
                        </imw-select-utxo>
                    </div>
                    <ng-template #notSpendable>
                        <img src="../../assets/clock.png" alt="Wait to be spendable" title="Wait to be spendable">

                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
