<div>
    in imagine, the contributor is who helped the system. either technical or non technical.
    who interested in imagine can propose her/his help and run a polling and the comunity decide to accept the proposal or not.
    if contributor's proposal be accepted the contributor became a share holder too and by this the contrinbutor have the voting rights for next 7 years 
    and also get divivedent every 12 hours (one in 00:00:00 AM and the other in 12:00:00 PM) for next 7 years.
    contributor's share amount is calculated based a simlple stright forward formula.
    h = how many hours the contributed spend(or will spend) for that activity?
    l = what was the usefullness level of that activity?
    new shares = h * l
    and this share will be add to imagine's DNA for ever. means this user helped world this certain amount of shares.
    the help level can be between 1-12 and for now we assum all help in level 6.
    this document will be cmpleted soon. but for now the below graph will help you much.
    <br>
    [[File:accumulative-shares-of-alice.png|Accumulative shares of alice]]
    <br>
    [[File:accumulative-shares-of-contributors.png|Accumulative shares of all contributors]]
    <br>

</div>
