<div>
    there is a [[imagine/wiki/todos|big room]] for developers in a vary aspect to join the project.
    and will be exponentially increase where your creativity add to on top of what already exist.
    just check the [[imagine/wiki/todos|TODOs list]] regularly.

    if you know Nodejs, expressjs, angular, most probably you can find something to do. and most important is you can
    help some non-technical friends and install imagine on their computer.
    YES, we need to help together. the friend can be an active contributor, if you dedicate a couple of hours to
    her/him.
    in addition if you already contributed and coded in some of these projects wikipedia, SMF or other foruom software,
    Jira, Git, theme & template designing then definitely you will participate in one or more projects of imagine.
    and if you are expert in blockchain you do even further. maybe start and preparing some documention and educational
    stuff, and later improving transaction & contracts, and adding planed features.
    or even beter, having brilliant ideas. let's implement it. you can implement new plugins. and if it enough good, can
    be added to core-code.
    and if your experties domain is mobile-app so start to make a nice powerfull wallet.
    probably the software architecture and database design need heavily refactor, definitely we will do it and always
    considering backward-compatibility.
    in such a way no one lose her/his coins and no (intentionally)fork will happend.
    but if someone wants to fork, it is ok too! althougt we suggest to add what she/he desired to existed imagine, or if
    you insist on fork, atleast wait until have a great robust software to relay on.
    if you are cryptographer or security expert, absolutely can help imagine. just take a look at code and make an
    improvment proposal and will be considered in high priority.
    depend on the case the proposal can be public or private. obviousley critical bugs or security issues MUST be
    reported privately to iName [[/messenger|"security"]].
    if you are not sure, just write a short message in [[/demos/development/security|related Agora]] and we will keep in touch.
</div>
<div>
    plugins: the most common way to develope project without touching core-code!
    if you know wordpress, must probably you can write some awesome plugins for imagine too.
    and lack of document is the big problem.
    there are some good hooks to start e.g. SASH_before_validate_normal_block, APSH_control_if_missed_block ...
    and more in code (imagine-server/plugin-handler/hooks-list.js)
    and obviously tons of feature request hooks will be add to imagine-core.
    feel free to request your needs in [[imagine/demos/Plugins|plugins general discussions]]
</div>