<div>
    Sorry for incompleteness. 
    Hopefully I complete it, or maybe you can help to improve it. 
    By the way it is a try to make world a better place. we can start this journey right here.
</div>

<div>
    - I have not any PAIs, how can I get some?
    you can do something for imagine improvment and by that contribute become a share holder. every shareholder get paid every 12 hours based on hours of contribute.

</div>

<div>
    - how can I contribute?
    There is a long list of [[imagine/wiki/todos| TO DO]]s. take a look and find if there is something you can do?
    hopefully you will find somethig interset to do! after that you need to prepare a proposal and send it to network, in order to run a polling and all shareholders of
    imagine(including you) decide about your proposal. the proposal form is in address [[contributes, Contributes]], for more details read [[imagine/wiki/prepare%20a%20proposal|How to Preapare a proposal?]]


    I am not developer:
    crypto fans, researchers, economists, influencers, ... the key word is EDUCATION. crypto space needs education rather than speculation. most probably you know why you chose cryptocurency instead of fiat money and what are the pros and cons.
    please spread these to more person knowing about what are cryptocurency(including imagine) promises. write some good document, educational stauff, multimedia, etc and put it in your personal page(in web or imagine iNames), share it (in social media or imagine's social network, Demos, personal pages) and make a proposal about what you did. the comunity will approw your proposal.
    even beter, write your creative proposals and start to making world a better place. 
    for the first time in human history we have a transparent public open ledger in which records every piece of humanity fait to help the world in DNA of bliss.
    this aspiring all to be a better person.
</div>