<div>
    imagine follows the [https://mediawiki.org MediaWiki] formatting.
    surly it must be implementd completely! [[imagine/wiki/TODOs|here]] is a list of what we can do.


    [[142c3bc70608df26ace66e287966b4953a96b427facbd5dc8d88bd8ac83a3310.jpg|nauture]]


</div>

UPDATE i_wiki_contents SET wkc_content ='<div>
    imagine follows the [https://mediawiki.org MediaWiki] formatting.
    surly it must be implementd completely! [[imagine/wiki/TODOs|here]] is a list of what we can do.


    [[File:142c3bc70608df26ace66e287966b4953a96b427facbd5dc8d88bd8ac83a3310.jpg|nauture]]
    
    [[File:60f2d0d7c59f5828947ce2b905f6ae90fc7e71795a451552d5f6180637338bdc.jpg|future]]


</div>' WHERE wkc_unique_hash='20128937d67143a76812dfbfe2d9cbb137dd04895d488fa9e8572d252ef16c3d';
