<div>

    <div>mobile-wallet</div>
    

    <div>
        no inputs can not be spendable without manually confirmation by wallet owner, to defend against dust-attack or any type of privaicy & security issues.
    </div>

    <div>
        privacy & security is a MUST and DEFAULT feature in imagine Wallets
    </div>

    <div>
        the imagine mobile-wallet must have these features:
        - NATIVE coin-join(wasabi/samurai like) or even Knapsack(unequal inputs/outputs)
        - full support of imagine Demos features (e.g. rooms, pollings...)
        - Onion supported by default
        - because of the native multiSig and input-time-lock support in imagine addresses, user can easily add a time-locked address in every addresses which controls by wallet.
        and saves this time-locked key in a not so secure place(e.g. mailbox). since this special key can sign the funds but the network didn't accept thiese trnasactions until a certain time passed.
        so compromise this address has not dangerous.
        by the way in case of user losses his key, he always can use this time-locked-key to restoration funds(of course after expiring time-lock)
    </div>

    <div>
        bitcoin hd wallet improvment:

        - schnore signature to cover new features

        - instead sending some outputs to one input address, send each output to a seperate input:
        imagine wants to send 9 to another, currently it could be like

        inputs    output  change
            2-------|--4      1
            3-------|  3

        it will convert to

        inputs    output  change
            2---------2       1
            3---------3

        more details on BIP32 Reclaiming Financial Privacy With HD Wallets
        http://bitcoinism.blogspot.com/2013/07/reclaiming-financial-privacy-with-hd.html

        - coinjoin (wasabi like)
            https://wasabiwallet.io/
            https://bitcointalk.org/index.php?topic=279249.0
            https://bitcoin.stackexchange.com/questions/1823/what-is-the-maximum-size-of-a-transaction/35882#35882
            https://bitcoin.stackexchange.com/questions/57073/what-is-the-maximum-anonimity-set-of-a-coinjoin-transaction/57091
            https://github.com/nopara73/ZeroLink

            
    </div>
    
</div>