since in imagine every contributor has a (almost)regulare income for next 7 years, it could be a good fund to pledge it
in order to get loan
or buying some services and paying gradualy and so on.
currently imagine supports peldeP which is use ful when you ask a loan to pay proposal's cost.

the orther pledges will come in soon are:

<div>
    <b>PledgeP</b>
    <br>Most common type of pledge in early launching imagine days, in which the new contributors do not have any PAI to
    apply a proposal. so they have to loan some PAIs, they can ask a loan and in return pledge the account in order to
    payback the loan. for detail about proposal & contribute check also [[wiki/imagine/faq, faq]]
    <br>disregarding proposal approved or not, the loan repayments will be cut from pledged account. 
    
    <br>there are 3 ways to un-pledge an account
    <br>1. ByPledgee: The pledgee redeems account (pledgee Closes Pledge). it is most common way supposed to close
    pledge and redeem account.
    <br> this is most efficient way to avoid entire network engaging unnecessary calculation.
    <br>2. ByArbiter: in redeem contract can be add a BECH32 address as a person(or a group of persons) as arbiter. the
    contract can be closed by arbiter signatures too.
    <br> the arbiters inetercept in 2 cases. in case of denial of closing contract by pledgee or for the sake of useless
    process.
    <br> this method is also cost-less(in sence of network process load) and is a GOOD SAMPLE of trusting and not
    over-processing by entirenetwork
    <br> in other word, by giving rights to someone to be arbiter, and givin small wage, and involving them in a
    contract,
    <br> the arbiters MUST run a full node (and maybe a full-stack-virtual-machine to evaluate a contract) and the rest
    of networks doing nothing about this particulare contract
    <br> in this implementation even an infinit loop problem doesnot collapse entire network, and more over the
    contracts can be run as an OPTIONAL-PLUGIN on SOME machines
    <br> and for the rest of network, what is important is the final signature of arbiters, adn they only validate
    signatures in order to confirm the PAIs transformation/contract-closing...
    <br>3. ByPledger: in case of pledgee refuse to redeem account, pledger requests network to validate redeem clauses by
    calculate repayments and...
    <br> and finally vote to redeem (or not redeem) the account. this proces has cost, and must be paid by pledger.
    <br> althout this has cost for pledger, also has negative effect on pledgee(and potentially arbiters) reputation(if network redeem the
    account).
    <br>4. ByNetwork, every time the coinbase dividend toke place, every machines calculate automatically. this method
    is most costly till implementing an efficient way
    <br>either pledgee or arbiter can close contract before head and remit repayments
    <br>Note: there will be a reputation sub-system which calculate the risk of different pledgee and arbiters(which can be a group of persons)
    and at the end the pledger can manage the risk & pros & cons of each contract and also ceil & floor of the contract value.
    PledgeP Relations with other documents
    [[File:pledgep-relations.png|DNAProposal, Loan request & PledgeP Relations]]
</div>

<div>
    <b>PledgeSA</b>
    <br>self authorized pledge
    <br>in this class the pledger signs a contract to cut regularely(every 12 hours) from mentioned address(usually the
    shareholder
    address by which received incomes from share dvidend).
    <br>the diference is in this class all 3 parties(pledger, pledgee, arbiter) can close contract whenever they want.
    <br>this service is usefull for all type of push-money, subscription services e.g. monthly payments for T.V.
    streaming or even
    better DAILY payment for using services
    <br>by activating field "applyableAfter" the contract can be realy closed after certain minute of concluding it.
    <br>e.g. customer must use at least 3 month of service(in order to get discount), so pledger signs it with an extra
    tag which present the minutes of closing offset, and in time of closing contract the real close happened after
    certain minute which are mentioned befor.
    or can be calceled immediately if passed this certain time from signing time.
    <br>TODO: implement it since it costs couple of hours to implementing

</div>

<div>
    <b>PledgeG</b>
    <br>gneric pledge in which pledger can pledge an address(either has sufficent income from DNA or not) and get a loan
    <br>and by time payback the loan to same account, and pledgee takes from pledged account
    <br>of course there is no garanty to payback PAIs, excep reputation of pledger or her bussiness account which is
    pledged
    <br>TODO: implement it ASAP
</div>

<div>
    <b>PledgeL</b>
    <br>lending PAIs by pledging an account with SUFFICENT income
</div>

<div>

</div>