the proposals are documents in which a contributor states what she/he can do for improvement of the imagine. 
or what she already did.
and simply writes how many hours toke time that job and how important/usefull was that job?
and at the end sets a time-window for polling about proposal. after finish the polling time, 
if the majority of imagine comunity approve the proposal, 
the proposer become a share holder or if the address already has some shares, the shares will be increased.
the share value is equal to hours of contribute * usefulness of contribute.



<div>

    There is a long list of [[imagine/wiki/todos| TO DO]]s. take a look and find if there is something you can do?
    hopefully you will find somethig interset to do!
    after that you need to prepare a proposal and send it to network, in order to run a polling and all shareholders of
    imagine(including you) decide about your proposal.
    the proposal form is in address [[contributes| Contributes]], and you first must complete form 1 (gray one)
    <br>
    [[File:create-a-draft-proposal.png|1. Create a Draft Proposal]].
    <br>
    and click on button "Prepare proposal". by clicking, the proposal will be add to your draft proposals.
    there is list of all your Draft proposals 2.(Blue one)
    <br>
    [[File:my-draft-proposals.png|2.my draft proposals]].
    <br>

    to send a proposal you need to spend some PAIs(in order to reduce spaming, this is a little high value).
    obviousely you have not this amount before head, so can ask a loan.
    if you have some PAIs you can "sign and pay cost..." and pay by yourself, otherwise click on button
    "Prepare Loan Request" and the form 3 will be displayed(green one)
    <br>
    [[File:request-loan-to-apply-for-polling.png|3. Request loan & apply for Polling]].
    <br>


    here you can change repayments count(by changing repayment value)
    and put inside pledgee the address of who you wana ask loan. by default it is filed by Hu's Address.
    by changing the numbers the repayments will be changed and you can see all in long list (green/gray one)
    <br>
    [[File:laon-repayments-details.png|4. Loan Repayment Details]].
    <br>

    <br>
    in form 3, at bottom you can click on "Sign Request" and now you have the signed loan request on your machine.
    the draft list presents the signe loan request(s)
    <b>
        [[File:my-draft-proposals-signed.png|2.my draft proposals]].
    </b>

    <br> now you need to send it whom you want to ask loan, there are 2 solution.
    first is sending directly by email address via form "2.my draft proposals" the default is Hu's email address but you
    can
    change it to who you want getting loan. this is absolutely private email.
    in case of losting email possibility, there is a [[imagine/demos/Pre Proposals and Discussions|Proposals and
    Discussions Room(Agora)]] you
    can publicly send your proposal over there
    and everybody can read your proposal but only pledgee that you signed can complete the request and send it to
    network.
    to sending this proposal you still need some small amount of PAIS.
    and if you do not have it you can send it by POW. in imagine POW is just a way to send messages and you can not earn
    PAIs by POW.

    <br>
    sending your proposal to pledgee means, she will sign your proposal and pay the proposal costs and push it to
    network.
    after placing proposal onchaine, the polling period starts immediately, and lasts for what you requested in form 1 (minimum 24 hours + 12 hour for negative votes).
    deatils about [[imagine/wiki/pollings|how basic polling works in imagine?]]
    and at the end if your proposal approved by majority of imagine comunity you will be a shareholder(or your share
    will be increased).


</div>