<table>
    <tr>
        <td>
            <div>{{jstoday}}</div>
            <button (click)="getWalletBalance()">Refresh Balance</button>
            <button (click)="restorUnUsedUTXOs()">UnMark Not Realy used UTXOs</button>
            <imw-balance [balance]="balance" (utxoSelectionParent)="utxoSelection($event)"></imw-balance>

            <imw-send-pai [receiver]="receiver" [sendPaiErr]="sendPaiErr" 
            (reCalcPaymentParent)="reCalcPayment()"
            (reCalcOutputNumbersParent)="reCalcOutputNumbers()"
                (sendPaiParent)="sendPai()"></imw-send-pai>



        </td>
        <td>
            <imw-addresses [addresses]="addresses" (refreshAddressesParent)="refreshAddresses()"></imw-addresses>

            <div style="margin-top: 20px;">
                <imw-trx-buffer [buffered]="buffered" [sendBlockErr]="sendBlockErr"
                    (refreshBufferedParent)="refreshBuffered()"
                    (pushTransactionsToNetworkParent)="pushTransactionsToNetwork()"></imw-trx-buffer>
            </div>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            <imw-trx-list></imw-trx-list>
        </td>
        <td>

        </td>
    </tr>
</table>
