<br>
<div class="rcrdPropCntnr1">
    <div class="lvTtl">Onchain Administrative Pollings</div>
    <div class="notifyCntnr">
        {{ pdErrMsgLv }}
    </div>
    <table>
        <tr>
            <td>
                <div>
                    sort Ballots by most Positive opinions to most Negative
                </div>
                <div>
                    sort Ballots by most Negative opinions to most Positive
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="onchainAdmPollings" class="recordedProposalsTbl">
        <tr>
            <th style="width:30px">&nbsp;</th>
            <th class="monthHd propCol">Administrative polling Info</th>
            <th class="monthHd chronCol">Polling Chronology </th>
            <th class="monthHd polIn5">Polling Info</th>
            <th class="monthHd">Vote it/your vote</th>
        </tr>
    </table>
    <div style="max-height: 800px; overflow-y: scroll;">
        <table *ngIf="onchainAdmPollings" class="recordedProposalsTbl">

            <tr *ngFor="let anAdmPll of onchainAdmPollings; index as i; even as isEven" [class.isEven]="isEven">
                
                <td style="width:30px">
                    {{ i+1 }}.
                </td>

                <td>
                    <div class="prCol prf4">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Poller: </div>
                                </td>
                                <td>
                                    <div class="hashRefCol2" [style.background-color]="anAdmPll.creatorColor"
                                        title="{{ anAdmPll.apr_creator }}">
                                        {{ gUtils.shortBech16(anAdmPll.apr_creator) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Subject: </div>
                                </td>
                                <td>{{ anAdmPll.apr_subject }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Request hash: </div>
                                </td>
                                <td>{{ anAdmPll.apr_hash }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Description: </div>
                                </td>
                                <td>{{ anAdmPll.apr_comment }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Values: </div>
                                </td>
                                <td title="{{ anAdmPll.aprStrValues }}">{{ anAdmPll.pollingSubject }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Creation date: </div>
                                </td>
                                <td>{{ anAdmPll.apr_creation_date }}</td>
                            </tr>
                        </table>
                    </div>
                </td>



                <td>
                    <div class="prCol pollChron">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Voting Status: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pllStatus }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Is Concluded Polling: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pll_ct_done }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Hash: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pll_hash }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Start Date: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pll_start_date }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (Yes/No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pllEndDateYes }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pll_longevity }} Hours</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.pllEndDateAbstainOrNo }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ (anAdmPll.pll_longevity*1.5) }} Hours</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td>
                    <div class="prCol pollInf">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Profile: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.ppr_name }}</div>
                                </td>
                                <td>
                                    <div class="vLeft" title=""
                                        [style.background-color]="((anAdmPll.pll_y_value-anAdmPll.pll_n_value)>=0 ? 'green':'red')">
                                        {{ ((anAdmPll.pll_y_value-anAdmPll.pll_n_value)>=0 ? 'Win':'Missed') }}
                                        {{ gUtils.sepNum(anAdmPll.pll_y_value-anAdmPll.pll_n_value) }} score
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Perform Type: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.ppr_perform_type }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Vote Counting Method: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ anAdmPll.ppr_votes_counting_method }}</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="prCol pollInf">
                        <div style="text-align: center;">Ballots</div>
                        <table>
                            <tr>
                                <td>
                                    <div class="vResHd">&nbsp; </div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 91px;">Voters</div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 137px;">Voters Shares</div>
                                </td>
                                <td>
                                    <div class="vResHd">Effective Vote</div>
                                </td>
                                <td>
                                    <div class="vResHd">Votes Value</div>
                                </td>
                                <td>
                                    <div class="vResHd">Your Vote Coefficient</div>
                                    <div class="yGDtl">(Based on your shares & time passed of polling start)</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Yes: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_y_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_y_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_y_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_y_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ anAdmPll.yourGainY }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Abstain: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_a_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_a_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_a_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_a_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ anAdmPll.yourGainA }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">No: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_n_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_n_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_n_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(anAdmPll.pll_n_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ anAdmPll.yourGainN }} %</div>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="prCol pollInf rPol3">
                        <button mat-raised-button (click)="refreshPollingStatus(anAdmPll.pll_hash)"
                            style="background-color:rgb(117, 247, 84)" title="{{ anAdmPll.pll_hash }}">
                            Refresh status
                        </button>
                        <button mat-raised-button (click)="reviewBallotAndComments(anAdmPll.pll_hash, 1)"
                            style="background-color:rgb(243, 214, 135)">
                            See Ballots & Comments
                        </button>
                    </div>
                </td>




                <td *ngIf="(anAdmPll.machineBallot==null) && (anAdmPll.pllStatus=='Open') " class="yVoColTd">
                    <div class="yVoCol">
                        Comment & Vote:
                        <textarea [(ngModel)]="voteComment" class=""> </textarea>
                        <mat-form-field>
                            <mat-select [(ngModel)]="voteValue">
                                <mat-option *ngFor="let vOpt of voteOptions" [value]="vOpt[0]">
                                    {{ vOpt[1] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button (click)="voteAdmPolling(anAdmPll.pll_hash, 'ToBuffer')"
                            style="background-color:rgb(117, 247, 84)">
                            Vote
                        </button>
                        <button mat-raised-button (click)="voteAdmPolling(anAdmPll.pll_hash, 'ToNetwork')"
                            style="background-color:rgb(111, 182, 93)">
                            Vote & Broadcast
                        </button>
                    </div>
                </td>

                <td *ngIf="anAdmPll.machineBallot!=null" class="yVoCol">
                    Your Vote: {{anAdmPll.machineBallot.lbtVote}}
                    <br>
                    Your Sahres: {{anAdmPll.machineBallot.lbtVoterShares}}
                    <br>
                    Your Percent: {{anAdmPll.machineBallot.lbtVoterPercent}}
                </td>

            </tr>
        </table>
    </div>
</div>
<!-- pr_blockhash
pr_hash -->