<div class="machineCol">
    <table class="resetTbl">

        <tr>
            <td style="background-color: rgb(216, 221, 228);">
                <table class="resetTbl">
                    <tr>
                        <td>{{ machineInfo.machineAlias }} machine ({{ machineInfo.DAGShoot }})
                            ({{ machineInfo.percentage }}%)
                        </td>
                        <td>
                            <div [style.background-color]="machineInfo.DAGShoot">{{ machineInfo.DAGShoot }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center; ">
                            <div style="font-size: 13px; padding: 2px;">{{ machineInfo.backer }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table class="resetTbl">
                    <tr>

                        <td>
                            <div style="min-height: 2400px">

                                <div title="{{ machineInfo.totalUtxosHint ? machineInfo.totalUtxosHint : '' }}">UTXOs:
                                    {{ machineInfo.totalUtxosSum ? gUtils.microPAIToPAI6(machineInfo.totalUtxosSum) : 0 }}
                                    ({{ machineInfo.totalUtxosCount ? machineInfo.totalUtxosCount : 0 }})
                                </div>
                                <div [id]="machineInfo.dagId"></div>
                            </div>
                        </td>

                        <td style="background-color: rgb(242, 248, 210); padding: 0px; margin:0px;">
                            <div class="histBlk">
                                {{ machineInfo.histBlocks ? machineInfo.histBlocks.length : 0}}
                            </div>
                            <div *ngIf="machineInfo" class="histHeight" >
                                <div class="histBlk" *ngFor="let ablk of machineInfo.histBlocks" (dblclick)="dblclickedBlockShortHash(ablk.hash)"
                                    [style.margin-bottom]="(ablk.hash==equalIn5DagsHash)?'21px':'0px'"
                                    title="{{ ablk.date + ' ' + ablk.bType }}">
                                    <div class="histHash" [style.background-color]="gUtils.getBGColorByType(ablk.bType)">
                                        {{((['Coinbase', 'Normal', 'RpBlock', 'RlBlock'].includes(ablk.bType))&&(ablk.imported=='N'))?'*':''}}
                                        {{ ablk.hash.substr(1, 6) }}
                                    </div>
                                    <div class="histLbl" [style.background-color]="ablk.hash">&nbsp;</div>
                                </div>
                            </div>
                            <div class="histBlk">
                                {{ machineInfo.histBlocks ? machineInfo.histBlocks.length : 0}}
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr title="{{ machineInfo?machineInfo.lastBLockInfo.bType:'' }}">
                        <td>
                            <div [ngClass]="lblInfo"
                                [style.background-color]="machineInfo ? gUtils.getBGColorByType(machineInfo.lastBLockInfo.bType) : ''">
                                Last Received Block:
                            </div>
                        </td>
                        <td>
                            <div [ngClass]="lblInfo"
                                [style.background-color]="machineInfo? machineInfo.lastBLockInfo.hash: ''">
                                {{ machineInfo ? machineInfo.lastBLockInfo.hash:'' }}
                                {{ machineInfo?machineInfo.lastBLockInfo.receiveDate:'' }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leavesCntnr" *ngIf="machineInfo">
                    <table>
                        <tr>
                            <td>Leaves KV:
                                <div *ngFor="let l of machineInfo.leaves" title="{{l.bType}}">
                                    <div class="leaveKV1" [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                        {{l.hash.replace('#', '')}} {{l.date}}</div>
                                    <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>

                                </div>
                            </td>
                            <td>
                                <div>Leaves DAG:
                                    <div class="dagL" *ngFor="let l of machineInfo.dgaHealth" title="{{l.bType}}">
                                        <div class="leaveKV1"
                                            [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                            {{l.hash.replace('#', '')}}
                                            {{l.creation_date}}</div>
                                        <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>Freash Leaves:
                                    <div class="dagL" *ngFor="let l of machineInfo.freashLeaves" title="{{l.bType}}">
                                        <div class="leaveKV1"
                                            [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                            {{l.hash.replace('#', '')}}
                                            {{l.date}}</div>
                                        <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="misdCntnr1" *ngIf="machineInfo">
                    <div>
                        <div>
                            Missed Blocks ({{ machineInfo ? machineInfo.missedBlocks.length : '' }}):
                        </div>
                        <div class="misdBlk" *ngFor="let m of machineInfo.missedBlocks">
                            <div class="misdBlk1"
                                [style.background-color]="machineInfo.blocksDict[m] ? gUtils.getBGColorByType(machineInfo.blocksDict[m].bType) : m">
                                {{ m }}
                            </div>
                            <div class="misdBlk2" [style.background-color]="m" title="{{ m }}">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="misdCntnr2" *ngIf="machineInfo">
                    <div>
                        <div>
                            Missed Blocks (Not exist in Q)
                            {{ machineInfo.notExistMissed ? machineInfo.notExistMissed.length:0 }}:
                        </div>
                        <div class="misdBlk" *ngFor="let m of machineInfo.notExistMissed">
                            <div class="misdBlk1"
                                [style.background-color]="machineInfo.blocksDict[m] ? gUtils.getBGColorByType(machineInfo.blocksDict[m].bType) : m">
                                {{ m }}
                            </div>
                            <div class="misdBlk2" [style.background-color]="m">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="CBCntnr" *ngIf="machineInfo">
                    <div class="coinbasesBl" title="{{ machineInfo.cbOrder ? machineInfo.cbOrder.join('\n') : '-' }} ">
                        Possible Coinbases (Priority {{ machineInfo.machineCoinbasePriority }}): </div>
                    <div [innerHTML]="machineInfo.machinesOrderedByCBPriority"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="btnCntnr">
                    <button mat-raised-button (click)="getMachineInfo()" class="btnMe" color="warn">
                        Refresh Machine's DAG Info
                    </button>&nbsp;
                    <button mat-raised-button (click)="detailedDag($event, machineInfo.id)"
                        class="btnMe">Detail</button>
                </div>

                <div class="btnCntnr">
                    <button mat-raised-button (click)="invokeBlock($event, machineInfo.id)" color="primary"
                        class="btnMe">Invoke block</button>
                    <input [(ngModel)]="blockShortHash" class="btnMe">
                    <button mat-raised-button (click)="invokeAllMissed()" style="background-color: #6789ab"
                        class="btnMe">Invoke All Missed</button>
                    <button mat-raised-button (click)="refreshMissedBlock()" style="background-color: green">
                        Refresh Missed Blocks
                    </button>
                    <button mat-raised-button (click)="manInvokeLeavesFromNeighbors()"
                        style="background-color: rgb(6, 197, 156), 128, 85)">
                        Invoke Leaves
                    </button>
                    <button mat-raised-button (click)="dropBroadcastLogs()"
                        style="background-color: rgb(173, 173, 59), 128, 85)">
                        Empty Broadcast Log
                    </button>
                    <br>
                </div>

                <table>
                    <tr>
                        <td><button mat-raised-button class="btnMe" (click)="blockGenReport()"
                                title="generated blocks report">
                                Generate Blocks Report
                            </button>
                        </td>

                    </tr>

                </table>

                <br>


                <div class="machineBlncCntnr">
                    <button mat-raised-button class="btnMe" style="background-color:#F2F8D2"
                        (click)="machineBalanceChk()">
                        Machine Balance Check
                    </button>
                    <button mat-raised-button class="btnMe" style="background-color:#F2F8D2"
                        (click)="machineBalanceChk3x()">
                        3x
                    </button>
                    <table class="machineBalnces">
                        <tr>
                            <td>
                                Per
                                Block({{ machineInfo.DAGBalances.cycleCountsFromBegan }}={{ machineInfo.DAGBalances.distinctCoinbases }}):
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                                {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.paiPerCycle) : 0  }}
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                                Previous
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td (click)="alterBalanceLock()">
                                {{ machineInfo.isBalanceLocked }}
                            </td>
                        </tr>

                        <tr>
                            <td>Cycle:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;</td>
                            <td>
                                {{ machineInfo.DAGBalances.cycleCountsFromBegan ? machineInfo.DAGBalances.cycleCountsFromBegan : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                {{ machineInfo.DAGBalancesPrev.cycleCountsFromBegan ? machineInfo.DAGBalancesPrev.cycleCountsFromBegan : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                {{ machineInfo.DAGBalancesLock.cycleCountsFromBegan ? machineInfo.DAGBalancesLock.cycleCountsFromBegan : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td>Coinbases:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.sumCoinbaseColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.floorishMicroPAIs ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalances.sumCoinbase ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.sumCoinbase) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.sumCoinbaseColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalancesPrev.floorishMicroPAIs ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalancesPrev.sumCoinbase ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.sumCoinbase) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.sumCoinbaseColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalancesLock.floorishMicroPAIs ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalancesLock.sumCoinbase ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.sumCoinbase) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="{{ machineInfo.DAGBalances.spendables ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.spendables) : 0  }} PAIs">
                                <b>-Spendables:</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalances.spendablesColor">&nbsp;&nbsp;</td>
                            <td><b>{{ machineInfo.DAGBalances.spendables ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.spendables) : 0  }}</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.spendablesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.spendables-machineInfo.DAGBalances.spendables)}}">
                                <b>{{ machineInfo.DAGBalancesPrev.spendables ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.spendables) : 0  }}</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.spendablesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.spendables-machineInfo.DAGBalancesPrev.spendables)}}">
                                <b>{{ machineInfo.DAGBalancesLock.spendables ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.spendables) : 0  }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="because of Coinbase: {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.paiPerCycle*3) : 0  }}">
                                -Waited Coinbase UTXOs:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedCoinbasesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedCoinbases ? machineInfo.DAGBalances.waitedCoinbases.processedOutputs:'' }}">
                                {{ machineInfo.DAGBalances.waitedCoinbases.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.waitedCoinbases.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedCoinbasesColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedCoinbases.sum-machineInfo.DAGBalances.waitedCoinbases.sum)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedCoinbases.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedCoinbases.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedCoinbasesColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedCoinbases.sum-machineInfo.DAGBalancesPrev.waitedCoinbases.sum)}}">
                                {{ machineInfo.DAGBalancesLock.waitedCoinbases.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedCoinbases.sum) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="because of Coinbase: {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.paiPerCycle*3) : 0  }}">
                                -Waited Normal UTXOs:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedNormalsColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedNormals ? machineInfo.DAGBalances.waitedNormals.processedOutputs:'' }}">
                                {{ machineInfo.DAGBalances.waitedNormals.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.waitedNormals.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedNormals.sum-machineInfo.DAGBalances.waitedNormals.sum)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedNormals.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedNormals.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedNormals.sum-machineInfo.DAGBalancesPrev.waitedNormals.sum)}}">
                                {{ machineInfo.DAGBalancesLock.waitedNormals.sum ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedNormals.sum) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td>-waited Treasury:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedIncomesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedIncomes ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.waitedIncomes) : 0  }}">
                                {{ machineInfo.DAGBalances.waitedIncomes ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.waitedIncomes) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedIncomesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedIncomes-machineInfo.DAGBalances.waitedIncomes)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedIncomes ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.waitedIncomes) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedIncomesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedIncomes-machineInfo.DAGBalancesPrev.waitedIncomes)}}">
                                {{ machineInfo.DAGBalancesLock.waitedIncomes ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.waitedIncomes) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td class="blnceClss"><b>=Balance:</b></td>
                            <td [style.background-color]="machineInfo.DAGBalances.finalBalanceColor"><b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss" title="{{ machineInfo.DAGBalances.finalBalance ? 
                                gUtils.microPAIToPAI6(machineInfo.DAGBalances.finalBalance) : 0  }}"><b>
                                    {{ machineInfo.DAGBalances.finalBalance ? 
                                gUtils.microPAIToPAI6(machineInfo.DAGBalances.finalBalance) : 0  }}
                                </b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.finalBalanceColor">
                                <b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss"
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.finalBalance-machineInfo.DAGBalances.finalBalance)}}">
                                <b>{{ machineInfo.DAGBalancesPrev.finalBalance ? 
                                        gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.finalBalance) : 0  }}
                                </b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.finalBalanceColor">
                                <b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss"
                                title="{{gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.finalBalance-machineInfo.DAGBalancesPrev.finalBalance)}}">
                                <b>{{ machineInfo.DAGBalancesLock.finalBalance ? 
                                        gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.finalBalance) : 0  }}
                                </b>
                            </td>
                        </tr>

                        <tr>
                            <td>dblSpends:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedNormalsColor">&nbsp;&nbsp;
                            </td>
                            <td>{{ machineInfo.DAGBalances.waitedNormals.dblSpends.join(', ') }}</td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td>{{ machineInfo.DAGBalancesPrev.waitedNormals.dblSpends.join(', ') }}</td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td>{{ machineInfo.DAGBalancesLock.waitedNormals.dblSpends.join(', ') }}</td>
                        </tr>

                        <tr>
                            <td
                                title="{{ machineInfo.DAGBalances.nodeWealth? gUtils.microPAIToPAI6(machineInfo.DAGBalances.nodeWealth.value):'' }} PAIs">
                                Your Wallet/Profile Wealth:
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalances.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.nodeWealth ? machineInfo.DAGBalances.nodeWealth.details: '' }}">
                                {{ machineInfo.DAGBalances.nodeWealth? gUtils.microPAIToPAI6(machineInfo.DAGBalances.nodeWealth.value):'' }}
                            </td>
                            <td title="{{ machineInfo.DAGBalancesPrev.nodeWealth ? machineInfo.DAGBalancesPrev.nodeWealth.details: '' }}"
                                [style.background-color]="machineInfo.DAGBalancesPrev.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{(machineInfo.DAGBalancesPrev.nodeWealth && machineInfo.DAGBalances.nodeWealth) ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.nodeWealth.value-machineInfo.DAGBalances.nodeWealth.value):''}}">
                                {{ machineInfo.DAGBalancesPrev.nodeWealth? gUtils.microPAIToPAI6(machineInfo.DAGBalancesPrev.nodeWealth.value):'' }}
                            </td>
                            <td title="{{ machineInfo.DAGBalancesLock.nodeWealth ? machineInfo.DAGBalancesLock.nodeWealth.details: '' }}"
                                [style.background-color]="machineInfo.DAGBalancesLock.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{machineInfo.DAGBalancesLock.nodeWealth ? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.nodeWealth.value-machineInfo.DAGBalancesPrev.nodeWealth.value):''}}">
                                {{ machineInfo.DAGBalancesLock.nodeWealth? gUtils.microPAIToPAI6(machineInfo.DAGBalancesLock.nodeWealth.value):'' }}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>




        <tr>
            <td>
                <div class="utxoCntnr">
                    <table>
                        <tr>
                            <td title="{{ machineInfo.UTXOsInfo }}">
                                {{ machineInfo.UTXOsCount }} Unique UTXO:
                            </td>
                            <td>
                                <div [style.background-color]="machineInfo.visShoot"
                                    title="UTXOs visibility screen shoot">
                                    {{ machineInfo.visShoot }} Vis</div>
                            </td>
                            <td>
                                <div [style.background-color]="machineInfo.UTXOShoot" title="UTXO Codes screen shot">
                                    {{ machineInfo.UTXOShoot }} Code</div>
                            </td>
                        </tr>
                        <tr>
                            <td [style.background-color]="machineInfo.utxo12h.hash"
                                title="{{ machineInfo.utxo12h.hint }}">
                                {{ machineInfo.utxo12h.count }} UTXO used in 12H
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;" *ngIf="machineInfo">
                    <div [ngClass]="machineInfo.askForLeavesInfo == 'Y' ? 'askForLeavesInfoY': 'askForLeavesInfoN'">
                        Ask For Leaves Info: {{ machineInfo.askForLeavesInfo }}</div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">Inbox:</div>
                <div *ngFor="let file of machineInfo.inbox" class="filesList">
                    <div title="{{ file.hint }}">{{ file.hash }}</div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div style="margin: 5px !important; padding: 5px !important;">Parsing Q (
                        <b>{{machineInfo.parsingQCount[0]._count}}</b> ):</div>
                    <div *ngFor="let toP of machineInfo.parsingQ" class="filesList">
                        <div class="prsq1" [style.background-color]="gUtils.getBGColorByType(toP.pq_type)">
                            Block(#{{ toP.pq_code }}) From {{ toP.pq_sender.split('@')[0] }} attempts:
                            {{ toP.pq_parse_attempts }}
                        </div>
                        <div class="prsq2" [style.background-color]="'#'+toP.pq_code">&nbsp;</div>

                        <div class="prsqPreq" *ngFor="let pre of toP.prerequisites">
                            <div class="prsqPreq1"
                                [style.background-color]="machineInfo.blocksDict[pre] ? gUtils.getBGColorByType(machineInfo.blocksDict[pre].bType) : pre">
                                {{ pre }}
                            </div>
                            <div class="prsqPreq2" [style.background-color]="pre">
                                &nbsp;
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">
                    Sending Q({{ machineInfo ? machineInfo.sendingQ.length : 0 }}):
                </div>
                <div *ngFor="let toS of machineInfo.sendingQ" class="filesList">
                    <div title="{{ toS.hint }}">{{ toS.hash }} </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">Outbox
                    ({{ machineInfo.outbox ? machineInfo.outbox.length:0 }}):</div>
                <div *ngFor="let file of machineInfo.outbox" class="filesList">
                    <div title="{{ file.hint }}">{{ file.hash }}</div>
                </div>
            </td>
        </tr>



    </table>

    <table style="width: 100%;">
        <tr>
            <td>
                Accounting Report:
                <button mat-raised-button (click)="dlTrxList()" style="background-color: green">
                    download trx list
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="nSSP4">
                    <div class="bndr15">
                        Node screenshot panel
                    </div>

                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Label</td>
                            <td>
                                Comapre
                            </td>
                            <td>
                                Delete
                            </td>
                        </tr>
                        <tr *ngFor="let aScrShot of screenshotsList; index as i">
                            <td>{{ i+1 }}</td>
                            <td>{{ aScrShot.nss_label }}</td>
                            <td>
                                &nbsp;
                                <button (click)="deleteSS(aScrShot.nss_id)"
                                    style="background-color:rgb(235, 184, 123)">Delete
                                </button>
                                &nbsp;
                            </td>
                            <td>
                                <button (click)="compareScreenShot(aScrShot.nss_id)"
                                    style="background-color:rgb(100, 224, 17)">Comapre
                                </button>
                            </td>
                        </tr>
                    </table>

                    <div class="cPMCntnrOut4">
                        <div style="text-align: center;"> Download machine's screen shot</div>
                    <button mat-raised-button (click)="dlNodeScreenShot('toHard')" style="background-color: rgba(235, 184, 123, .5)">
                        Download Screenshot
                    </button>
                    &nbsp;
                    <button mat-raised-button (click)="dlDAGBundle()" style="background-color: blueviolet">
                        Download DAG Bundle
                    </button>
                    </div>

                    <div class="cPMCntnrOut4">
                        <div style="text-align: center;"> Send screenshot to a Neighbor</div>
                        <button mat-raised-button (click)="dlNodeScreenShot('toNeighbor')"
                            style="background-color: rgb(212, 179, 243)">
                            Send
                        </button>
                        &nbsp;
                        Neighbor's email:<input [(ngModel)]="screenShotToNeighbor" class="btnMe">
                    </div>

                    <div class="cPMCntnrOut4">
                        <div style="text-align: center;">Upload the other node's screenshot</div>
                        <div class="draftFrmCntnrIn">
                            <div *ngIf="gUtils.uploadRes.msg" class="bPGPNotiCntnr">
                                {{ gUtils.uploadRes.msg }}
                            </div>
                            <table>
                                <tr>
                                    <td colspan="2">

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Chose screenshot:</div>
                                    </td>
                                    <td>
                                        <input type="file" (change)="gUtils.onFileChanged($event)">
                                        <button (click)="uploadNodeScreenShot()" style="background-color:#F7A441">
                                            Upload
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>Node's email:</div>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="gUtils.cPFileLabel" class="">
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </td>

        </tr>

    </table>


</div>
