.machineCol {
    margin-left: 10px;
    margin-right: 10px;
    width: 800px;
    float: left;
    min-height: 2700px;
    background-color: #f5f5f5;
}

.lblInfo {
    font-size: 12px;
}

.leavesCntnr {
    min-height: 99px;
    background-color: rgb(255, 235, 227);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.misdCntnr1 {
    min-height: 60px;
    background-color: rgb(255, 208, 147);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.misdCntnr2 {
    min-height: 99px;
    background-color: rgb(255, 208, 147);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.misdBlk {
    width: 95x;
    height: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px 0px 2px;
    float: left;
}

.misdBlk1 {
    width: 71px;
    height: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px 0px 2px;
    float: left;
}

.misdBlk2 {
    min-width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
}

.prsqPreq {
    width: 595px;
    height: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px 0px 2px;
    float: left;
}

.prsqPreq1 {
    width: 571px;
    height: 20px;
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px 0px 0px 2px;
    float: left;
}

.prsqPreq2 {
    min-width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
}

.CBCntnr {
    min-height: 99px;
    background-color: rgb(154, 255, 255);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.coinbasesBl {
    width: 100%;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 2px;
}

.askForLeavesInfoY {
    font-size: 12px;
    background-color: rgb(247, 74, 44);
}

.askForLeavesInfoN {
    font-size: 12px;
}

.utxoCntnr {
    min-height: 99px;
    background-color: rgb(159, 253, 151);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.resetTbl {
    border: 0px !important;
    padding: 1px;
    margin: 0px;
}

.resetTbl tr td {
    border: 0px;
    padding: 1px;
    margin: 0px;
}

.histBlk {
    width: 80px;
    height: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px 0px 2px;
}

.histHash {
    width: 67px;
    height: 20px;
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
    border: 0px;
}

.histLbl {
    width: 10px;
    height: 20px;
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
    border: 0px;
}

.histHeight {
    max-height: 2400px;
    overflow-y: scroll;
}

.dagL {
    margin-left: 10px;
    padding-left: 2px;
}

.leaveKV1 {
    width: 137px;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
    border: 0px;
}

.leaveKV2 {
    width: 11px;
    height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
    border: 0px;
}

.prsq1 {
    min-width: 435px;
    float: left;
    margin-top: 10px;
}

.prsq2 {
    width: 21px;
    float: left;
    margin-top: 10px;
}

.SendingLbl {
    font-weight: bold;
    margin-top: 9px;
}

.btnMe {
    margin-left: 3px;
}

.btnMeInp {
    margin-left: 3px;
    width: 30px;
}

.btnCntnr {
    padding: 1px;
    margin-bottom: 5px;
}

.machineBlncCntnr {
    background-color: #cff030;
    padding: 13px 3px 7px 3px;
    margin-top: 5px;
    font-size: 13.7px;
}

.machineBalnces {
    margin-top: 5px;
    border: 0px;
}

.machineBalnces td {
    text-align: right;
    border: 0px;
}

.blnceClss {
    background-color: rgb(230, 199, 159)
}

.nSSP4 {
    margin-top: 20px;
    padding-top: 5px;
    background-color: rgb(240, 241, 163);
}

.bndr15 {
    font-size: 110%;
    text-align: center;
}

#flshBuffDocMPnlNoti {
    background-color: rgb(255, 208, 147);
}

.cPMCntnrOut4{
    margin-top: 20px;
    background-color: #cff030;
}