.draftFrmCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
}

.draftFrmCntnrIn {
    background-color: rgb(219, 219, 219);
    width: 800px;
    float: left;
}

.BechAddr {
    width: 430px;
    font-size: 80%;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}
.agCat1{
    width: 350px;
}
.agCat2{
    width: 350px;
}