<div class="draftFrmCntnrOut" style="width:100%">
    <div class="draftFrmCntnrIn">
        <div class="notifyCntnr">
            {{ newAgNotiMsg }}
        </div>
        <table>
            <tr>
                <td colspan="2">
                    <b>
                        please before building new Agor make sure there is not another same one!
                        in current implementation of Demos, "EVERY BODY" can write "EVERY THING" in "EVERY Agora"!

                    </b>
                    in next versions, we will implement some directive operation(which are all optional) to have more
                    controll over your personal Agors.
                    since posting to Agors has cost(which payable by PAIs), hopefully in Agors you will not find
                    useless contents,
                    BTW there will be some noice algorythmes, you can activate it to re-arrange the posts to not wasting
                    your time in not usefull contents.
                </td>
            </tr>

            <tr>
                <td>Creator:</td>
                <td>
                    <input [(ngModel)]="agCreatorAccount" class="BechAddr">
                </td>
            </tr>

            <tr>
                <td>Agora Address:</td>
                <td>
                    <mat-form-field>
                        <mat-select [(ngModel)]="aginHash" class="agCat1"
                            (selectionChange)="setSelectedIName()">
                            <mat-option *ngFor="let anAgAddress of agorasLinkDropDown" [value]="anAgAddress.aginHash">
                               {{ anAgAddress.url }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>Category:</td>
                <td>
                    <mat-form-field>
                        <mat-select [(ngModel)]="agParent" class="agCat2">
                            <mat-option *ngFor="let anAgInfo of reIndentedAgoras" [value]="anAgInfo.ag_unique_hash">
                                {{ anAgInfo.ddTitle }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    Agora's Language:
                </td>
                <td>
                    <div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="agSelectedLang" >
                                <mat-option *ngFor="let aLng of gUtils.languagesList" [value]="aLng.iso">
                                    {{ aLng.enName }} ({{ aLng.lName }})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    title:
                </td>
                <td><input [(ngModel)]="agTitle" class="">
                    (e.g. developing, exchange, global warming & environment, free
                    discussions...)
                </td>
            </tr>

            <tr>
                <td>desacription:</td>
                <td><input [(ngModel)]="agDescription" class=""></td>
            </tr>
            <tr>
                <td>tags:</td>
                <td>
                    <input [(ngModel)]="agTags" class="">
                    <br> will be usefull to categorizing discussions
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align: right;">
                    <button mat-raised-button (click)="buildANewAgora('ToBuffer')" style="background-color:#F7A441">
                        Build & push to Block Buffer
                    </button>
                    <button mat-raised-button (click)="buildANewAgora('ToNetwork')" style="background-color:#F7A441">
                        Build & push to Network
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>