.ff4e{
    margin:20px;
    padding: 5px;
    background-color: rgb(232, 255, 254);
}

.bHs3h5 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.monSF {
    font-family: monospace;
}
.cc8{
    padding-left: 5px;
}
