<div *ngIf="rejList" class="ff4e">
    <div class="bHs3h5">Rejected Transactions</div>
    <table>
        <tr>
            <td></td>
            <td>Insert Date</td>
            <td>Block</td>
            <td>Transaction</td>
            <td>Coin</td>
        </tr>
        <tr *ngFor="let aRej of rejList; index as i;">
            <td>{{i+1}}</td>
            <td>{{ aRej.rt_insert_date }}</td>
            <td title="{{aRej.rt_block_hash}}">{{ gUtils.hash6c(aRej.rt_block_hash) }}</td>
            <td title="{{aRej.rt_doc_hash}}">{{ gUtils.hash6c(aRej.rt_doc_hash) }}</td>
            <td title="{{aRej.rt_coin}}">{{ gUtils.shortCoinRef(aRej.rt_coin) }}</td>
        </tr>
    </table>
</div>


<div *ngIf="susTrxList" class="ff4e">
    <div class="bHs3h5">Suspicious Transactions</div>
    <div>
        <mat-radio-group aria-label="" [(ngModel)]="selectedOrderSet">
            <table>
                <tr (click)="slctdSusOrder('orderSet1')">
                    <td>
                        <mat-radio-button value="orderSet1"></mat-radio-button>
                    </td>
                    <td class="lbl6">1.vote date, 2.coin, 3.receive order</td>
                </tr>
                <tr (click)="slctdSusOrder('orderSet2')">
                    <td>
                        <mat-radio-button value="orderSet2"></mat-radio-button>
                    </td>
                    <td class="lbl6">1.coin, 2.receive order, 3.Block</td>
                </tr>
                <tr (click)="slctdSusOrder('orderSet3')">
                    <td>
                        <mat-radio-button value="orderSet3"></mat-radio-button>
                    </td>
                    <td class="lbl6">1.voter, 2.coin, 3.vote date</td>
                </tr>
                <tr (click)="slctdSusOrder('orderSet4')">
                    <td>
                        <mat-radio-button value="orderSet4"></mat-radio-button>
                    </td>
                    <td class="lbl6">1.FVBlock, 2.coin, 3.voter</td>
                </tr>
            </table>
        </mat-radio-group>

    </div>
    <div>
        <table>
            <tr>
                <td></td>
                <td>Vote Date</td>
                <td>Coin</td>
                <td>Spender (Block:Transaction)</td>
                <td>Receive Order</td>
                <td>Spend Date</td>
                <td>Voter</td>
                <td>FV Block</td>
            </tr>
            <tr *ngFor="let aSusT of susTrxList; index as i;">
                <td>{{i+1}}</td>
                <td>{{ aSusT.st_vote_date }}</td>
                <td class="monSF cc8" title="{{aSusT.st_coin}}" style="cursor: pointer;" (dblclick)="siblTraceCoinInfo(aSusT.st_coin)" >
                    <span [style.background-color]="aSusT.coinColor">
                        C
                    </span>
                    {{ gUtils.shortCoinRef(aSusT.st_coin) }}
                </td>
                <td class="monSF cc8" title="{{aSusT.st_spender_block}}:{{aSusT.st_spender_doc}}">
                    <span [style.background-color]="aSusT.spenderColor">
                        BT
                    </span>
                    <span style="cursor: pointer;" (dblclick)="dblclickedSpenderBlock(gUtils.hash6c(aSusT.st_spender_block))"> {{ gUtils.hash6c(aSusT.st_spender_block) }}</span>
                    :{{ gUtils.hash6c(aSusT.st_spender_doc) }}
                </td>
                <td>{{ aSusT.st_receive_order }}</td>
                <td>{{ aSusT.st_spend_date }}</td>
                <td class="monSF cc8" >
                    <span [style.background-color]="aSusT.voterColor">
                        {{ gUtils.shortBech6(aSusT.st_voter) }}
                    </span>
                </td>
                <td class="monSF cc8" >
                    <span [style.background-color]="aSusT.loggerColor">
                        FV 
                    </span>
                    <span style="cursor: pointer;" (dblclick)="dblclickedLoggerBlock(gUtils.hash6c(aSusT.st_logger_block))">
                        {{ gUtils.hash6c(aSusT.st_logger_block) }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
