<div>
    <h1>
        <img [src]="logoUrl" title="imagine logo">
    </h1>
</div>


<div class="imgManifesto">
    <div>

        <p>
            <br>Imagine there's no heaven
            <br>It's easy if you try
            <br>No hell below us
            <br>Above us, only sky
            <br>Imagine all the people living for today
            Ah
        </p>

        <p>
            <br>Imagine there's no countries
            <br>It isn't hard to do
            <br>Nothing to kill or die for
            <br>And no religion too
            <br>Imagine all the people living life in peace
        </p>

        <p>
            <br>You may say I'm a dreamer
            <br>But I'm not the only one
            <br>I hope some day you'll join us
            <br>And the world will be as one
        </p>

        <p>
            <br>Imagine no possessions
            <br>I wonder if you can
            <br>No need for greed or hunger
            <br>A brotherhood of man
            <br>Imagine all the people sharing all the world
        </p>

        <p>
            <br>You may say I'm a dreamer
            <br>But I'm not the only one
            <br>I hope some day you'll join us
            <br>And the world will live as one
        </p>
        <br>John Lennon



    </div>
</div>


<div>Angular Interface Version: {{AngularInterfaceVersion}}</div>
<div>Client Version: {{imgClientVersion}}</div>
<div>
    <div>Machine Signals: </div>
    <div *ngFor="let aSig of machineSignals">
        {{aSig}}
    </div>

</div>
