<div class="agBd9">
    <div *ngIf="showWelcome" class="showWelcome">
        welcome to Demos, we are here to talk freely.
        ther are some Agoras, and if you need another one, just build it.
    </div>

    <div>
        <div *ngIf="agoraInfo" class="AgTq6y" title="{{ agoraInfo.ag_unique_hash }}">
            "{{ agoraInfo.iName }}/demos/{{ agoraInfo.ag_title }}" Agora({{ agoraInfo.ag_unique_hash | slice:0:8 }})
        </div>
        <div *ngIf="posts" class="AgTq6y" title="">
            <div *ngFor="let aPost of posts; index as i; even as isEven" [class.isEven]="isEven"
                style="padding: 5px; margin-bottom: 20px;">
                <table class="aPTb6">
                    <tr>
                        <td>
                            <div class="senderC4" title="{{ aPost.ap_creator}}">
                                <span
                                    [style.background-color]="aPost.authorColor">{{ aPost.shortBech | slice:0:4}}</span>
                                <span>{{ aPost.shortBech | slice:4}}</span>:
                            </div>
                        </td>
                        <td>
                            <div class="sOpiC4">
                                <div [innerHTML]="aPost.ap_opinion"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="dpRp8"
                                (click)="dspReply({docHash:aPost.ap_doc_hash, citation:aPost.ap_opinion})">Replay</span>
                            <div *ngIf="aPost.attrActions">
                                <span *ngFor="let anAttr of aPost.attrActions" class="dpRp9"
                                    (click)="reActAttr(anAttr.aAct, anAttr.aParams)">{{ anAttr.aCaption }}</span>

                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>