.agBd9 {
    margin: 10px;
    padding: 10px;
    background-color: rgb(202, 235, 255);
}

.showWelcome {
    text-align: center;
}

.AgTq6y {
    text-align: center;
    color: maroon;
    font-size: 107%;
    padding: 20px;
}

.aPTb6 td {
    vertical-align: top;
}

.senderC4 {
    font-style: italic;
    color: mediumblue;
    width: 171px;
}

.sOpiC4 {
    color: rgb(177, 47, 47);
    padding-left: 5px;
    margin: 0px 5px 5px 5px;
    width: min-600px;
    text-align: left;
}

.dpRp8 {
    cursor: pointer;
    float: right;
    margin: 2px 2px 7px 7px;
    padding: 2px;
    float: right;
}

.dpRp9 {
    cursor: pointer;
    float: right;
    margin: 2px 2px 7px 7px;
    padding: 2px 3px 2px 3px;
    float: right;
    border: 1px solid rgb(212, 192, 79);
    background-color: rgb(194, 176, 78);
}

.isEven {
    background-color: beige;
}