<table class="wkcp9">
    <tr>
        <td>
            <wiki-side (alterDspPageEditFormParent)="alterDspPageEditForm($event)"> </wiki-side>
        </td>
        <td>

            <div *ngIf="dspWkForm==true">
                <wk-form-create-page [mpSelectedLang]=(mpSelectedLang) (hideNewPageFormParent)="hideNewPageForm($event)"></wk-form-create-page>
            </div>

            <div>
                <wiki-body [dspWkForm]=(dspWkForm) (dspNewPageFormParent)="dspNewPageForm($event)" (fillEditFormParent)="fillEditForm($event)"></wiki-body>
            </div>

        </td>
    </tr>
</table>