<div class="trDtl6">
  <div class="period">2019/01/02 - 2019/11/15</div>
  <ng-container class="heading">head injected to trx list (from 2019-01-01 to 2019-10-10)</ng-container>
  <ng-container class="body">transactions list created by wallet</ng-container>
  <br>
  <button mat-raised-button (click)="refreshTrxList()" color="primary">Refresh Transactions list</button>

  <div class="trxListCntnr" *ngIf="trxList">
    <div *ngFor="let address of gUtils.objKeys(trxList)">
      <div class="address">Address: {{ address }}:</div>

      <div class="aRec">
        <div class="fCols date">Date</div>
        <div class="fCols refLoc">Ref</div>
        <div class="fCols value">Value</div>
      </div>

      <div *ngFor="let record of trxList[address]['trxs']" class="aRec"
        [style.color]="(record.type=='income')?'green':'red'">
        <div class="fCols date">{{record.date}}</div>
        <div class="fCols refLoc">{{gUtils.shortCoinRef(record.refLoc)}}</div>
        <div class="fCols value" title="{{gUtils.sepNum(record.value) }} &micro; PAI">
          {{gUtils.microPAIToPAI6(record.value)}}</div>
      </div>

      <div class="aRec">
        <div class="fCols date">--------------------</div>
        <div class="fCols refLoc">--------------------</div>
        <div class="fCols value">--------------------</div>
      </div>
      <div class="aRec">
        <div class="fCols date">Summary:</div>
        <div class="fCols refLoc">Incomes<br>Ouitcomes<br>Remines</div>
        <div class="fCols value">
          {{gUtils.microPAIToPAI6(trxList[address]['incomes'])}}
          <br>-{{gUtils.microPAIToPAI6(trxList[address]['outcomes'])}}
          <br>{{gUtils.microPAIToPAI6(trxList[address]['incomes']-trxList[address]['outcomes'])}}
        </div>
      </div>
    </div>
  </div>
</div>
