.trxListCntnr {}

.trxListCntnr .address {
    font-weight: bold;
    margin-top: 10px;
}

.trxListCntnr .aRec {
    float: none;
    width: 600px;
    line-height: 17px;
    overflow: hidden;
}

.trxListCntnr .aRec .fCols {
    line-height: 17px;
    float: left;
    margin-right: 5px;
}

.trxListCntnr .aRec .date {
    width: 171px;
}

.trxListCntnr .aRec .value {
    width: 110px;
    text-align: right;
}

.trxListCntnr .aRec .refLoc {
    width: 290px;
}

.trDtl6 {
    max-height: 500px;
    overflow-y: scroll;
}