<table class="mMcnt5">
    <tr>
        <td style="vertical-align: top;">
            <div>
                <br>
                1. Fetch emails from mail server and write on local hard disk
                <br>
                <button mat-raised-button color="primary" (click)="fetchInboxManually('Public')">
                    Fetch Public Inbox Manually</button>
                <button mat-raised-button style="background-color:rgb(255, 160, 131)"
                    (click)="fetchInboxManually('Private')">
                    Fetch Private Inbox Manually</button>
            </div>
            <div>
                <br>
                2. Read file from local hard disk and push it to parsing q
                <br>
                <button mat-raised-button color="primary" (click)="readingHarddiskManually()">
                    Read Harddisk Manually</button>
            </div>
            <div>
                <br>
                3. Pull from Qeue and pars and react & probably prepare a response
                <br>
                <button mat-raised-button color="primary" (click)="pullFromQeueManually()">
                    Pull from Qeue Manually</button>
            </div>
            <div>
                <br>
                3. Broadcast to network
                <button mat-raised-button color="primary" (click)="sendOutThePacketManually()">
                    Broadcast Manually</button>

            </div>
            <div>
                <button mat-raised-button (click)="getMachineInfo()" class="btnMe" color="warn">
                    4. Refresh Machine's DAG Info
                </button>&nbsp;
            </div>

            <div>
                <div>DAG explorer</div>
                <div style="width: 800px;">
                    <img-graph [machineInfo]="localMachineInfoObj" [equalIn5DagsHash]="equalIn5DagsHash"
                        (getMachineInfoParent)="getMachineInfo(gUtils.getAppCloneId())"
                        (makeTrxParent)="makeTrx(gUtils.getAppCloneId(), $event)"
                        (detailedDagParent)="detailedDag(gUtils.getAppCloneId())"
                        (invokeBlockParent)="invokeBlock($event, gUtils.getAppCloneId())"
                        (invokeAllMissedParent)="invokeAllMissed($event, gUtils.getAppCloneId())"
                        (refreshMissedBlockParent)="refreshMissedBlock(gUtils.getAppCloneId())"
                        (wRaiseSharesParent)="wRaiseShares(gUtils.getAppCloneId())"
                        (pushCoinbaseParent)="pushCoinbase(gUtils.getAppCloneId())"
                        (wBroadcastBlockParent)="wBroadcastBlock(gUtils.getAppCloneId(), $event)"
                        (pushP4PParent)="pushP4P()" (definitPushP4PParent)="definitPushP4P($event)"
                        (machineBalanceChkParent)="machineBalanceChk(gUtils.getAppCloneId())"
                        (alterBalanceLockParent)="alterBalanceLock(gUtils.getAppCloneId())"
                        (dblclickedBlockShortHashParent)="dblclickedBlockShortHash(gUtils.getAppCloneId(), $event)"
                        (blockGenReportParent)="blockGenReport(gUtils.getAppCloneId())"
                        (dlTrxListParent)="dlTrxList(gUtils.getAppCloneId())"
                        (notInHistoryParent)="notInHistory(gUtils.getAppCloneId(), $event)"
                        (getWAncestorsParent)="getWAncestors(gUtils.getAppCloneId(), $event)">
                    </img-graph>
                </div>
            </div>
        </td>
        <td style="vertical-align: top;">


            <div class="grfLeftPnl7">

                <div style="margin: 20px 10px 70px 10px; padding: 5px; ">
                    <block-presenter [wBlock]="wBlock" (traceCoinInfoParent)="traceCoinInfo($event)" > </block-presenter>
                </div>


                <div class="mBuffer2">
                    <div class="buTtl">Machine Block Buffer content</div>
                    <div>
                        <table>
                            <tr>
                                <td></td>
                                <td>Type (Class)</td>
                                <td>Creation Date</td>
                                <td>DPCost (by PAI)</td>
                                <td>Length (Character)</td>
                                <td>Delete</td>
                            </tr>
                            <tr *ngFor="let aBuf of localMachineInfoObj.nodeBuffer; index as i" class="aRowbC"
                                title="{{ aBuf.bdDocHash }}">
                                <td class="bClmn1">{{ i+1 }}</td>
                                <td class="bClmn1">{{ aBuf.bdDocType }} ({{ aBuf.bdDocClass }})</td>
                                <td class="bClmn1">{{ aBuf.bdInsertDate }}</td>
                                <td class="bClmn1 bcPi">{{ gUtils.microPAIToPAI6(aBuf.bdDPCost) }} </td>
                                <td class="bClmn1">{{ aBuf.bdDocLen }}</td>
                                <td class="bClmn1"><span class="dlBf"
                                        (click)="rmvFromBuffer(gUtils.getAppCloneId(), aBuf.bdDocHash)">x</span></td>
                            </tr>
                        </table>
                    </div>
                    <div
                        style="background-color: rgba(0, 68, 255, 0.849); text-align: center; margin: 20px 10px 10px 10px; padding: 10px; ">
                        <div id="flshBuffDocMPnlNoti">{{flshBuffDocMPnlNoti}}</div>
                        <div style="text-align: center;">
                            <button mat-raised-button (click)="flushBufferedDocsInMonitorPanel()"
                                style="background-color:rgb(45, 160, 125); color: #fff; font-weight: bold;">
                                Flush Buffer to Block & push Block to network
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </td>
        <td style="vertical-align: top;">
            <div style="margin: 20px 10px 70px 10px; padding: 5px; ">
                <transactions-observer (traceCoinInfoParent)="traceCoinInfo($event)"
                    (dblclickedBlockShortHashParent)="dblclickedBlockShortHash(gUtils.getAppCloneId(), $event)">
                </transactions-observer>
            </div>


            <div style="margin: 20px 10px 70px 10px; padding: 5px; ">
                <coin-trace [selectedCoin]="selectedCoin"
                    (dblclickedBlockShortHashParent)="dblclickedBlockShortHash(gUtils.getAppCloneId(), $event)">
                </coin-trace>
            </div>


        </td>
    </tr>
</table>
