.mMcnt5 table td {
    vertical-align: top;
}

.grfLeftPnl7 {
    min-height: 300px;
    background-color: rgb(208, 243, 222);
    padding: 10px;
    margin: 20px;
}

.mBuffer2 {
    background-color: rgb(39, 5, 5);
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.buTtl {
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    text-align: center;
}

.aRowbC {
    padding:2px;
}

.bClmn1 {
    min-width: 30px;
    padding: 5px;
}

.bcPi {
    text-align: right;
}

.dlBf {
    font-weight: bold;
    cursor: pointer;
    color: red;
    padding: 2px;
}
