<div>
    <div class="leftpadd">
        <table>
            <tr>
                <td colspan="2">

                </td>
            </tr>
            <tr>
                <td colspan="2">


                    <div>
                        <table class="neisTbl3">
                            <tr>
                                <th>Email</th>
                                <th>Public key</th>
                                <th *ngIf="nConnectionType=='Public'">1. Shakehand</th>
                                <th *ngIf="nConnectionType=='Private'">1. Shakehand</th>
                                <th *ngIf="nConnectionType=='Public'">Ask for <br>her public neighbors list</th>
                                <th *ngIf="nConnectionType=='Public'">Present her to <br>your neighbors</th>
                                <th>Disconnect</th>
                            </tr>
                            <tr *ngFor="let aNei of neighborsList">
                                <td>{{ aNei.nEmail }}</td>

                                <td>
                                    <div class="leftpadd">
                                        <div class="pgpCntnr5">
                                            {{ aNei.nPGPPublicKey }}
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </td>

                                <td *ngIf="nConnectionType=='Public'"><img src="../../assets/email.png" alt="Handshake"
                                        title="Public Handshake" (click)="handshakeNeighbor(aNei.nId, 'Public')"
                                        class="emIc8">
                                </td>

                                <td *ngIf="nConnectionType=='Private'"><img src="../../assets/email.png" alt="Handshake"
                                        title="Private Handshake" (click)="handshakeNeighbor(aNei.nId, 'Private')"
                                        class="emIc8">
                                </td>

                                <td *ngIf="nConnectionType=='Public'" style="background-color: rgb(224, 224, 224);"><img
                                        src="../../assets/email.png" alt="Handshake" title="Handshake"
                                        (click)="notImplementedYet()" class="emIc8">
                                </td>

                                <td *ngIf="nConnectionType=='Public'">
                                    <img src="../../assets/email.png" alt="present this email to your Neighbors"
                                        title="present {{ aNei.nEmail }} to your Neighbors"
                                        (click)="presentEmailToNeighbors(aNei.nEmail)" class="emIc8">
                                </td>

                                <td><img src="../../assets/close_mini.png" alt="Disconnect" title="Disconnect" class="ctNi4"
                                        (click)="cutNeighbor(aNei.nId)">
                                </td>

                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="adN4rm">
                        <div class="ne4Ttl5">Enhance your network connctivity by adding more (reliable
                            {{nConnectionType}}) neighbors</div>
                        <table>
                            <tr>
                                <td>
                                    <div class="adNeNei5">Email</div>
                                </td>
                                <td>
                                    <div class="adNeNei5">Public Key</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <mat-form-field class="example-full-width">
                                            <mat-hint>Neighbor email address</mat-hint>
                                            <input matInput [(ngModel)]="nEmail" placeholder="email"
                                                pattern=".*@.*\..+">
                                        </mat-form-field>
                                    </div>
                                </td>
                                <td>
                                    <div class="leftpadd">
                                        <div class="input-group">
                                            <mat-form-field class="example-full-width">
                                                <mat-hint>Neighbor public key (if you have it)</mat-hint>
                                                <input matInput [(ngModel)]="nPubKey" placeholder="public key">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <mat-chip-list>
                                        <button mat-raised-button color="primary" (click)="addNeighbor()">Add New
                                            Neighbor</button>
                                    </mat-chip-list>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

        </table>
    </div>

</div>