mat-grid-tile {
    background: lightblue;
}

.setting-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

@media screen and (max-width: 600px) {
    #SignupContent {
        height: 100%;
    }
    #materialToolbar {
        padding: 10px;
        border-radius: 4px;
    }
}

.mat-toolbar {
    border-radius: 7px;
    border: 1px solid #ADe8a6;
}

.desc1 {
    padding: 5px;
    font-size: 15px;
}

.desc2 {
    font-size: 12px;
}

.horizantalSeparator {
    border-top: 3px solid #ADe8a6;
    margin: 40px 10px 10px 10px;
}

.title2 {
    font-size: 17px;
}

.leftpadd {
    padding-left: 20px;
}

.pgpCntnr5 {
    font-size: 11px;
    width: 200px;
    padding: 15px 5px 25px 5px;
    background-color: rgb(184, 252, 138);
    height: 30px;
    overflow-y: scroll;
    
}

.neisTbl3 th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13.5px;
    padding-left: 5px;
}

.neisTbl3 td {
    vertical-align: top;
    padding-left: 5px;
}

.adNeNei5 {
    margin: 30px 10px 10px 10px;
    background-color: mediumaquamarine;
    padding: 5px;
}

.emIc8 {
    width: 25px;
    cursor: pointer;
}

.adN4rm {
    background-color: lightgoldenrodyellow;
    padding: 5px;
    margin: 5px;
}

.ne4Ttl5 {
    font-weight: bold;
    margin: 10px;
}
.ctNi4{
    cursor: pointer;
}
