<div>
    <table class="table table-responsive-sm myTb">
        <thead>
            <tr>
                <th scope="col" colspan="2">Send Pai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fund:</td>
                <td><input disabled [(ngModel)]="spFundsDsp" (keyup.enter)="onKeyUpp()" title="{{ gUtils.sepNum(spFunds) }} &micro; PAI"></td>
            </tr>
            <tr>
                <td>Receiver:</td>
                <td><input [(ngModel)]="spReceiver" (keyup.enter)="onKeyUpp()" imwAddressFormat></td>
            </tr>
            <tr>
                <td>Value (to send):</td>
                <td><input [(ngModel)]="spPais" (keyup)="reCalcPayment()"> in PAIs</td>
            </tr>
            <tr>
                <td>
                    if you want to divide payments to units
                    <br>0 means all payment in 1 output unit
                </td>
                <td><input [(ngModel)]="spOutputUnit" (keyup)="reCalcOutputNumbers()" size="9"> the value each outputs</td>
                <td>{{ unitNumbers }}</td>
            </tr>
            <tr>
                <td>Transaction's Fee:</td>
                <td><input [(ngModel)]="spDPCost" (keyup.enter)="onKeyUpp()" (keyup)="reCalcPayment()"> in PAIs</td>
            </tr>
            <tr>
                <td>Change Back Address <br> (by default is backer-address):</td>
                <td>
                    <input [(ngModel)]="spChangeBack" (keyup.enter)="onKeyUpp()" imwAddressFormat> {{ gUtils.microPAIToPAI6(changeBack) }} PAIs
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button (click)="sendPai()" class="" [class.active]="isActive" color="accent">Send Pai</button>
                    <div style="color: red; font: bold; margin-top: 10px; margin-bottom: 40px;">{{ sendPaiErr }}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
