.exElCnt7 {
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
}

.exEl5 {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.lbl6 {
    min-width: 1100px;
    margin: 2px 5px 2px 5px;
    padding: 10px;
}

.plFrm3{
    margin: 2px 5px 20px 5px;
    padding: 10px;
    background-color: rgb(252, 207, 152);
}
.sP9{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
.stPollNotifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}