<div class="exElCnt7">
    <div class="exEl5">Execute an ellection, to Refine imagine's Administrative parameters!</div>
    <mat-radio-group aria-label="selectedRadioZ" [(ngModel)]="selectedPollingRadio" >
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Polling Subject</td>
            </tr>
            <tr *ngFor="let aPoll of admPollings; index as i" (click)="slctdPolling(aPoll.key)">
                <td>{{ i+1 }}</td>
                <td>
                    <mat-radio-button value="{{ aPoll.key }}" ></mat-radio-button>
                </td>
                <td class="lbl6">{{ aPoll.label }}</td>
            </tr>
        </table>
    </mat-radio-group>


<div class="plFrm3">
    <div class="stPollNotifyCntnr" >{{ stPollNotifyMsg }}</div>

    <div *ngIf="selectedPollingRadio">
        <div class="sP9">Start a Polling For {{ pFormsDict[selectedPollingRadio].label }}</div>
        <table>
            <tr *ngIf="pFormsDict[selectedPollingRadio].pValues.share" >
                <td>Minimum Shares: </td>
                <td><input [(ngModel)]="pFormsDict[selectedPollingRadio].pValues.share" > </td>
            </tr>
            <tr *ngIf="pFormsDict[selectedPollingRadio].pValues.pFee" >
                <td>Fee: </td>
                <td><input [(ngModel)]="pFormsDict[selectedPollingRadio].pValues.pFee" > </td>
            </tr>
            <tr>
                <td>Polling longevity: </td>
                <td><input [(ngModel)]="pFormsDict[selectedPollingRadio].pValues.longevity" > </td>
            </tr>
        </table>
        &nbsp;
        <button mat-raised-button (click)="createAPollingFor()" style="background-color:rgb(255, 201, 136)">
            Run Polling
        </button>
    </div>



</div>

</div>