.draftFrmCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
}

.draftFrmCntnrIn {
    background-color: rgb(219, 219, 219);
    width: 800px;
    float: left;
}

.BechAddr {
    width: 430px;
    font-size: 80%;
}
.aGpinNote7{
    font-size: 103%;
    padding: 10px;
    margin-bottom: 10px;;
}
.AgT6y{
    text-align: center;
    color: maroon;
    font-size: 107%;
    padding: 20px;
}
.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}
.agCat1{
    width: 350px;
}
.agCat2{
    width: 350px;
}
.msBd13{
    width: 695px;
}
.ernPai7{
    cursor: pointer;
    font-style: italic;
    color: maroon;
}
.rpCit5{
    color: rgb(77, 77, 255);
    font-style: italic;
}
.rprJ5{
    font-size: large;
    font-weight: bold;
    color: mediumvioletred;
    cursor: pointer;
    padding: 2px;
}