<div class="draftFrmCntnrOut" style="width:100%">
    <div class="draftFrmCntnrIn">
        <div class="notifyCntnr">
            {{ sendPostNotiMsg }}
        </div>
        <table>
            <tr>
                <td colspan="2">
                    <div class="AgT6y" title="{{ napAgUqHash }}">
                        "{{ napIName }}/demos/{{ napAgTitle }}" Agora({{ napAgUqHash | slice:0:8 }})
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="aGpinNote7">
                        <div style="text-align: center; margin-bottom: 20px;">
                            <b>
                                please remember everything you post, remains FOREVER on chain, neither you nor other can
                                not edit, delete or hide it.
                            </b>
                        </div>

                        <div>
                            In order to avoid spaming, every activity in imagine has cost and the payed PAI goes to
                            imagine's
                            treasury and is divided to shareholders.
                            if you are new in imagine and still don't have any PAI, you can borrow from someone may
                            know, or send posts by POW (Proof Of Work). it is slow and probably takes a few minutes.
                            in addition if you want to earn PAIs take a look at 
                            <span class="ernPai7" (click)="gUtils.redirectToPage('imagine/wiki/faq')">FAQ</span> and 
                            <span class="ernPai7" (click)="gUtils.redirectToPage('imagine/wiki/prepare a proposal')">prepare a proposal</span>.
                        </div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="replyArgs.docHash!=''">
                <td colspan="2">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    Reply to:
                                </td>
                                <td class="rpCit5">
                                    <div [innerHTML]="replyArgs.citation | slice:0:152"></div>
                                </td>
                                <td>
                                    <span class="rprJ5" title="Reject" (click)="rejectReply()">X</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Your Reply Orientation:
                                </td>
                                <td class="" colspan="2">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="napReplyPoint">
                                            <mat-option *ngFor="let vOpt of voteOptions" [value]="vOpt[0]">
                                                {{ vOpt[1] }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Opinion:</td>
                <td>
                    <div>
                        <textarea [(ngModel)]="napOpinion" class="msBd13"> </textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <button mat-raised-button (click)="sendNewPost('ToBuffer')"
                        style="background-color:rgb(255, 191, 112)">
                        push to Block Buffer
                    </button>
                    <button mat-raised-button (click)="sendNewPost('ToNetwork')" style="background-color:#F7A441">
                        push to Network
                    </button>
                    <button mat-raised-button (click)="sendNewPost('ToNetwork', 'byPoW')"
                        style="background-color:rgb(236, 141, 25)" title="If you still haven't PAI">
                        push to Network By POW
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>