<div class="inH1">
    <h1 class="title">
        <p>iNames Empower you to have your UnCensorable personal voice on Cyberspace</p>
    </h1>

</div>


<table>
    <tr>
        <td>
            <div class="rPM3I">
                <div class="ttl">My iNames</div>
                <div *ngFor="let anIName of userINames" class="aI5" >
                    <a class='nav-link' (click)="gUtils.redirectToPage(anIName.imn_name)">{{ anIName.imn_name }}</a>
                </div>

                <div *ngIf="userINames && userINames.length>0" class="pgtj">
                    Your Page Templates
                </div>
            </div>





            <div>
                <div class="rg45" >Registered iNames</div>
                <div>
                    <div *ngFor="let anIName of recordedINames">
                        <div class="inTtl5"  (click)="gUtils.redirectToPage(anIName.iName)" >
                            {{ anIName.iName }}
                        </div>
                        <div *ngIf="bindingDict[anIName.inHash]">
                            <div *ngFor="let anIPGP of bindingDict[anIName.inHash]['IPGP']" class="inBinded2">
                                <div class="sndMsgC4" (click)="goToMessenger(anIPGP.iPGPHandle)"
                                    title="Send Private Message">{{ anIPGP.nbConfInfo.iPLabel }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </td>
        <td style="vertical-align: top;">
            <div class='container'>
                <im-an-iname></im-an-iname>
            </div>
        </td>
    </tr>
</table>

<div>
    {{ rState  }}
</div>