.inH1 {
  text-align: center;
  color: lightgreen;
  background-color: rgb(143, 143, 84);
  padding: 50px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.sndMsgC4 {
  cursor: pointer;
  padding-left: 40px;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .inTtl5 {
    background-color: #efeff5;
  }
  .inBinded2 {
    margin-left: 10px;
    background-color: rgb(255, 254, 247);
  }
  /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}

.rg45{
  margin-top: 20px;;
}
.rPM3I {
  background-color: #f3dede;
  margin: 8px;
  padding: 8px;
}

.rPM3I .ttl {
  text-align: center;
  font-size: 105%;
}

.rPM3I .aI5 {
  padding-left: 20px;
  cursor: pointer;
}

.inTtl5 {
  padding-left: 20px;
  cursor: pointer;
}
.pgtj{
  margin: 5px;
}