<table>
    <tr>
        <td>
            <div class="msgBrd3">
                <div class="msTtl">iMessenger</div>
                <div class="nt3">{{notiMsgCntnr}}</div>
                <div class="msTtl">
                    send message to ( <span
                        *ngIf="iPGPHandleMap[iPGPHandle]">{{ iPGPHandleMap[iPGPHandle]['iName']}}</span> /
                    <span *ngIf="iPGPHandleMap[iPGPHandle]">
                        {{ iPGPHandleMap[iPGPHandle]['nbConfInfo']['iPLabel']}}
                    </span>)({{iPGPHandleShort}})
                </div>
                <div class="msTtl">
                    Using your iPGP:
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedSenderPGP">
                            <mat-option *ngFor="let aPG of myIPGPBindings" [value]="aPG.bindedDummyKey">
                                {{ aPG.bindedIName }} / {{ aPG.bindedTitle }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="msgsCntnr">
                    <div *ngFor="let msg of messages" [class.meTxt]="msg.mim_direction=='ST'"
                        [class.otherTxt]="msg.mim_direction!='ST'">
                        {{msg.mim_message}}
                    </div>
                </div>

                <div>
                    <textarea [(ngModel)]="msgBody" class="msBd3"> </textarea>
                </div>

                <div class="msBtns">
                    <button mat-raised-button (click)="loadMessages()" style="background-color:rgb(176, 92, 255)"
                        class="msBtn1">
                        refresh Messages
                    </button>
                    <button mat-raised-button (click)="sendPlainTextMessage('ToBuffer')"
                        style="background-color:rgb(117, 247, 84)" class="msBtn1">
                        Send Message To Block Buffer
                    </button>
                    <button mat-raised-button (click)="sendPlainTextMessage('ToNetwork')"
                        style="background-color:rgb(117, 247, 84)" class="msBtn1">
                        Send Message & Broadcast Immediately
                    </button>
                </div>

            </div>
        </td>
    </tr>



    <tr>
        <td>
            <div class="sToN2cnt">
                <div class="rcvd5">
                    <div class="sToN2TT">Send Direct Encryptrd Message to a Neighbor (Not recording in Block-Graph)
                    </div>
                    <div class="sToN2TT">Received Messages</div>
                    <div class="rcvd6">
                        <table>
                            <tr *ngFor="let aMsg of myDirectMsgs">
                                <td>
                                    <div class="snd3"><span class="sndr5">From: </span> <b>{{ aMsg.dm_sender }}</b>
                                        <span class="sndr5"> Received: </span> {{ aMsg.dm_creation_date }} <span
                                            class="dlB3f" title="Delete" (click)="deleteDirectMsg(aMsg.dm_id)">X</span>
                                    </div>
                                    <div class="dMsgBd2">
                                        {{ aMsg.dm_message }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button mat-raised-button (click)="refreshMyDirectMsgs()" style="background-color:rgb(117, 247, 84)"
                        class="msBtn1">
                        Refresh
                    </button>
                </div>

                <div class="sToN2TT">Send Direct Encryptrd Message to a Neighbor (Not recording in Block-Graph)</div>
                <div class="nt3">{{ notiDirMsgCntnr }}</div>
                <div>
                    <textarea [(ngModel)]="directMsgBody" class="msBd3"> </textarea>
                </div>
                <div class="msTtl">
                    Send to:
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedNeighbor">
                            <mat-option *ngFor="let aNei of myNeighbors" [value]="aNei.nEmail">
                                {{ aNei.nEmail }} ({{ aNei.nConnectionType }})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button (click)="sendDirectMsgToNeighbor()"
                        style="background-color:rgb(117, 247, 84)" class="msBtn1">
                        Send
                    </button>

                </div>
            </div>
        </td>
    </tr>



    <tr>
        <td>
        </td>
    </tr>





</table>
