.msgBrd3 {
    width: 700px;
    border: 1px dotted #fa6610;
    margin: 20px;
    padding: 0px;
}
.nBt3{
    text-align: center;
    background-color: lemonchiffon;
}
.msTtl {
    text-align: center;
    font-size: large;
    background-color: #fa5f5f;
    padding: 3px;
}

.msgsCntnr {
    background-color: #fa6610;
}

.otherTxt {
    padding: 3px 7px 3px 7px;
    text-align: left;
}
.meTxt {
    padding: 3px 7px 3px 7px;
    text-align: right;
}
.msBd3{
    width: 695px;
}
.msBtns{
    margin-top: 3px;
    margin-bottom: 3px;
} 
.msBtn1{
    margin-left: 10px;
}
.sToN2cnt{
    background-color: #b8f8a8;
    padding: 10px;
    margin: 60px 10px 10px 10px;
}
.sToN2TT{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.rcvd5{
    background-color: rgb(238, 228, 228);
}
.rcvd6{
    max-height: 800px; 
    overflow-y: scroll;
}
.snd3{
    text-align: center;
    font-size: large;
    padding: 3px;
}
.sndr5{
    font-style: italic;
}
.dlB3f{
    font-weight: bold;
    cursor: pointer;
    color: red;
    padding: 2px;
}
.dMsgBd2{
    min-height: 100px;
    width: 300px;
}