<div class="inHeader">
    Welcome to {{iName}}! home page
</div>
<div>
    you can use "{{iName}}" for different type of usability.
    <br> http://localhost:4200/{{iName}}/
    <br> http://localhost:4200/{{iName}}/wiki
    <br> http://localhost:4200/{{iName}}/weblog
    <br> http://localhost:4200/{{iName}}/forum
    <br> http://localhost:4200/{{iName}}/...  customizable
</div>

<in-custom-post></in-custom-post>

<div>
    <div class="draftFrmCntnrOut" style="width:100%">
        <div class="draftFrmCntnrIn">
            <div class="bPGPNotiCntnr">
                {{ bPGPNotiMsg }}
            </div>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="bndr5">
                            Create & Bind a new iPGP key to iName
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>iName:</td>
                    <td>
                        <mat-form-field>
                            <mat-select [(ngModel)]="nbINameHash" [(value)]="selected">
                                <mat-option *ngFor="let anIName of userINames" [value]="anIName.imn_hash">
                                    {{ anIName.imn_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>iPGP key Label:</div>
                        <div class="pgL5">Each iName can have more than one iPGP keys for diffrent group of contacts
                            (e.g. Family & friends, Work...)</div>
                    </td>
                    <td><input [(ngModel)]="iPLabel" class=""></td>
                </tr>
                <tr>
                    <td>desacription:</td>
                    <td><input [(ngModel)]="iPComment" class=""></td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <button mat-raised-button (click)="createAndBindIPGP('ToBuffer')"
                            style="background-color:#F7A441">
                            Create
                        </button>
                        <button mat-raised-button (click)="createAndBindIPGP('ToNetwork')"
                            style="background-color:#F7A441">
                            Create & Broadcast
                        </button>
                    </td>
                    <td>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>