.inHeader{
    text-align: center;
    font-weight: bold;
    width: 100%;
    min-width: 2000px;
    padding: 20px;;
}


.draftFrmCntnrOut {
    width: 100%;
    float: none;
    margin: 30px;
}

.draftFrmCntnrIn {
    background-color: rgb(219, 219, 219);
    width: 800px;
}


.bPGPNotiCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}
.pgL5{
    font-size: 90%;
}
.bndr5{
    font-size: 110%;
    text-align: center;
}