<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabClick($event)" dynamicHeight=true>
    <mat-tab label="About">
        <ng-template matTabContent>
            <img-about></img-about>
        </ng-template>
    </mat-tab>
    <mat-tab label="Home">
        <ng-template matTabContent>
            <img-home></img-home>
        </ng-template>
    </mat-tab>
    <mat-tab label="Wallet">
        <ng-template matTabContent>
            <im-wallet></im-wallet>
        </ng-template>
    </mat-tab>
    <mat-tab label="Demos" title="Forums">
        <ng-template matTabContent>
            <im-demos></im-demos>
        </ng-template>
    </mat-tab>
    <mat-tab label="Wiki">
        <ng-template matTabContent>
            <im-wiki></im-wiki>
        </ng-template>
    </mat-tab>
    <mat-tab label="Messenger">
        <ng-template matTabContent>
            <im-messenger></im-messenger>
        </ng-template>
    </mat-tab>
    <mat-tab label="Contributes">
        <ng-template matTabContent>
            <im-contribute></im-contribute>
        </ng-template>
    </mat-tab>
    <mat-tab label="Settings">
        <ng-template matTabContent>
            <setting-form></setting-form>
        </ng-template>
    </mat-tab>
    <mat-tab label="Misc">
        <ng-template matTabContent>
            <im-misc></im-misc>
        </ng-template>
    </mat-tab>
    <mat-tab label="Contracts">
        <ng-template matTabContent>
            <im-contracts></im-contracts>
        </ng-template>
    </mat-tab>
    <mat-tab label="Plugins">
        <ng-template matTabContent>
            <im-plugins></im-plugins>
        </ng-template>
    </mat-tab>
    <mat-tab label="iName">
        <ng-template matTabContent>
            <im-iname></im-iname>
        </ng-template>
    </mat-tab>
    <mat-tab *ngIf="appCloneId==1" label="Watcher">
        <ng-template matTabContent>
            <im-watcher></im-watcher>
        </ng-template>
    </mat-tab>
    <mat-tab label="Monitor">
        <ng-template matTabContent>
            <im-monitor></im-monitor>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<br>
<div [class]="imgClientPort"><br>Copyright (to be decided, MIT or something widely free & open)</div>
