<div class="rcrdPropCntnr">
    <div class="lvTtl">Onchain Proposal Pollings</div>
    <div class="notifyCntnr">
        {{ pdErrMsgLv }}
    </div>
    <table>
        <tr>
            <td>
                <div>
                    sort Ballots by most Positive opinions to most Negative
                </div>
                <div>
                    sort Ballots by most Negative opinions to most Positive
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="recordedProposals" class="recordedProposalsTbl">
        <tr>
            <th style="width:30px">&nbsp;</th>
            <th class="monthHd propCol">Proposal Info</th>
            <th class="monthHd chronCol">Polling Chronology </th>
            <th class="monthHd polIn5">Polling Info</th>
            <th class="monthHd">Vote it/your vote</th>
        </tr>
    </table>
    <div style="max-height: 800px; overflow-y: scroll;">
        <table *ngIf="recordedProposals" class="recordedProposalsTbl">

            <tr *ngFor="let aProp of recordedProposals; index as i; even as isEven" [class.isEven]="isEven">
                
                <td style="width:30px">
                    {{ i+1 }}.
                </td>

                <td>
                    <div class="prCol prf4">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Contributor: </div>
                                </td>
                                <td>
                                    <div class="hashRefCol2" [style.background-color]="aProp.cotributerColor"
                                        title="{{ aProp.pr_cotributer_account }}">
                                        {{ gUtils.shortBech16(aProp.pr_cotributer_account) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Title: </div>
                                </td>
                                <td>{{ aProp.pr_title }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Proposal hash: </div>
                                </td>
                                <td>{{ aProp.pr_hash }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Description: </div>
                                </td>
                                <td>{{ aProp.pr_description }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Tags: </div>
                                </td>
                                <td>{{ aProp.pr_tags }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Contribute Hours: </div>
                                </td>
                                <td>{{ aProp.pr_help_hours }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Contribute Usefulness Level: </div>
                                </td>
                                <td>{{ aProp.pr_help_level }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Shares: </div>
                                </td>
                                <td>{{ aProp.pr_help_hours * aProp.pr_help_level }}</td>
                            </tr>
                        </table>
                    </div>
                </td>



                <td>
                    <div class="prCol pollChron">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Voting Status: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pllStatus }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Is Concluded: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pll_ct_done }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Hash: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pll_hash }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Start Date: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pll_start_date }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (Yes/No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pllEndDateYes }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pll_longevity }} Hours</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">End Date To Vote (No/Abstain): </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.pllEndDateAbstainOrNo }}</div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ (aProp.pll_longevity*1.5) }} Hours</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td>
                    <div class="prCol pollInf">
                        <table>
                            <tr>
                                <td>
                                    <div class="vRight">Polling Profile: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.ppr_name }}</div>
                                </td>
                                <td>
                                    <div class="vLeft" title=""
                                        [style.background-color]="((aProp.pll_y_value-aProp.pll_n_value)>=0 ? 'green':'red')">
                                        {{ ((aProp.pll_y_value-aProp.pll_n_value)>=0 ? 'Win':'Missed') }}
                                        {{ gUtils.sepNum(aProp.pll_y_value-aProp.pll_n_value) }} score
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Perform Type: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.ppr_perform_type }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vRight">Vote Counting Method: </div>
                                </td>
                                <td>
                                    <div class="vLeft">{{ aProp.ppr_votes_counting_method }}</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="prCol pollInf">
                        <div style="text-align: center;">Ballots</div>
                        <table>
                            <tr>
                                <td>
                                    <div class="vResHd">&nbsp; </div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 91px;">Voters</div>
                                </td>
                                <td>
                                    <div class="vResHd" style="width: 137px;">Voters Shares</div>
                                </td>
                                <td>
                                    <div class="vResHd">Effective Vote</div>
                                </td>
                                <td>
                                    <div class="vResHd">Votes Value</div>
                                </td>
                                <td>
                                    <div class="vResHd">Your Vote Coefficient</div>
                                    <div class="yGDtl">(Based on your shares & time passed of polling start)</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Yes: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_y_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_y_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_y_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_y_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aProp.yourGainY }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">Abstain: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_a_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_a_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_a_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_a_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aProp.yourGainA }} %</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="vResHd">No: </div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_n_count) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_n_shares) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_n_gain) }}</div>
                                </td>
                                <td>
                                    <div class="vRight2">{{ gUtils.sepNum(aProp.pll_n_value) }}</div>
                                </td>
                                <td>
                                    <div class="vResHd">{{ aProp.yourGainN }} %</div>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="prCol pollInf rPol3">
                        <button mat-raised-button (click)="refreshPollingStatus(aProp.pll_hash)"
                            style="background-color:rgb(117, 247, 84)" title="{{ aProp.pll_hash }}">
                            Refresh status
                        </button>
                        <button mat-raised-button (click)="reviewBallotAndComments(aProp.pll_hash, 1)"
                            style="background-color:rgb(243, 214, 135)">
                            See Ballots & Comments
                        </button>
                    </div>
                </td>




                <td *ngIf="(aProp.machineBallot==null) && (aProp.pllStatus=='Open') " class="yVoColTd">
                    <div class="yVoCol">
                        Comment & Vote:
                        <textarea [(ngModel)]="voteComment" class=""> </textarea>
                        <mat-form-field>
                            <mat-select [(ngModel)]="voteValue">
                                <mat-option *ngFor="let vOpt of voteOptions" [value]="vOpt[0]">
                                    {{ vOpt[1] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button (click)="voteProposal(aProp.pll_hash, 'ToBuffer')"
                            style="background-color:rgb(117, 247, 84)">
                            Vote
                        </button>
                        <button mat-raised-button (click)="voteProposal(aProp.pll_hash, 'ToNetwork')"
                            style="background-color:rgb(111, 182, 93)">
                            Vote & Broadcast
                        </button>
                    </div>
                </td>

                <td *ngIf="aProp.machineBallot!=null" class="yVoCol">
                    Your Vote: {{aProp.machineBallot.lbtVote}}
                    <br>
                    Your Sahres: {{aProp.machineBallot.lbtVoterShares}}
                    <br>
                    Your Percent: {{aProp.machineBallot.lbtVoterPercent}}
                </td>

            </tr>
        </table>
    </div>
</div>
<!-- pr_blockhash
pr_hash -->