.rcrdPropCntnr {
    margin: 5px 5px 15px 5px;
    padding: 5px;
    background-color: rgb(163, 165, 255);
}

.lvTtl {
    font-size: 150%;
    color: #063000;
    padding: 10px;
    text-align: center;
}

.pllGrp9{
    margin-left: 5px;
}

.monthHd {
    padding-left: 5px;
    text-align: center;
}

.recordedProposalsTbl {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px dotted purple;
}

.recordedProposalsTbl thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

.recordedProposalsTbl td {
    vertical-align: top;
}

.propCol {
    min-width: 471px;
}

.prf4 {
    margin-bottom: 5px;
}

.polIn5 {
    width: 750px;
    ;
}

.yGDtl {
    font-size: 75%;
}

.chronCol {
    width: 600px;
    ;
}

.hashRefCol2 {
    word-break: break-all;
    width: 350px;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}

.isEven {
    background-color: beige;
}

.prCol {
    margin: 2px;
}

.vRight {
    text-align: right;
    font-weight: bold;
}

.vLeft {
    text-align: left;
}

.pollInf {
    background-color: #bdeecd;
}

.pollChron {
    background-color: #bdeecd;
}

.rPol3 {}

.vResHd {
    width: 111px;
    text-align: center;
    font-weight: bold;
}

.vRight2 {
    text-align: right;
    margin-right: 10px;
    padding-right: 5px;
}

.yVoColTd {
    margin-left: 10px;
    padding-left: 10px;
    ;
}

.yVoCol {
    width: 321px;
    margin-left: 10px;
    padding-left: 10px;
    ;
}