<table>

    <tr>
        <td colspan="2">
            <div *ngIf="selectedMP!=null" class="leftpadd">
                <mat-toolbar flex id="materialToolbarL">
                    <div class="mat-toolbar-tools"> <span flex=""></span>
                        <mat-hint>
                            <span class="title1">Your machine main address (it used for sign blocks as an imagine
                                backer/contributor):
                                <span class="desc2">{{ selectedMP.backerAddress }}</span>
                            </span>
                        </mat-hint>
                    </div>
                </mat-toolbar>
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <div>
                <button mat-raised-button color="primary" class="pSetBtn" (click)="alterDspProfSetting()">
                    Profile Settings Panel</button>
            </div>

            <div *ngIf="dspMProfilePanel" class="mPPanelCntnr">
                <table *ngIf="selectedMP!=null" class="tblN7">
                    <tr>
                        <td>
                            <div class="prfSl6">
                                <div>
                                    Active Profile
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="selectedMPCode" [(value)]="selected"
                                            (selectionChange)="setActiveMP()">
                                            <mat-option *ngFor="let aPrf of mProfiles" [value]="aPrf.mpCode">
                                                {{ aPrf.mpName }} ({{ aPrf.mpCode }})
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    Your machine Alias name:
                                    <input [(ngModel)]="selectedMP.machineAlias" type="text"
                                        (change)="validateSettingsForm()" (blur)="validateSettingsForm()">
                                </div>
                                <div>
                                    Preferred Language for communicate:
                                    <div>
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="selectedMP.language"
                                                (change)="validateSettingsForm()" (blur)="validateSettingsForm()">
                                                <mat-option *ngFor="let aLng of languagesList" [value]="aLng.iso">
                                                    {{ aLng.enName }} ({{ aLng.lName }})
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="newPrf5">
                                <table>
                                    <tr>
                                        <td class="bkTx2" colspan="2">
                                            Use this part to Backup/Restore yout profiles. it saves Emails, Passwords,
                                            neighbors, wallet addresses...
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button mat-raised-button color="primary">Backup Profile (code:
                                                {{selectedMPCode}})</button>
                                        </td>
                                        <td>
                                            <button mat-raised-button color="primary">Restore Profile From Disk</button>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </td>

                        <td>
                            <div class="newPrf6">
                                <table>
                                    <tr>
                                        <td>
                                            Profile Code (e.g. main):
                                        </td>
                                        <td>
                                            <input [(ngModel)]="newProfileCode" type="text"
                                                placeholder="Profile Code (e.g. main)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Profile Name (e.g. main backer keys):
                                        </td>
                                        <td>
                                            <input [(ngModel)]="newProfileName" type="text"
                                                placeholder="Profile Name (e.g. main backer keys)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <button mat-raised-button color="yellow" (click)="addNewMProfile()">Add New
                                                Profile</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div style="width: 461px;">
                                <div class="notifyCntnr">
                                    {{ pNotiMsg2 }}
                                </div>
                                <div>
                                    <mat-radio-group aria-label="selectedMProfileRadioZ"
                                        [(ngModel)]="selectedMProfileRadio">
                                        <table>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>Profile Name(Code)</td>
                                                <td> Last Modified </td>
                                                <td> Select </td>
                                            </tr>
                                            <tr *ngFor="let aPRof of mProfiles; index as i">
                                                <td>{{ i+1 }}</td>
                                                <td>{{ aPRof.mpName }} ({{ aPRof.mpCode }})</td>
                                                <td>{{ aPRof.mpLastModified }}</td>
                                                <td>
                                                    <mat-radio-button value="{{ aPRof.mpCode }}"></mat-radio-button>
                                                </td>
                                            </tr>
                                        </table>
                                    </mat-radio-group>
                                </div>
                                <div class="newPrf5">
                                    <button mat-raised-button color="warn" (click)="deleteMProfile()">
                                        Delete Profile
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: 20px; background-color: antiquewhite;">
                                <div style="text-align: center; padding:5px"><b>Full Backup & Restore </b></div>
                                <div style="width: 400px;">
                                    <div class="notifyCntnr">
                                        {{ pNotiMsg3 }}
                                    </div>
                                    <div style="margin-top:10px ;">
                                        <button mat-raised-button (click)="controllMaWa()" style="background-color:rgb(117, 247, 84)"
                                            title="">
                                            Control Machine & Wallet Addresses
                                        </button>
                                    </div>
                                    <div style="margin-top:10px ;">
                                        <button mat-raised-button (click)="backupMaWa()" style="background-color:rgb(243, 175, 74)"
                                            title="">
                                            Backup Machine & Wallet key-pairs
                                        </button>
                                    </div>
                                    <div style="margin-top:10px ;">
                                        <input type="file" (change)="gUtils.onFileChanged($event)">
                                        <br>
                                        <button (click)="restoreMaWa('machineRestoreInfo')" style="background-color:rgb(245, 62, 30)">
                                            Restore Machine & Wallet key-pairs
                                        </button>
                
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            Missed your language?
                            <a class='nav-link' routerLinkActive='active'
                                [routerLink]="['imagine/wiki/support languages']"> see here </a></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <div class="leftpadd">
                <mat-toolbar flex id="materialToolbarL">
                    <div class="mat-toolbar-tools"> <span flex=""></span>
                        <span class="mat-headline" align="center">
                            {{ sFNoti }}
                        </span> </div>
                </mat-toolbar>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div *ngIf="selectedMP" class="emSO4Pb">
                <div class="emS7">Public Connection</div>
                <img-email-settings [emailSettings]="publicEmailSettings" [IMAPNotiMsg]="pubIMAPNotiMsg"
                    [SMTPNotiMsg]="pubSMTPNotiMsg" (validateSettingsFormParent)="validateSettingsForm()"
                    (testEmailServerIncomeConnectionParent)="testEmailServerIncomeConnection($event)"
                    (testEmailServerOutgoingConnectionParent)="testEmailServerOutgoingConnection($event)"
                    [emailType]="Public"></img-email-settings>
            </div>
        </td>
        <td>
            <div *ngIf="selectedMP" class="emSO4Pv">
                <div class="emS7">Private Connection</div>
                <img-email-settings [emailSettings]="privateEmailSettings" [IMAPNotiMsg]="prvIMAPNotiMsg"
                    [SMTPNotiMsg]="prvSMTPNotiMsg" (validateSettingsFormParent)="validateSettingsForm()"
                    (testEmailServerIncomeConnectionParent)="testEmailServerIncomeConnection($event)"
                    (testEmailServerOutgoingConnectionParent)="testEmailServerOutgoingConnection($event)"
                    [emailType]="Private"></img-email-settings>
            </div>
        </td>
    </tr>


    <tr>
        <td colspan="2">
            Problem on email setting?
            <a class='nav-link' routerLinkActive='active' href="imagine/wiki/mail faq"> see here </a>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class="horizantalSeparator">

            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <div class="checkbox">
                <label>
                    <mat-checkbox [(ngModel)]="termOfServices" [checked]="termOfServices"
                        (change)="validateSettingsForm()">
                    </mat-checkbox>
                    <div class="desc1">
                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                        SOFTWARE.
                    </div>
                </label>
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <button mat-raised-button color="primary" (click)="saveEmailsSettings()"
                [disabled]="!isSettingsFormValid">Save</button>
        </td>
    </tr>

    <tr style="padding-top: 20px;">
        <td class="tdTTr5" colspan="2">
            Note: each unique Email which belongs to your neighbor can be ONLY Piblic or Private. do not use same email
            for both public and private connections.
        </td>
    </tr>

    <tr style="padding-top: 20px;">
        <td class="tdEmM4">
            <div class="divEmM4">
                <mat-toolbar flex id="materialToolbarR">
                    <div class="mat-toolbar-tools"> <span flex=""></span>
                        <span class="mat-headline" align="center">Your Public Neighbors</span>
                        <span flex=""></span>
                    </div>
                </mat-toolbar>
                <neighbor-nodes [nConnectionType]="Public" [neighborsList]="publicNeighbors"
                    (addNeighborParent)="addNeighbor($event)" (cutNeighborParent)="cutNeighbor($event)"
                    (handshakeNeighborParent)="handshakeNeighbor($event)"
                    (presentEmailToNeighborsParent)="presentEmailToNeighbors($event)">
                </neighbor-nodes>
            </div>
        </td>
        <td class="tdEmM4">
            <div class="divEmM4">
                <mat-toolbar flex id="materialToolbarR">
                    <div class="mat-toolbar-tools"> <span flex=""></span>
                        <span class="mat-headline" align="center">Your Private Neighbors</span>
                        <span flex=""></span>
                    </div>
                    <div class="DDD3">
                        In order to resilience against potentially DOS attacks!
                    </div>
                </mat-toolbar>
                <neighbor-nodes [nConnectionType]="Private" [neighborsList]="privateNeighbors"
                    (addNeighborParent)="addNeighbor($event)" (cutNeighborParent)="cutNeighbor($event)"
                    (handshakeNeighborParent)="handshakeNeighbor($event)"
                    (presentEmailToNeighborsParent)="presentEmailToNeighbors($event)">
                </neighbor-nodes>
            </div>
        </td>
    </tr>



</table>
