mat-grid-tile {
    background: lightblue;
}

.setting-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

@media screen and (max-width: 600px) {
    #SignupContent {
        height: 100%;
    }
    #materialToolbar {
        padding: 10px;
        border-radius: 4px;
    }
}

.mat-toolbar {
    border-radius: 7px;
    border: 1px solid #ADe8a6;
}

.desc1 {
    padding: 5px;
    font-size: 15px;
}

.desc2 {
    font-size: 12px;
}

.horizantalSeparator {
    border-top: 3px solid #ADe8a6;
    margin: 40px 10px 10px 10px;
}

.title2 {
    font-size: 17px;
}

.leftpadd {
    padding-left: 20px;
}

mat-grid-tile {
    background: lightblue;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}

.title1 {
    margin-left: 15px;
    font-size: 13.1px;
}

.mSet6 {
    width: 500px;
}

.mSet6 td {
    vertical-align: top;
}

.setting-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

@media screen and (max-width: 600px) {
    #SignupContent {
        height: 100%;
    }
    #materialToolbar {
        padding: 10px;
        border-radius: 4px;
    }
}

.emSO4Pv {
    background-color: lemonchiffon;
    padding: 7px;
    margin-left: 10px;
}

.emSO4Pb {
    background-color: rgb(211, 207, 171);
    padding: 7px;
}

.emS7 {
    text-align: center;
    font-size: 120%;
    padding: 10px;
    margin-bottom: 20px;
}

.mat-toolbar {
    border-radius: 7px;
    border: 1px solid #ADe8a6;
}

.desc1 {
    padding: 5px;
    font-size: 15px;
}

.desc2 {
    font-size: 12px;
}

.horizantalSeparator {
    border-top: 3px solid #ADe8a6;
    margin: 40px 10px 10px 10px;
}

.title2 {
    font-size: 17px;
}

.leftpadd {
    padding-left: 20px;
    margin-bottom: 20px;
}

.bkTx2 {
    font-size: 90%;
}

.tdTTr5 {
    vertical-align: top;
    text-align: center;
}

.tdEmM4 {
    width: 50%;
    vertical-align: top;
}

.divEmM4 {
    text-align: center;
    margin: 20px 5px 10px 5px;
}

.tblN7 td {
    vertical-align: top;
    ;
}

.newPrf5 {
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(255, 222, 91);
}

.newPrf6 {
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(196, 195, 191);
}

.DDD3 {
    margin-left: 20px;
    font-size: 13px;
}


.pSetBtn{
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}

.mPPanelCntnr{
    margin: 20px 10px 30px 5px;
    padding: 10px;
    border: 1px solid #ADe8a6;
    border-radius: 10px;
}

.prfSl6{
    background-color: #d3d397;
    padding: 10px;
}