<div style="margin:5px">
    <button mat-raised-button (click)="traceCoinInfo()" style="background-color: rgb(212, 179, 243)">
        Trace Coin Info
    </button>
    &nbsp;
    <input [(ngModel)]="selectedCoin" class="" style="width:530px;">
    <span *ngIf="selectedCoinInfo.validityPercentage||(selectedCoinInfo.validityPercentage==0)">Coin Status Definity(<b>CSD</b>): {{selectedCoinInfo.validityPercentage}} %</span>
</div>

<div style="margin:5px">
    <button mat-raised-button (click)="getDocInfo()" style="background-color: rgb(12, 179, 243)">
        Get Document Info
    </button>
    &nbsp;
    <input [(ngModel)]="selectedDoc" class="" style="width:530px;">
</div>

<div class="dagCoinIdOuter">
    <div id="dagCoinId"></div>
</div>


<div *ngIf="selectedCoinInfo.spendersDict" class="dbMC">
    <div class="dbTT">Double Spenders Report</div>
    <table class="bg5Tbl">
        <tr>
            <td></td>
            <td>Spender (block:Doc)</td>
            <td>Spend Date</td>
            <td></td>
        </tr>
        <tr *ngFor="let aBDKey of gUtils.objKeys(selectedCoinInfo.spendersDict); index as i;" 
        [class]="selectedCoinInfo.spendersDict[aBDKey].spendReport.valid?'vAlid6':''">
            <td>{{i+1}}</td>
            <td>
                <span [style.background-color]="selectedCoinInfo.spendersDict[aBDKey].spenderColor">BD
                </span>
                <span title="{{selectedCoinInfo.spendersDict[aBDKey].block}}" style="cursor: pointer;"
                    (dblclick)="dblclickedBlockShortHash(gUtils.hash6c(selectedCoinInfo.spendersDict[aBDKey].block))">
                    {{ gUtils.hash6c(selectedCoinInfo.spendersDict[aBDKey].block) }}
                </span>
                :
                <span
                    title="{{selectedCoinInfo.spendersDict[aBDKey].doc}}">{{ gUtils.hash6c(selectedCoinInfo.spendersDict[aBDKey].doc) }}</span>

            </td>
            <td>{{ selectedCoinInfo.spendersDict[aBDKey].blockCreationDate }}</td>
            <td>
                <div *ngIf="selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes">
                    <table class="bg5Tbl">
                        <tr *ngFor="let aCoin of gUtils.objKeys(selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes);"
                            [class]="selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes[aCoin].valid?'vAlid6':''">
                            <td>

                                <div class="def4">
                                    the coin({{gUtils.shortCoinRef(aCoin)}})
                                </div>
                            </td>
                            <td>
                                <div class="def4">
                                    {{ selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes[aCoin].valid }}
                                </div>
                            </td>
                            <td>
                                <div class="def4 alR5">
                                    {{ selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes[aCoin].voters }}
                                </div>
                            </td>
                            <td>
                                <div class="def4 alR5">
                                    {{ selectedCoinInfo.spendersDict[aBDKey].spendReport.susVoteRes[aCoin].votes }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
