.dbMC {
    margin: 20px;
    padding: 10px;
    background-color: #feffc4;
}

.dbTT {
    font-weight: bold;
    text-align: center;
}

.bg5Tbl td {
    vertical-align: top;
    border: 0px;
}

.def4 {
    padding: 0px 5px 5px 5px;
}

.alR5 {
    text-align: right;
}
.vAlid6{
    background-color: #0f1;
}
.dagCoinIdOuter{
    background-color: bisque;
}
