.hashRefCol1 {
    background-color: rgb(183, 223, 41);
    word-break: break-all;
    width: 200px;
}

.tblHd {
    padding-left: 15px;
    text-align: center;
}

.propCntnr {
    background-color: darkseagreen;
    padding: 8px;
    margin: 2px;
    ;
}

.dplCntnr {
    background-color: rgb(212, 236, 212);
    padding: 8px;
    margin: 2px;
    ;
}

.trxCntnr {
    background-color: rgb(141, 253, 141);
    padding: 8px;
    margin: 2px;
    ;
}

.cntnr4 {
    border: 1px solid #c7b2b2;
    padding: 5px;
    margin: 10px;
}

.notifyCntnr {
    padding: 20px;
    background-color: rgb(255, 244, 93);
    color: darkmagenta;
    text-align: center;
}

.trDsc3 {
    font-weight: bold;
    text-align: center;
}

.onCTbl3 td {
    vertical-align: top;
    padding: 5px;
}

.brkTxt {
    background-color: rgb(183, 223, 41);
    word-break: break-all;
    width: 450px;
    padding: 7px 10px 7px 10px;
    line-height: 20px;
}
.cmIn6{
    line-height: 15px;
    font-style: italic;
    padding: 1px 2px 1px 2px;
    margin-top: 4px;
}