<div class="cntnr4">
    <div style="text-align: center;"><b>Received Loan Requests(PledgeP)</b></div>
    <div>
        <table>
            <tr>
                <td colspan="2">
                    <div class="notifyCntnr">
                        {{ pledgeLoReNotiMsg }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tblHd">&nbsp;</td>
                <td class="tblHd">Proposal</td>
                <td class="tblHd">Pledge</td>
                <td class="tblHd">Status</td>
            </tr>

            <tr *ngFor="let aPLR of PLRBundles; index as i">
                <td>
                    <div class="hashRefCol1">{{ i+1 }}</div>
                </td>
                <td *ngIf="aPLR.body.payload.proposal">
                    <div class="propCntnr">
                        <div class="hashRefCol1">{{ aPLR.body.payload.proposal.title }}</div>
                        <table>
                            <tr>
                                <td>
                                    <span [style.background-color]="aPLR.body.payload.proposal.shareholderColor">Loan
                                        Requester:</span>
                                </td>
                                <td title="{{ aPLR.body.payload.proposal.shareholder }}">
                                    {{ aPLR.body.payload.proposal.shareholderShort }}
                                </td>
                            </tr>
                            <tr>
                                <td>Creation Date:</td>
                                <td>{{ aPLR.body.payload.proposal.creationDate }}</td>
                            </tr>
                            <tr>
                                <td>Help Hours:</td>
                                <td>{{ aPLR.body.payload.proposal.helpHours }}</td>
                            </tr>
                            <tr>
                                <td>Help Level:</td>
                                <td>{{ aPLR.body.payload.proposal.helpLevel }}</td>
                            </tr>
                            <tr>
                                <td>Voting Longevity:</td>
                                <td>{{ aPLR.body.payload.proposal.votingLongevity }}</td>
                            </tr>
                            <tr>
                                <td>Polling Profile:</td>
                                <td>
                                    {{ aPLR.body.payload.proposal.pollingProfile }}
                                    (version: {{ aPLR.body.payload.proposal.pollingVersion }})

                                </td>
                            </tr>
                            <tr>
                                <td>descriptions:</td>
                                <td>{{ aPLR.body.payload.proposal.descriptions }}</td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td>{{ aPLR.body.payload.proposal.tags }}</td>
                            </tr>
                        </table>
                    </div>
                </td>



                <td *ngIf="aPLR.body.payload.pledgerSignedPledge">
                    <div class="dplCntnr">
                        <table>
                            <tr title="{{aPLR.body.payload.pledgerSignedPledge.arbiter}}">
                                <td>
                                    <span [style.background-color]="aPLR.body.payload.pledgerSignedPledge.arbiterColor">
                                        Loan Arbiter(s):
                                    </span>
                                </td>
                                <td>{{ gUtils.shortBech16(aPLR.body.payload.pledgerSignedPledge.arbiter) }} </td>
                            </tr>
                            <tr>
                                <td>Sign Date:</td>
                                <td>{{ aPLR.body.payload.pledgerSignedPledge.pledgerSignDate }} </td>
                            </tr>
                            <tr>
                                <td>principal:</td>
                                <td
                                    title="{{ gUtils.sepNum(aPLR.body.payload.pledgerSignedPledge.redeemTerms.principal) }} &micro;PAIs">
                                    {{ gUtils.microPAIToPAI(aPLR.body.payload.pledgerSignedPledge.redeemTerms.principal) }}
                                    PAIs</td>
                            </tr>
                            <tr>
                                <td>Annual Interest:</td>
                                <td>{{ aPLR.body.payload.pledgerSignedPledge.redeemTerms.annualInterest }}%</td>
                            </tr>
                            <tr>
                                <td>Repayment Offset:</td>
                                <td>{{ aPLR.body.payload.pledgerSignedPledge.redeemTerms.repaymentOffset }}</td>
                            </tr>
                            <tr>
                                <td>Repayment Amount:</td>
                                <td
                                    title="{{ gUtils.sepNum(aPLR.body.payload.pledgerSignedPledge.redeemTerms.repaymentAmount) }} &micro;PAIs">
                                    {{ gUtils.microPAIToPAI(aPLR.body.payload.pledgerSignedPledge.redeemTerms.repaymentAmount) }}
                                    PAIs</td>
                            </tr>
                            <tr>
                                <td>Repayment Schedule:</td>
                                <td>{{ aPLR.body.payload.pledgerSignedPledge.redeemTerms.repaymentSchedule }} times in
                                    year</td>
                            </tr>
                            <tr>
                                <td>Repaymenta Number:</td>
                                <td>{{ aPLR.body.payload.pledgerSignedPledge.redeemTerms.repaymentsNumber }}</td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td title="{{ aPLR.tdDocType }}:{{ aPLR.tdDocClass }}">{{ aPLR.tdDocStatus }} </td>

                <td>
                    <button mat-raised-button (click)="deletePLR(aPLR.tdId)"
                        style="background-color:rgb(255, 160, 131)">
                        Delete Request
                    </button>
                </td>
                <td>
                    <button mat-raised-button (click)="signPLR(aPLR.tdId)" style="background-color:rgb(176, 92, 255)">
                        Sign Loan Payment
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>

<br>
<br>

<div class="cntnr4">
    <div style="text-align: center;"><b>Signed Pledges, waited to broadcast</b></div>
    <div>
        <table>
            <tr>
                <td colspan="5">
                    <div class="notifyCntnr">
                        {{ signeMsgNotiMsg }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tblHd">&nbsp;</td>
                <td class="tblHd">Proposal</td>
                <td class="tblHd">Pledge</td>
                <td class="tblHd">Transaction</td>
                <td class="tblHd">Status</td>
            </tr>

            <tr *ngFor="let aPPT of PPTBundles; index as i">
                <td>
                    <div class="hashRefCol1">{{ i+1 }}</div>
                </td>
                <td *ngIf="aPPT.body.proposal">
                    <div class="propCntnr">
                        <div class="hashRefCol1">{{ aPPT.body.proposal.title }}</div>
                        <table>
                            <tr>
                                <td>Help Hours:</td>
                                <td>{{ aPPT.body.proposal.helpHours }}</td>
                            </tr>
                            <tr>
                                <td>Help Level:</td>
                                <td>{{ aPPT.body.proposal.helpLevel }}</td>
                            </tr>
                            <tr>
                                <td>Voting Longevity:</td>
                                <td>{{ aPPT.body.proposal.votingLongevity }}</td>
                            </tr>
                            <tr>
                                <td>Polling Profile:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>descriptions:</td>
                                <td>{{ aPPT.body.proposal.descriptions }}</td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td>{{ aPPT.body.proposal.tags }}</td>
                            </tr>
                        </table>
                    </div>
                </td>



                <td *ngIf="aPPT.body.pledge">
                    <div class="dplCntnr">
                        <table>
                            <tr>
                                <td>principal:</td>
                                <td title="{{ gUtils.sepNum(aPPT.body.pledge.redeemTerms.principal) }} &micro;PAIs">
                                    {{ gUtils.microPAIToPAI(aPPT.body.pledge.redeemTerms.principal) }} PAIs</td>
                            </tr>
                            <tr>
                                <td>Annual Interest:</td>
                                <td>{{ aPPT.body.pledge.redeemTerms.annualInterest }}%</td>
                            </tr>
                            <tr>
                                <td>Repayment Offset:</td>
                                <td>{{ aPPT.body.pledge.redeemTerms.repaymentOffset }}</td>
                            </tr>
                            <tr>
                                <td>Repayment Amount:</td>
                                <td
                                    title="{{ gUtils.sepNum(aPPT.body.pledge.redeemTerms.repaymentAmount) }} &micro;PAIs">
                                    {{ gUtils.microPAIToPAI(aPPT.body.pledge.redeemTerms.repaymentAmount) }} PAIs</td>
                            </tr>
                            <tr>
                                <td>Repayment Schedule:</td>
                                <td>{{ aPPT.body.pledge.redeemTerms.repaymentSchedule }} times in year</td>
                            </tr>
                            <tr>
                                <td>Repaymenta Number:</td>
                                <td>{{ aPPT.body.pledge.redeemTerms.repaymentsNumber }}</td>
                            </tr>
                        </table>
                    </div>
                </td>



                <td>
                    <div *ngIf="aPPT.body.ProposalPayerTrx" class="trxCntnr">
                        <div class="trDsc3">{{ aPPT.body.ProposalPayerTrx.description }}</div>
                        <div *ngFor="let anOut of aPPT.body.ProposalPayerTrx.outputs">
                            <div *ngIf="anOut[0]=='TP_PROPOSAL'" title="{{ gUtils.sepNum(anOut[1]) }} &micro;PAIs">
                                <br>&nbsp;&nbsp;{{ gUtils.microPAIToPAI(anOut[1]) }} PAIs
                            </div>
                        </div>
                    </div>
                    <div *ngIf="aPPT.body.pledgeDocPayerTrx" class="trxCntnr">
                        <div class="trDsc3">{{ aPPT.body.pledgeDocPayerTrx.description }}</div>
                        <div *ngFor="let anOut of aPPT.body.pledgeDocPayerTrx.outputs">
                            <div *ngIf="anOut[0]=='TP_PLEDGE'" title="{{ gUtils.sepNum(anOut[1]) }} &micro;PAIs">
                                <br>&nbsp;&nbsp;{{ gUtils.microPAIToPAI(anOut[1]) }} PAIs
                            </div>
                        </div>
                    </div>
                </td>



                <td title="{{ aPPT.doc_type }}:{{ aPPT.doc_class }}">{{ aPPT.tdDocStatus }} </td>

                <td>
                    <button mat-raised-button (click)="deleteBundle(aPPT.tdId)"
                        style="background-color:rgb(255, 160, 131)">
                        Delete Bundle
                    </button>
                </td>
                <td>
                    <button mat-raised-button (click)="pushPPTToSendingQ(aPPT.tdId)"
                        style="background-color:rgb(176, 92, 255)">
                        Push Bundle to sending Q
                    </button>
                </td>
                <td>
                    <button mat-raised-button (click)="brcstProposal()" style="background-color:rgb(45, 160, 125)">
                        Broadcast Block
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>

<br>
<br>

<div class="cntnr4">
    <div style="text-align: center;"><b>My On-Graph Contracts</b></div>
    <div>
        <table class="onCTbl3">
            <tr>
                <td colspan="5">
                    <div class="notifyCntnr">
                        {{ onChainNotiMsg }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tblHd">&nbsp;</td>
                <td class="tblHd">Description</td>
                <td class="tblHd">Type/Class</td>
                <td class="tblHd">Actions</td>
            </tr>

            <tr *ngFor="let onCh of myOnChains; index as i">
                <td>
                    {{ i+1 }}
                </td>
                <td>
                    <div class="brkTxt">
                        {{ onCh.lcDescriptions }}
                    </div>
                </td>
                <td>{{ onCh.lcType }}/{{ onCh.lcClass }}</td>
                <td>
                    <div *ngFor="let act of onCh.actions">
                        <button mat-raised-button title="{{ onCh.lcRefHash }}"
                            (click)="doAction({actCode:act.actCode, actSubjType:act.actSubjType, actSubjCode:act.actSubjCode})"
                            style="background-color:rgb(255, 160, 131)">
                            {{ act.actTitle }}
                        </button>

                    </div>
                    <div *ngFor="let anInfo of onCh.complementaryInfo" class="cmIn6">
                        <b>{{anInfo.cmTitle}}:</b> {{anInfo.cmValue}}

                    </div>

                </td>
            </tr>
        </table>
    </div>




</div>
