<div class="machineCol">
    <table class="resetTbl">

        <tr>
            <td style="background-color: rgb(216, 221, 228);">
                <table class="resetTbl">
                    <tr>
                        <td>{{ machineInfo.machineAlias }} machine ({{ machineInfo.DAGShoot }})
                            ({{ machineInfo.percentage }}%)
                        </td>
                        <td>
                            <div [style.background-color]="machineInfo.DAGShoot">{{ machineInfo.DAGShoot }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center; ">
                            <div style="font-size: 13px; padding: 2px;">{{ machineInfo.backer }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table class="resetTbl">
                    <tr>
                        <td>
                            <div style="min-height: 2400px">

                                <div title="{{ machineInfo.totalUtxosHint ? machineInfo.totalUtxosHint : '' }}">UTXOs:
                                    {{ machineInfo.totalUtxosSum ? gUtils.microPAIToPAI(machineInfo.totalUtxosSum) : 0 }}
                                    ({{ machineInfo.totalUtxosCount ? machineInfo.totalUtxosCount : 0 }})
                                </div>
                                <div [id]="machineInfo.dagId"></div>
                            </div>
                        </td>
                        <td style="background-color: rgb(242, 248, 210); padding: 0px; margin:0px;">
                            <div class="histBlk">
                                {{ machineInfo.histBlocks ? machineInfo.histBlocks.length : 0}}
                            </div>
                            <div *ngIf="machineInfo" class="histCntnr" >
                                <div class="histBlk" *ngFor="let b of machineInfo.histBlocks"
                                    [style.margin-bottom]="(b.hash==equalIn5DagsHash)?'21px':'0px'"
                                    title="{{ b.date + ' ' + b.bType }}">
                                    <div class="histHash" [style.background-color]="gUtils.getBGColorByType(b.bType)">
                                        {{ b.hash.substr(1, 6) }}</div>
                                    <div class="histLbl" [style.background-color]="b.hash">&nbsp;</div>
                                </div>
                            </div>
                            <div class="histBlk">
                                {{ machineInfo.histBlocks ? machineInfo.histBlocks.length : 0}}
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr title="{{ machineInfo?machineInfo.lastBLockInfo.bType:'' }}">
                        <td>
                            <div [ngClass]="lblInfo"
                                [style.background-color]="machineInfo ? gUtils.getBGColorByType(machineInfo.lastBLockInfo.bType) : ''">
                                Last Received Block:
                            </div>
                        </td>
                        <td>
                            <div [ngClass]="lblInfo">
                                <span [style.background-color]="machineInfo? machineInfo.lastBLockInfo.hash: ''">
                                    &nbsp;:&nbsp; </span>
                                {{ machineInfo ? machineInfo.lastBLockInfo.bType : '' }}
                                {{ machineInfo ? machineInfo.lastBLockInfo.hash : '' }}
                                {{ machineInfo ? machineInfo.lastBLockInfo.receiveDate : '' }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leavesCntnr" *ngIf="machineInfo">
                    <table>
                        <tr>
                            <td>Leaves KV:
                                <div *ngFor="let l of machineInfo.leaves" title="{{l.bType}}">
                                    <div class="leaveKV1" [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                        {{l.hash.replace('#', '')}} {{l.date}}</div>
                                    <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>

                                </div>
                            </td>
                            <td>
                                <div>Leaves DAG:
                                    <div class="dagL" *ngFor="let l of machineInfo.dgaHealth" title="{{l.bType}}">
                                        <div class="leaveKV1"
                                            [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                            {{l.hash.replace('#', '')}}
                                            {{l.creation_date}}</div>
                                        <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>Freash Leaves:
                                    <div class="dagL" *ngFor="let l of machineInfo.freashLeaves" title="{{l.bType}}">
                                        <div class="leaveKV1"
                                            [style.background-color]="gUtils.getBGColorByType(l.bType)">
                                            {{l.hash.replace('#', '')}}
                                            {{l.date}}</div>
                                        <div class="leaveKV2" [style.background-color]="l.hash">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="misdCntnr1" *ngIf="machineInfo">
                    <div>
                        <div>
                            Missed Blocks ({{ machineInfo ? machineInfo.missedBlocks.length : '' }}):
                        </div>
                        <div class="misdBlk" *ngFor="let m of machineInfo.missedBlocks">
                            <div class="misdBlk1"
                                [style.background-color]="machineInfo.blocksDict[m] ? gUtils.getBGColorByType(machineInfo.blocksDict[m].bType) : m">
                                {{ m }}
                            </div>
                            <div class="misdBlk2" [style.background-color]="m" title="{{ m }}">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="misdCntnr2" *ngIf="machineInfo">
                    <div>
                        <div>
                            Missed Blocks (Not exist in Q)
                            {{ machineInfo.notExistMissed ? machineInfo.notExistMissed.length:0 }}:
                        </div>
                        <div class="misdBlk" *ngFor="let m of machineInfo.notExistMissed">
                            <div class="misdBlk1"
                                [style.background-color]="machineInfo.blocksDict[m] ? gUtils.getBGColorByType(machineInfo.blocksDict[m].bType) : m">
                                {{ m }}
                            </div>
                            <div class="misdBlk2" [style.background-color]="m">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="CBCntnr" *ngIf="machineInfo">
                    <div class="coinbasesBl" title="{{ machineInfo.cbOrder ? machineInfo.cbOrder.join('\n') : '-' }} ">
                        Possible Coinbases (Priority {{ machineInfo.machineCoinbasePriority }}): </div>
                        <div [innerHTML]="machineInfo.machinesOrderedByCBPriority"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="btnCntnr">
                    <button mat-raised-button (click)="getMachineInfo()" class="btnMe" color="warn">Refresh Machine's
                        DAG Info</button>&nbsp;
                    <button mat-raised-button (click)="detailedDag($event, machineInfo.id)"
                        class="btnMe">Detail</button>
                </div>

                <div class="btnCntnr">
                    <button mat-raised-button (click)="invokeBlock($event, machineInfo.id)" color="primary"
                        class="btnMe">Invoke block</button>
                    <input [(ngModel)]="blockShortHash" class="btnMe">
                    <button mat-raised-button (click)="invokeAllMissed()" style="background-color: #6789ab"
                        class="btnMe">Invoke All Missed</button>
                    <button mat-raised-button (click)="refreshMissedBlock()" style="background-color: green">
                        Refresh Missed Blocks
                    </button>
                    <br>
                </div>

                <div class="btnCntnr">
                    <button mat-raised-button (click)="wRaiseShares()">Raise share</button>
                </div>


                <table>
                    <tr>
                        <td colspan="2">
                            <div class="SendingLbl">Make Transaction: </div>
                        </td>
                        <td>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="createDateType">
                                <mat-radio-button value="real">Use Real Date</mat-radio-button>
                                <mat-radio-button value="cheat" title="{{ machineInfo.cheatingAncestors }}">Cheat
                                    Date({{ machineInfo.cheatingCreationDate }})
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td>myself</td>
                        <td><button mat-raised-button style="background-color: green"
                                (click)="makeTrx({mode:'valid', target:'myself'})" class="btnMe">Valid</button></td>
                        <td>
                            <button mat-raised-button color="accent" (click)="makeTrx({mode:'dbl', target:'myself'})"
                                class="btnMe">DBL-Spend</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Random</td>
                        <td><button mat-raised-button color="primary" (click)="makeTrx({mode:'valid', target:'random'})"
                                class="btnMe">Valid</button></td>
                        <td><button mat-raised-button color="accent" (click)="makeTrx({mode:'dbl', target:'random'})"
                                class="btnMe">DBL-Spend</button></td>
                    </tr>
                    <tr>
                        <td>to <input [(ngModel)]="paiReceiverNode" class="btnMeInp"> </td>
                        <td><button mat-raised-button color="warn"
                                (click)="makeTrx({mode:'valid',  target:'certainNode'})" class="btnMe">Valid</button>
                        </td>
                        <td>
                            <button mat-raised-button color="accent"
                                (click)="makeTrx({mode:'dbl',  target:'certainNode'})" class="btnMe">DBL-Spend</button>
                        </td>
                    </tr>

                    <tr>
                        <td><button mat-raised-button style="background-color:rgb(192, 68, 182)"
                                (click)="makeTrx({mode:'change',  target:'random'})" class="btnMe">Change</button></td>
                        <td colspan="2">
                            <button mat-raised-button style="background-color:#5E5EFF"
                                (click)="makeTrx({mode:'valid', target:'random' , unEqua:'1'})" class="btnMe">
                                unEquationed trx to Random
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button mat-raised-button (click)="pushP4P()" style="background-color:#F7A441">
                                P4P Trx
                            </button>
                        </td>
                        <td colspan="2">
                            <button mat-raised-button class="btnMe" (click)="sendClonedTrx()">
                                Valid Cloned (2 random backers & 2 diff blocks)
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td><button mat-raised-button (click)="pushCoinbase()"
                                title="generate & broadcast coinbase block">gCoinbase</button></td>
                        <td><button mat-raised-button class="btnMe" (click)="blockGenReport()"
                                title="generated blocks report">
                                gBReport
                            </button></td>
                        <td>
                            <button mat-raised-button (click)="wBroadcastBlock()"
                                style="background-color:rgb(45, 160, 125)">
                                Broadcast Block
                            </button>
                        </td>
                    </tr>
                </table>



                <br>


                <div class="machineBlncCntnr">
                    <button mat-raised-button class="btnMe" style="background-color:#F2F8D2"
                        (click)="machineBalanceChk()">
                        Machine Balance Check
                    </button>
                    <button mat-raised-button class="btnMe" style="background-color:#F2F8D2"
                        (click)="machineBalanceChk3x()">
                        3x
                    </button>
                    <table class="machineBalnces">
                        <tr>
                            <td>
                                Per
                                Block({{ machineInfo.DAGBalances.cycleCountsFromBegan }}={{ machineInfo.DAGBalances.distinctCoinbases }}):
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                                {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI(machineInfo.DAGBalances.paiPerCycle) : 0  }}
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                                Previous
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td (click)="alterBalanceLock()">
                                {{ machineInfo.isBalanceLocked }}
                            </td>
                        </tr>

                        <tr>
                            <td>Cycle:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;</td>
                            <td>
                                {{ machineInfo.DAGBalances.cycleCountsFromBegan ? machineInfo.DAGBalances.cycleCountsFromBegan : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                {{ machineInfo.DAGBalancesPrev.cycleCountsFromBegan ? machineInfo.DAGBalancesPrev.cycleCountsFromBegan : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.cycleCountsFromBeganColor">
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                {{ machineInfo.DAGBalancesLock.cycleCountsFromBegan ? machineInfo.DAGBalancesLock.cycleCountsFromBegan : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td>Coinbases:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.sumCoinbaseColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.floorishMicroPAIs ? gUtils.microPAIToPAI(machineInfo.DAGBalances.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalances.sumCoinbase ? gUtils.microPAIToPAI(machineInfo.DAGBalances.sumCoinbase) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.sumCoinbaseColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalancesPrev.floorishMicroPAIs ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalancesPrev.sumCoinbase ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.sumCoinbase) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.sumCoinbaseColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalancesLock.floorishMicroPAIs ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.floorishMicroPAIs) : 0  }}">
                                {{ machineInfo.DAGBalancesLock.sumCoinbase ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.sumCoinbase) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="{{ machineInfo.DAGBalances.spendables ? gUtils.sepNum(machineInfo.DAGBalances.spendables) : 0  }} &micro;PAIs">
                                <b>-Spendables:</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalances.spendablesColor">&nbsp;&nbsp;</td>
                            <td><b>{{ machineInfo.DAGBalances.spendables ? gUtils.microPAIToPAI(machineInfo.DAGBalances.spendables) : 0  }}</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.spendablesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.spendables-machineInfo.DAGBalances.spendables)}}">
                                <b>{{ machineInfo.DAGBalancesPrev.spendables ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.spendables) : 0  }}</b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.spendablesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.spendables-machineInfo.DAGBalancesPrev.spendables)}}">
                                <b>{{ machineInfo.DAGBalancesLock.spendables ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.spendables) : 0  }}</b>
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="because of Coinbase: {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI(machineInfo.DAGBalances.paiPerCycle*3) : 0  }}">
                                -Waited Coinbase UTXOs:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedCoinbasesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedCoinbases ? machineInfo.DAGBalances.waitedCoinbases.processedOutputs:'' }}">
                                {{ machineInfo.DAGBalances.waitedCoinbases.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalances.waitedCoinbases.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedCoinbasesColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedCoinbases.sum-machineInfo.DAGBalances.waitedCoinbases.sum)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedCoinbases.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedCoinbases.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedCoinbasesColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedCoinbases.sum-machineInfo.DAGBalancesPrev.waitedCoinbases.sum)}}">
                                {{ machineInfo.DAGBalancesLock.waitedCoinbases.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedCoinbases.sum) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td
                                title="because of Coinbase: {{ machineInfo.DAGBalances.paiPerCycle ? gUtils.microPAIToPAI(machineInfo.DAGBalances.paiPerCycle*3) : 0  }}">
                                -Waited Normal UTXOs:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedNormalsColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedNormals ? machineInfo.DAGBalances.waitedNormals.processedOutputs:'' }}">
                                {{ machineInfo.DAGBalances.waitedNormals.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalances.waitedNormals.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedNormals.sum-machineInfo.DAGBalances.waitedNormals.sum)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedNormals.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedNormals.sum) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedNormals.sum-machineInfo.DAGBalancesPrev.waitedNormals.sum)}}">
                                {{ machineInfo.DAGBalancesLock.waitedNormals.sum ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedNormals.sum) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td>-waited Treasury:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedIncomesColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.waitedIncomes ? gUtils.microPAIToPAI6(machineInfo.DAGBalances.waitedIncomes) : 0  }}">
                                {{ machineInfo.DAGBalances.waitedIncomes ? gUtils.microPAIToPAI(machineInfo.DAGBalances.waitedIncomes) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedIncomesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedIncomes-machineInfo.DAGBalances.waitedIncomes)}}">
                                {{ machineInfo.DAGBalancesPrev.waitedIncomes ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.waitedIncomes) : 0  }}
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedIncomesColor">&nbsp;&nbsp;
                            </td>
                            <td
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedIncomes-machineInfo.DAGBalancesPrev.waitedIncomes)}}">
                                {{ machineInfo.DAGBalancesLock.waitedIncomes ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.waitedIncomes) : 0  }}
                            </td>
                        </tr>

                        <tr>
                            <td class="blnceClss"><b>=Balance:</b></td>
                            <td [style.background-color]="machineInfo.DAGBalances.finalBalanceColor"><b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss" title="{{ machineInfo.DAGBalances.finalBalance ? 
                                gUtils.microPAIToPAI6(machineInfo.DAGBalances.finalBalance) : 0  }}"><b>
                                    {{ machineInfo.DAGBalances.finalBalance ? 
                                gUtils.microPAIToPAI(machineInfo.DAGBalances.finalBalance) : 0  }}
                                </b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.finalBalanceColor">
                                <b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss"
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.finalBalance-machineInfo.DAGBalances.finalBalance)}}">
                                <b>{{ machineInfo.DAGBalancesPrev.finalBalance ? 
                                        gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.finalBalance) : 0  }}
                                </b>
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.finalBalanceColor">
                                <b>&nbsp;&nbsp;</b>
                            </td>
                            <td class="blnceClss"
                                title="{{gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.finalBalance-machineInfo.DAGBalancesPrev.finalBalance)}}">
                                <b>{{ machineInfo.DAGBalancesLock.finalBalance ? 
                                        gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.finalBalance) : 0  }}
                                </b>
                            </td>
                        </tr>

                        <tr>
                            <td>dblSpends:</td>
                            <td [style.background-color]="machineInfo.DAGBalances.waitedNormalsColor">&nbsp;&nbsp;
                            </td>
                            <td>{{ machineInfo.DAGBalances.waitedNormals.dblSpends.join(', ') }}</td>
                            <td [style.background-color]="machineInfo.DAGBalancesPrev.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td>{{ machineInfo.DAGBalancesPrev.waitedNormals.dblSpends.join(', ') }}</td>
                            <td [style.background-color]="machineInfo.DAGBalancesLock.waitedNormalsColor">
                                &nbsp;&nbsp;</td>
                            <td>{{ machineInfo.DAGBalancesLock.waitedNormals.dblSpends.join(', ') }}</td>
                        </tr>

                        <tr>
                            <td
                                title="{{ machineInfo.DAGBalances.nodeWealth? gUtils.sepNum(machineInfo.DAGBalances.nodeWealth.value):'' }} &micro;PAIs">
                                Node Wealth:
                            </td>
                            <td [style.background-color]="machineInfo.DAGBalances.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{ machineInfo.DAGBalances.nodeWealth ? machineInfo.DAGBalances.nodeWealth.details: '' }}">
                                {{ machineInfo.DAGBalances.nodeWealth? gUtils.microPAIToPAI(machineInfo.DAGBalances.nodeWealth.value):'' }}
                            </td>
                            <td title="{{ machineInfo.DAGBalancesPrev.nodeWealth ? machineInfo.DAGBalancesPrev.nodeWealth.details: '' }}"
                                [style.background-color]="machineInfo.DAGBalancesPrev.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{(machineInfo.DAGBalancesPrev.nodeWealth && machineInfo.DAGBalances.nodeWealth) ? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.nodeWealth.value-machineInfo.DAGBalances.nodeWealth.value):''}}">
                                {{ machineInfo.DAGBalancesPrev.nodeWealth? gUtils.microPAIToPAI(machineInfo.DAGBalancesPrev.nodeWealth.value):'' }}
                            </td>
                            <td title="{{ machineInfo.DAGBalancesLock.nodeWealth ? machineInfo.DAGBalancesLock.nodeWealth.details: '' }}"
                                [style.background-color]="machineInfo.DAGBalancesLock.nodeWealthColor">&nbsp;&nbsp;</td>
                            <td
                                title="{{machineInfo.DAGBalancesLock.nodeWealth ? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.nodeWealth.value-machineInfo.DAGBalancesPrev.nodeWealth.value):''}}">
                                {{ machineInfo.DAGBalancesLock.nodeWealth? gUtils.microPAIToPAI(machineInfo.DAGBalancesLock.nodeWealth.value):'' }}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>




        <tr>
            <td>
                <div class="utxoCntnr">
                    <table>
                        <tr>
                            <td title="{{ machineInfo.UTXOsInfo }}">
                                {{ machineInfo.UTXOsCount }} Unique UTXO:
                            </td>
                            <td>
                                <div [style.background-color]="machineInfo.visShoot"
                                    title="UTXOs visibility screen shoot">
                                    {{ machineInfo.visShoot }} Vis</div>
                            </td>
                            <td>
                                <div [style.background-color]="machineInfo.UTXOShoot" title="UTXO Codes screen shot">
                                    {{ machineInfo.UTXOShoot }} Code</div>
                            </td>
                        </tr>
                        <tr>
                            <td [style.background-color]="machineInfo.utxo12h.hash"
                                title="{{ machineInfo.utxo12h.hint }}">
                                {{ machineInfo.utxo12h.count }} UTXO used in 12H
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;" *ngIf="machineInfo">
                    <div [ngClass]="machineInfo.askForLeavesInfo == 'Y' ? 'askForLeavesInfoY': 'askForLeavesInfoN'">
                        Ask For Leaves Info: {{ machineInfo.askForLeavesInfo }}</div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">Inbox:</div>
                <div *ngFor="let file of machineInfo.inbox" class="filesList">
                    <div title="{{ file.hint }}">{{ file.hash }}</div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div style="margin: 5px !important; padding: 5px !important;">Parsing Q (
                        <b>{{machineInfo.parsingQCount[0]._count}}</b> ):</div>
                    <div *ngFor="let toP of machineInfo.parsingQ" class="filesList">
                        <div class="prsq1" [style.background-color]="gUtils.getBGColorByType(toP.pq_type)">
                            Block(#{{ toP.pq_code }}) From {{ toP.pq_sender.split('@')[0] }} attempts:
                            {{ toP.pq_parse_attempts }}
                        </div>
                        <div class="prsq2" [style.background-color]="'#'+toP.pq_code">&nbsp;</div>

                        <div class="prsqPreq" *ngFor="let pre of toP.prerequisites">
                            <div class="prsqPreq1"
                                [style.background-color]="machineInfo.blocksDict[pre] ? gUtils.getBGColorByType(machineInfo.blocksDict[pre].bType) : pre">
                                {{ pre }}
                            </div>
                            <div class="prsqPreq2" [style.background-color]="pre">
                                &nbsp;
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">
                    Sending Q({{ machineInfo ? machineInfo.sendingQ.length : 0 }}):
                </div>
                <div *ngFor="let toS of machineInfo.sendingQ" class="filesList">
                    <div title="{{ toS.hint }}">{{ toS.hash }} </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin: 5px !important; padding: 5px !important;">Outbox
                    ({{ machineInfo.outbox ? machineInfo.outbox.length:0 }}):</div>
                <div *ngFor="let file of machineInfo.outbox" class="filesList">
                    <div title="{{ file.hint }}">{{ file.hash }}</div>
                </div>
            </td>
        </tr>



    </table>

    <table>
        <tr>
            <td>
                Tests:
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button (click)="definitPushP4P('1')" style="background-color:#F7A441">
                    P4P Trx1
                </button>
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td>
                Accounting Report:
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button (click)="dlTrxList()" style="background-color: green">
                    download trx list
                </button>
            </td>
            <td>
                <input [(ngModel)]="leaveShortHash" size="10" style="padding-left: 10px;">
                <button mat-raised-button (click)="notInHistory()"
                    style="padding-left: 10px;background-color: burlywood">
                    Find the block not in history
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>{{ ancestorsRes}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input [(ngModel)]="stepBack" size="3" style="padding-left: 10px;" value="1">
                <button mat-raised-button (click)="getWAncestors()"
                    style="padding-left: 10px;background-color: rgb(192, 152, 100)">
                    get Ancestors
                </button>
            </td>
        </tr>

    </table>


</div>
