.mSet6 td{
    vertical-align: top;
}

.pgpCntnr5{
    font-size: 11px;
    padding: 15px 5px 25px 5px;
    background-color: rgb(184, 252, 138);
    height: 30px;
    overflow-y: scroll;
    word-break: break-all;
    width: 600px;
}
.MCNotiMsg{
    text-align: center;
    padding: 10px;
    color: magenta;
}
.st4Em{
    cursor: pointer;
    color: rgb(130, 11, 134);
}