<table class="mSet6">
    <tr>
        <td>
            <div style="width:270px !important;">
                <mat-hint>Dedicated Email Address: </mat-hint>
            </div>
        </td>

        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.address" type="email" pattern=".*@.*\..+"
                    placeholder="example@something.com" (change)="validateSettingsForm()" (click)="validateSettingsForm()"
                    (blur)="validateSettingsForm()">
                <div class="desc1" style="width: 500px;">
                    Your machine comiunicates to other miners via email.
                    <br> you MUST create a new email and dedicate it to machine,
                    to avoid auto delete your important emails.
                    Please use this email ONLY for this activity
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Email Check Interval:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.fetchingIntervalByMinute" type="text"
                    placeholder="Gap between mail checking" (change)="validateSettingsForm()" (click)="validateSettingsForm()"
                    (blur)="validateSettingsForm()">
                <div>
                    Almost all provider accept 5 minutes (specially free services)
                    be sure for more frequently pop email.
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>the password of dedicated email:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.pwd" minlength="4" type="text" placeholder="email's password"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Incoming server Host Name:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.incomingMailServer" type="text" placeholder="host name"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
                <div>
                    Usually host name is all right side charachters after @ in email
                    address. maybe your provider was added a "mail." prefix to it
                    <br>
                    e.g. your email is abs@gmail.com so the host will be mail.gmail.com or gmail.com
                </div>
            </div>
        </td>

    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Incoming mail server IMAP Port Number:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.incomeIMAP" type="text" placeholder="IMAP port number"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
                <div>Usually is 993 </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Incoming mail server POP3 Port Number:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.incomePOP3" type="text" placeholder="POP3 port number"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
                <div>Usually is 995, and sometime 110 </div>
            </div>
        </td>
    </tr>

    <tr style="height: 20px;">
        <td colspan="2">
            <div class="MCNotiMsg">{{ IMAPNotiMsg }}</div>
            <button mat-raised-button color="primary" (click)="testEmailServerIncomeConnection(emailType)">Test Receive
                Email({{emailSettings.address}}) Connection</button>
        </td>
    </tr>
    <tr style="height: 20px;">
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Outgoing server Host Name:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.outgoingMailServer" type="text" placeholder="host name"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
                <div>
                    Usually it is same as income mail server that described before.
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>SMTP port Number:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <input [(ngModel)]="emailSettings.outgoingSMTP" type="text" placeholder="SMTP port number"
                    (change)="validateSettingsForm()" (click)="validateSettingsForm()" (blur)="validateSettingsForm()">
                <div>Usually is 465(SSL), 587(TLS) and sometime 25 or 2525</div>
            </div>
        </td>
    </tr>

    <tr style="height: 20px;">
        <td colspan="2">
            <div class="st4Em" (click)="alterSendFormDsp()" >Send a test Email</div>
            <div *ngIf="dspEmailSendForm" >
                <div class="MCNotiMsg">{{ IMAPNotiMsg }}</div>
                <button mat-raised-button color="primary" (click)="testEmailServerOutgoingConnection(emailType)">
                    Send Email From ({{emailSettings.address}}) To</button>
                <input [(ngModel)]="testReceiver" type="text" placeholder="Test Receiver">
            </div>
        </td>
    </tr>
    <tr style="height: 20px;">
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <div>
                <mat-hint>Your Public iPGP key:</mat-hint>
            </div>
        </td>
        <td>
            <div class="leftpadd">
                <div class="pgpCntnr5">
                    {{ emailSettings.PGPPubKey }}
                    <br>
                    <br>
                </div>
            </div>
        </td>
    </tr>

</table>
